<template>
    <div>
        <Table :data="items.data" :headers="headers" ></Table>

    </div>

</template>

<script>
    import Table from '../elements/datatable'

export default {
    components: {Table},

    props: [],
    data: () => ({

    }),
    methods: {

        deleteItem(item){
            var answer = window.confirm("Διαγραφή Προϊόντος?")
            if (answer) {
                var self = this;
                axios.post('/manage/products/'+item.id +'/destroy')
                    .then(function (response) {
                        self.products();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }

        },

    },
    mounted() {
        this.fields();
    }
}
</script>

<style>
#keep .v-navigation-drawer__border {
    display: none
}
</style>

