<template>
	<div class="shadow-md rounded bg-white px-8  pb-8 mb-4 col-span-9 m-5">
        <div class="py-4">
            <a  :href="'/manage/categories/'" class="font-black" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.49 12 3.74 8.248m0 0 3.75-3.75m-3.75 3.75h16.5V19.5" />
            </svg>
                Κατηγορίες
            </a>
        </div>
		<div class="grid grid-cols-2 gap-4">
			<div>
				<h2 class="text-strong text-lg mb-2">Update Category</h2>

				<input-text id="name" class="mb-4" type="text" label="Url" v-model="category.name"/>
				<div v-for="(v, l) in category.title" :key="l">
					<input-text id="title" class="mb-4" type="text" :label="'Title ' + l" v-model="category.title[l]"/>
				</div>

				<input-text id="parent_id" class="mb-4" type="text" label="Parent Id" v-model="category.parent_id"/>
				<input-text id="erpid" class="mb-4" type="text" label="Erp Id" v-model="category.erp_id"/>

				<br/>

				<!--                <QuillEditor theme="snow" v-model="category.mega_menu_content"/>-->

				<br/>
			</div>

			<div>
				<label>Περιγραφή</label>

				<!--                      <QuillEditor v-model="category.description"/>-->

				<div v-for="(v, l) in category.meta_title" :key="l">
					<input-text id="meta_title" class="mb-4" type="text" :label="'Meta Title ' + l"
											v-model="category.meta_title[l]"/>
				</div>
				<input-text id="meta_Description" class="mb-4" type="text" label="Meta Description"
										v-model="category.meta_Description"/>

				<div class="form-check">
					<input true-value="1" false-value="0" id="active" type="checkbox" label="Ενεργή"
								 v-model="category.active"
								 class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"/>
					<label class="form-check-label inline-block text-gray-800" for="active"> Ενεργή </label>
				</div>

				<div class="form-check">
					<input true-value="1" false-value="0" id="hidden" type="checkbox" label="Απόκρυψη"
								 v-model="category.hidden"
								 class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"/>
					<label class="form-check-label inline-block text-gray-800" for="hidden"> Απόκρυψη </label>
				</div>

				<div class="form-check">
					<input true-value="1" false-value="0" id="mega_menu_is_active" type="checkbox"
								 label="Έχει Mega menu" v-model="category.mega_menu_is_active"
								 class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"/>
					<label class="form-check-label inline-block text-gray-800" for="mega_menu_is_active"> Έχει Mega
						menu </label>
				</div>

				<div class="form-check">
					<input true-value="1" false-value="0" id="mega_menu_content" type="checkbox"
								 label="Δυναμικά προϊόντα" v-model="category.dynamic_query_is_active"
								 class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"/>
					<label class="form-check-label inline-block text-gray-800" for="mega_menu_content"> Δυναμικά
						προϊόντα </label>
				</div>



					<button
							class="bg-green-500 text-white rounded-md shadow px-5 py-3 mt-4"
							v-on:click="updateCategory();loading = true;">
						<svg v-if="loading" role="status"
								 class="mr-2 w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 inline"
								 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
									d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
									fill="currentColor"/>
							<path
									d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
									fill="currentFill"/>
						</svg>
						ΕΝΗΜΕΡΩΣΗ ΚΑΤΗΓΟΡΙΑΣ
					</button>

			</div>
		</div>

		<div v-if="category.dynamic_query_is_active">
			<label>Mega Menu content</label>

			<my-query-builder :appendExtraRules="appendExtraRules" :manageQuery="false" :query="category.query"
												@setParentQuery="setQuery($event)"></my-query-builder>
		</div>


	</div>

	<div class="flex flex-wrap mt-4 ml-4 ">
        <button @click="deleteCategory()">Διαγραφή </button>

	</div>
</template>
<script>
const axios = require("axios").default;

import Tree from "../elements/Tree";
import inputText from "../elements/fields/textfield";


export default {
	components: {inputText},
	props: ["category"],
	data: () => ({
		loading: false,
		updateItemForm: false,
		language: null,
		appendExtraRules: [
			{
				type: "text",
				id: "created_at",
				label: "Ημ/νια Δημιουργίας",
				operators: ["=", "<", "<=", ">", ">=", "!="],
				choices: [],
			},
		],
		productCategories: [],
		categories: [],
		newCategory: {
			title: "sdf",
			name: "sdf",
			parent_id: null,
			erp_id: null,
			active: 1,
			hidden: 0,
			description: null,
			meta_title: null,
			meta_Description: null,
			mega_menu_is_active: 0,
			dynamic_query_is_active: 0,
			mega_menu_content: null,
			dynamic_query_content: null,
			order: 1,
			dynamic: 0,
			query: null,
		},
		updateItsem: "sdf",
		selectedParentId: null,
 	}),
	methods: {
		setQuery(query) {
			this.category.query = query;
		},
		selectedItem(value) {
			this.updateItem = value;
			this.category.query = JSON.parse(value.query);
			this.updateItemForm = true;
		},
		selectedItemId(value) {
			console.log("selected" + value);
			this.newCategory.parent_id = value;
			this.selectedParentId = value;
		},
        deleteCategory() {
            axios
                .delete("/manage/categories/" + this.category.id )
                .then(
                    function (response) {
                        this.loading = false;
                        // redirect to manage categories
                        window.location.href = "/manage/categories";
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
		createCategory() {
			axios
					.post("/manage/categories/create", this.newCategory)
					.then(
							function (response) {
								this.dialog = false;
								this.newCategory = {
									active: false,
									title: null,
									name: null,
									erp_id: null,
									description: null,
									meta_title: null,
									meta_description: null,
									dynamic: false,
								};
							}.bind(this)
					)
					.catch(function (error) {
						console.log(error);
					});
		},
		updateCategory() {
			let self = this;
			axios
					.post("/manage/categories/" + self.category.id + "/update", self.category)
					.then(
							function (response) {
								this.loading = false;
								this.getCategories();
							}.bind(this)
					)
					.catch(function (error) {
						console.log(error);
					});
		},
		loadCat(id) {
			axios
					.get("/manage/categories/" + id)
					.then(
							function (response) {
								this.editCategory = response.data;
							}.bind(this)
					)
					.catch(function (error) {
						console.log(error);
					});
		},
		editItem(item) {
			this.loadCat(item.id);
		},
		getCategories: function () {
			var self = this;
			axios
					.get("/manage/categories_list_json")
					.then(
							function (response) {
								var cat = response.data;
								cat.unshift({title: "Root", id: 0, parent_id: 0});
								self.categories = cat;
							}.bind(this)
					)
					.catch(function (error) {
						console.log(error);
					});
		},
		DeeltegetCategories: function () {
			var self = this;
			axios
					.get("/manage/categories_list_json")
					.then(
							function (response) {
								self.categories = response.data;
							}.bind(this)
					)
					.catch(function (error) {
						console.log(error);
					});
		},
	},
	computed: {
		renderProductCategories: {
			get() {
				return this.productcategories;
			},
			set(value) {
				this.productcategories = value;
			},
		},
	},
	created() {
		this.language = this.$languages[0];
		this.getCategories();
	},
};
</script>
