<template>
    <div class="shadow-md rounded bg-white px-8 pt-6 pb-8 mb-4 col-span-9 m-5">
        Categories
        <div class="grid grid-cols-2 gap-4">
            <div>
                <!-- @categoriesHasBeenUpdated="categoriesHasBeenUpdated($event)" -->
                <tree edit="true" @selected="selectedItem" @selectedItemId="selectedItemId" :language="language"
                      :product-categories="productCategories" :tree-data="categories"></tree>
            </div>
            <div v-if="updateItemForm">
                {{ updateItem.active }}
                <h2>Update Category</h2>
                <input-text id="name" class="mb-4" type="text" label="Url" v-model="updateItem.name"/>
                <div v-for="(v, l) in updateItem.title" :key="l">
                    <input-text id="title" class="mb-4" type="text" :label="'Title ' + l"
                                v-model="updateItem.title[l]"/>
                </div>

                <input-text id="parent_id" class="mb-4" type="text" label="Parent Id" v-model="updateItem.parent_id"/>
                <input-text id="erpid" class="mb-4" type="text" label="Erp Id" v-model="updateItem.erp_id"/>
                <label>
                    Is Active
                    <input true-value="1" false-value="0" id="active" class="mb-4" type="checkbox" label="Is active"
                           v-model="updateItem.active"/>
                </label>
                <br/>
                <label>
                    Is Hidden
                    <input true-value="1" false-value="0" id="hidden" class="mb-4" type="checkbox" label="Is hidden"
                           v-model="updateItem.hidden"/>
                </label>
                <br/>
                <ckeditor :editor="editor" v-model="updateItem.description"></ckeditor>
                <div v-for="(v, l) in updateItem.meta_title" :key="l">
                    <input-text id="meta_title" class="mb-4" type="text" :label="'Meta Title ' + l"
                                v-model="updateItem.meta_title[l]"/>
                </div>
                <input-text id="meta_Description" class="mb-4" type="text" label="Meta Description"
                            v-model="updateItem.meta_Description"/>
                <label>
                    Has Mega Menu
                    <input true-value="1" false-value="0" id="hidden" class="mb-4" type="checkbox" label=""
                           v-model="updateItem.mega_menu_is_active"/>
                </label>
                <br/>
                <label>Mega Menu content</label>
                <ckeditor :editor="editor" v-model="updateItem.mega_menu_content"></ckeditor>
                <br/>
                <label>
                    Has Dynamic Query
                    <input true-value="1" false-value="0" id="dynamic_query_is_active" class="mb-4" type="checkbox"
                           label="" v-model="updateItem.dynamic_query_is_active"/>
                </label>

                <br/>

                <div class="text-left">
                    <button @click="updateItemForm = false"
                            class="bg-red-500 text-white rounded-md shadow px-5 py-3 mt-2">Close
                    </button>
                    <div class="float-right">
                        <button
                            class="bg-green-500 text-white rounded-md shadow px-5 py-3 mt-2"
                            v-on:click="
                updateCategory();
                loading = true;
              "
                        >
                            <svg v-if="loading" role="status"
                                 class="mr-2 w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 inline"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor"/>
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentFill"/>
                            </svg>
                            ΕΝΗΜΕΡΩΣΗ ΚΑΤΗΓΟΡΙΑΣ
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="!updateItemForm">
                <h2>Δημιουργία</h2>
                <input-text id="name" class="mb-4" type="text" label="Url" v-model="newCategory.name"/>
                <input-text id="title" class="mb-4" type="text" label="Title" v-model="newCategory.title"/>
                <input-text id="parent_id" class="mb-4" type="text" label="Parent Id" v-model="newCategory.parent_id"/>
                <input-text id="erpid" class="mb-4" type="text" label="Erp Id" v-model="newCategory.erp_id"/>
                <label>
                    Is Active
                    <input true-value="1" false-value="0" id="active" class="mb-4" type="checkbox" label="Is active"
                           v-model="newCategory.active"/>
                </label>
                <br/>
                <label>
                    Is Hidden
                    <input true-value="1" false-value="0" id="hidden" class="mb-4" type="checkbox" label="Is hidden"
                           v-model="newCategory.hidden"/>
                </label>
                <br/>
                <ckeditor :editor="editor" v-model="newCategory.description"></ckeditor>
                <input-text id="meta_title" class="mb-4" type="text" label="Meta Title"
                            v-model="newCategory.meta_title"/>
                <input-text id="meta_Description" class="mb-4" type="text" label="Meta Description"
                            v-model="newCategory.meta_Description"/>
                <label>
                    Has Mega Menu
                    <input id="hidden" true-value="1" false-value="0" class="mb-4" type="checkbox" label=""
                           v-model="newCategory.mega_menu_is_active"/>
                </label>
                <label>Mega Menu content</label>
                <ckeditor :editor="editor" v-model="newCategory.mega_menu_content"></ckeditor>
                <label>
                    Has Dynamic Query
                    <input true-value="1" false-value="0" id="dynamic_query_is_active" class="mb-4" type="checkbox"
                           label="" v-model="newCategory.dynamic_query_is_active"/>
                </label>
                <div class="text-right">
                    <button class="bg-green-500 text-white rounded-md shadow px-5 py-3 mt-2"
                            v-on:click="createCategory">ΔΗΜΙΟΥΡΓΙΑ ΚΑΤΗΓΟΡΙΑΣ
                    </button>
                </div>
            </div>
        </div>

        <div v-if="updateItem.dynamic_query_is_active">
            <my-query-builder :appendExtraRules="appendExtraRules" :manageQuery="false" :query="updateItem.query"
                              @setParentQuery="setQuery($event)"></my-query-builder>
        </div>
    </div>
</template>
<script>
const axios = require("axios").default;

import Tree from "../elements/Tree";
import inputText from "../elements/fields/textfield";

export default {
    components: {inputText},
    data: () => ({
        loading: false,
        updateItemForm: false,
        language: null,
        appendExtraRules: [
            {
                type: "text",
                id: "created_at",
                label: "Ημ/νια Δημιουργίας",
                operators: ["=", "<", "<=", ">", ">=", "!="],
                choices: [],
            },
        ],
        productCategories: [],
        categories: [],
        newCategory: {
            title: "",
            name: "",
            parent_id: null,
            erp_id: null,
            active: 1,
            hidden: 0,
            description: null,
            meta_title: null,
            meta_Description: null,
            mega_menu_is_active: 0,
            dynamic_query_is_active: 0,
            mega_menu_content: null,
            dynamic_query_content: null,
            order: 1,
            dynamic: 0,
            query: null,
        },
        updateItsem: "sdf",
        updateItem: {},
        selectedParentId: null,
    }),
    methods: {
        setQuery(query) {
            this.updateItem.query = query;
        },
        selectedItem(value) {
            this.updateItem = value;
            this.updateItem.query = JSON.parse(value.query);
            this.updateItemForm = true;
        },
        selectedItemId(value) {
            console.log("selected" + value);
            this.newCategory.parent_id = value;
            this.selectedParentId = value;
        },
        createCategory() {
            axios
                .post("/manage/categories/create", this.newCategory)
                .then(
                    function (response) {
                        this.dialog = false;
                        this.newCategory = {
                            active: false,
                            title: null,
                            name: null,
                            erp_id: null,
                            description: null,
                            meta_title: null,
                            meta_description: null,
                            dynamic: false,
                        };
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateCategory() {
            let self = this;
            axios
                .post("/manage/categories/" + self.updateItem.id + "/update", self.updateItem)
                .then(
                    function (response) {
                        this.loading = false;
                        this.getCategories();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        loadCat(id) {
            axios
                .get("/manage/categories/" + id)
                .then(
                    function (response) {
                        this.editCategory = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        editItem(item) {
            this.loadCat(item.id);
        },
        getCategories: function () {
            var self = this;
            axios
                .get("/manage/categories_list_json")
                .then(
                    function (response) {
                        var cat = response.data;
                        cat.unshift({title: "Root", id: 0, parent_id: 0});
                        self.categories = cat;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        DeeltegetCategories: function () {
            var self = this;
            axios
                .get("/manage/categories_list_json")
                .then(
                    function (response) {
                        self.categories = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
    },
    computed: {
        renderProductCategories: {
            get() {
                return this.productcategories;
            },
            set(value) {
                this.productcategories = value;
            },
        },
    },
    created() {
        this.language = this.$languages[0];
        this.getCategories();
    },
};
</script>
