<template>
    <div class="shadow-md rounded bg-white  pt-6 pb-8 mb-4 col-span-9 m-5">
        <div class="border-b border-gray-200 pb-5 mb-4 px-4">
            <h2 class="text-base text-right font-semibold leading-6 text-gray-900 upercase">{{ activeMenu.title }}</h2>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="col-span-1">
                <!--custom href-->
                <div class="shadow-lg p-4 rounded mb-4">
                    <div @click="showHref = !showHref" class="cursor-pointer border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
                        <h3  class=" text-base font-semibold leading-6 text-gray-900">Δυναμικό λίνκ</h3>

                            <svg v-if="showHref" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                            <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>
                    </div>

                   <div v-if="showHref">
                       <div :class="'grid grid-cols-'+languages.length" class="mb-4 gap-4">
                           <div  v-for="l in languages" :key="l.name">
                               <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Τίτλος {{l.title}}</label>
                               <div class="mt-2">
                                   <input  v-model="customTitle[l.name]" type="text"   id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                               </div>
                           </div>
                       </div>
                       <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Url</label>
                       <div class="mt-2">
                           <input  v-model="customHref" type="text"   id="customhref" autocomplete="given-name" class="mb-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                       </div>
                       <button @click="addCustomHref" type="button" class=" rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Προσθήκη</button>

                   </div>
                </div>
                <!--Images-->
                <div class="shadow-lg p-4 mb-4">
                    <div @click="showImageUpload = !showImageUpload" class="cursor-pointer border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
                        <h3  class=" text-base font-semibold leading-6 text-gray-900">Ανέβασμα Φωτογραφίας</h3>

                        <svg v-if="showHref" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                        </svg>

                    </div>
                    <div v-if="showImageUpload" class="px-2 mt-2">
                        <input type="file" @change="onFileChange" ref="file" class=" "/>
                        <button @click="uploadImage" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
                    </div>
                </div>

                <div class="shadow-lg p-4 rounded mb-4">
                    <div @click="showCategorieTree = !showCategorieTree"  class="cursor-pointer border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
                        <h3 class=" text-base font-semibold leading-6 text-gray-900">Κατηγορίες Προϊόντων</h3>
                        <svg v-if="showHref" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                        </svg>
                    </div>
                    <div v-if="showCategorieTree">

                        <tree :edit="false" :picker="true" @pickedCategory="handlePickedCategory" :language="language" :product-categories="productCategories" :tree-data="categories"></tree>
                    </div>
                </div>
            </div>

            <draggable-tree-node   :items="menu" v-model="menu" :languages="languages" :language="language"/>

        </div>

    </div>
    <button @click="saveMenu" type="button"
            class="rounded bg-indigo-600 ml-4 px-4 py-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Αποθήκευση Μενού
    </button>
</template>

<script>
import axios from 'axios';
import tree from "@/components/elements/Tree.vue";
import DraggableTreeNode from "@/components/elements/menu/DraggableTreeNode.vue";
import {VueDraggable} from 'vue-draggable-plus'
import {ref, onMounted} from 'vue'
import {useLanguageStore} from '../../stores/languageStore';
import {toast} from "vue3-toastify";

const languageStore = useLanguageStore();
const languages = ref([]);
const language = 'el'
onMounted(async () => {
    await languageStore.fetchLanguages();
    languages.value = languageStore.languages;
});
export default {
    props: {
        stracture: {
            type: String,
            required: true,
        },
        activeMenu: {
            type: Object,
            required: true,
        },
    },
    components: {VueDraggable, DraggableTreeNode, tree},
    data: () => ({
        showCategorieTree: false,
        showImageUpload: false,
        showHref: false,
        dragOptions: {
            animation: 200,
            group: {
                name: 'items',
                pull: 'clone',
                put: true
            },
            sort: true,
            // ... other sortable options
        },
        menu: [],
        customName: '',
        customTitle: {},
        customIcon: '',
        customHref: '',
        loading: false,
        language: null,
        languages: [],
        productCategories: [],
        categories: [],
        updateItem: {},
        selectedParentId: null,
        file: null,
    }),
    computed: {
        sortedItems() {
            // Use nested-sort to sort items based on the specified sort order
            const sorted = NestedSort(this.items, 'name', this.sortOrder);
            return sorted;
        },
    },
    methods: {
        onStart(event) {

        },
        onEnd(event) {

        },
        onFileChange(e) {
            const file = e.target.files[0];
            this.file = file;
        },
        uploadImage() {
            const formData = new FormData();
            formData.append('file', this.file);
            axios.post('/manage/upload-image', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then(response => {
                   console.log(response.data)
                    toast.success('Η εικόνα ανέβηκε επιτυχώς');
                    this.menu.push({
                        title: {el: 'Εικόνα'},
                        type: 'image',
                        name: 'alt name here',
                        icon: response.data.url,
                        width: 100,
                        children: [],
                        isOpen: true,
                        hideΤitle: true,
                        disableLink: true,
                        href:'#'
                    });
                })
                .catch(error => {
                    console.log(error);
                });
        },
        saveMenu() {
            // save this menu as file in server
            axios.put('/manage/menu/' + this.activeMenu.id, {data: this.menu})
                .then(response => {
                    toast.success('Το μενού αποθηκεύτηκε επιτυχώς');
                })
                .catch(error => {
                    console.log(error);
                });
        },
        sortItems() {
            this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
            this.items = NestedSort(this.items, 'name', this.sortOrder);
        },
        onDragEnd() {
            // Optional: handle the drag end event if needed
            console.log('Drag End');
        },
        handlePickedCategory(value) {
            this.menu.push({
                ...value,
                children: value.children || [],
                isOpen: true,
                hideTitle: false,
            });
            this.$forceUpdate();
        },
        removeItem(array, index) {
            array.splice(index, 1);
        },

        addCustomHref() {
            this.menu.push({
                id: Date.now(),
                type: 'href',
                title: this.customTitle,
                name: this.customHref,
                icon: this.customIcon,
                children: [],
                isOpen: true
            });
            this.customTitle = {};
            this.customHref = '';
            this.customIcon = '';
        },

        updateMenu(newMenu) {
            this.menu = [...newMenu];
        },
        updateTreeData() {
            console.log('Tree data updated', this.menu);
        },
        getLanguages() {

            axios
                .get("/manage/get-languages-list")
                .then(response => {
                    this.languages = response.data;
                } )
                .catch(error => {
                    console.log(error);
                });
        },
        getCategories() {
            axios
                .get("/manage/categories_list_json")
                .then(response => {
                    const cat = response.data;
                    cat.unshift({title: {el: "Root"}, id: 0, parent_id: 0});
                    this.categories = cat;
                })
                .catch(error => {
                    console.log(error);
                });
        },
    },
    created() {
        this.getLanguages();

        this.language = 'el';
        this.getCategories();
    },
    mounted() {
        if (this.stracture != null && this.stracture != '') {
            this.menu = JSON.parse(this.stracture);
        }
    },
};
</script>

<style>
.handle {
    cursor: move;
}



.sortable-ghost {
    background: #ebebeb;
}

.handle {
    cursor: move;
    left: -25px;
    top: 6px;
}
</style>
