<template>
    <div>
        <div class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4 grid grid-cols-4 gap-4 mb-4">
            <div class="col-span-4">New Courier</div>
            <div>
                <input-text v-model="courier.title" placeholder="Title" label="Title" />
            </div>
            <div>
                <input type="text" v-model="courier.name" label="price" required />
            </div>
            <div>
                <input type="text" v-model="courier.model" label="Class;" hide-details />
            </div>
            <div>
                <input type="text" v-model="courier.amount" label="Σταθερή Τιμή" hide-details />
            </div>
            <div class="col-span-4">
                <div class="grid grid-cols-6 gap-6" v-for="p in prices">
                    <input-select v-model="p.country" value="id" :translatable="false" :selectableOptions="['ΕΛΛΑΔΑ']" placeholder="Field" label="Country" />
                    <input-select v-model="p.region" value="id" :translatable="false" :selectableOptions="['ΗΡΑΚΛΕΙΟ']" placeholder="Field" label="Region" />
                    <input-text v-model="p.min_weight" placeholder="0" label="Min Weight" />
                    <input-text v-model="p.max_weight" placeholder="0" label="max Weight" />
                    <input-text v-model="p.price" placeholder="0" label="Price" />
                </div>
            </div>
            <div>
                <button class='bg-green-500 py-3 px-5 text-white' v-if="!edit" v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ </button>
                <!--                 <button class='bg-green-500 py-3 px-5 text-white' v-if="edit" v-on:click="update">ΕΝΗΜΕΡΩΣΗ</button>-->
            </div>
        </div>
        <div class="grid grid-1 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        </div>
    </div>
</template>
<script>
import inputSelect from '../elements/fields/selectfield';
import inputText from '../elements/fields/textfield';
export default {
    components: {},
    props: [],
    data: () => ({
        prices: [{
            field: 'country',
            value: ''
        }],
        courier: {
            title: null,
            name: null,
            model: null,
            amount: null,
            price: null,
        }
    }),
    methods: {
        create() {
            alert('create');
        }
    },
    created() {},
    mounted() {}
}

</script>
