<template>
  <div class="container p-12 mx-auto">
    <div class="flex flex-col w-full px-0 mx-auto md:flex-row">
      <div class="flex flex-col md:w-full">
        <h2 class="mb-4 text-es-gold md:text-lg font-bold text-heading">1) Διεύθυνση Χρέωσης</h2>
        <div class="justify-center w-full mx-auto">
          <div class="">
            <div class="flex items-center mt-4">
              <span class="text-gray-500 font-bold">Είδος Παραστατικού</span>

              <label class="flex items-center text-sm group text-heading ml-4">
                <input type="radio" v-model="checkout.invoice_status" value="Απόδειξη" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 text-gray-500">Απόδειξη</span></label
              >

              <label class="flex items-center text-sm group text-heading ml-4">
                <input type="radio" v-model="checkout.invoice_status" value="Τιμολόγιο" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 text-gray-500">Τιμολόγιο</span></label
              >
            </div>
            {{ timologio }}
            <div class="mt-4">
              <div class="w-full">
                <label for="Email" class="block mb-3 font-bold text-sm text-gray-500">EMAIL</label>
                <input id="email" v-model="checkout.email" type="text" class="w-full px-4 py-3 text-gray-500 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>

            <div class="timologio" v-if="checkout.invoice_status == 'Τιμολόγιο'">
              <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
                <div class="w-full lg:w-1/2">
                  <label for="vat" class="block mb-3 font-bold text-sm text-gray-500">ΑΦΜ</label>
                  <input id="vat" v-model="checkout.afm" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
                </div>
                <div class="w-full lg:w-1/2">
                  <label for="doy" class="block mb-3 font-bold text-sm text-gray-500">ΔΟΥ</label>
                  <input id="doy" v-model="checkout.doy" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
                </div>
              </div>
              <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
                <div class="w-full lg:w-1/2">
                  <label for="company" class="block mb-3 font-bold text-sm text-gray-500">ΕΠΩΝΥΜΙΑ ΕΤΑΙΡΙΑΣ</label>
                  <input type="text" id="company" v-model="checkout.company" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
                </div>
                <div class="w-full lg:w-1/2">
                  <label for="activity" class="block mb-3 font-bold text-sm text-gray-500">ΔΡΑΣΤΗΡΙΟΤΗΤΑ</label>
                  <input name="activity" v-model="checkout.activity" type="text" placeholder="" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
                </div>
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-1/3">
                <label for="firstName" class="block mb-3 font-bold text-sm text-gray-500">ΟΝΟΜΑ</label>
                <input v-model="checkout.billing_name" id="firstName" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/3">
                <label for="lastname" class="block mb-3 font-bold text-sm text-gray-500">ΕΠΙΘΕΤΟ</label>
                <input v-model="checkout.billing_lastname" id="lastname" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>

              <div class="w-full lg:w-1/3">
                <label for="number" class="block mb-3 font-bold text-sm text-gray-500">ΤΗΛΕΦΩΝΟ</label>
                <input id="number" type="text" v-model="checkout.billing_mobile" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-1/3">
                <label for="billingcountry" class="block font-bold mb-3 text-sm text-gray-500">ΧΩΡΑ</label>

                <select id="billingcountry" v-model="checkout.selectedCountry" v-on:change="getCounties" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                  <option v-for="c in countries" :value="c" selected>{{ c.title }}</option>
                </select>
              </div>
              <div class="w-full lg:w-1/3">
                <label for="billingregion" class="block font-bold mb-3 text-sm text-gray-500">ΝΟΜΟΣ</label>

                <select id="billingregion" v-model="checkout.selectedCounty" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                  <option v-for="c in counties" :value="c" selected>{{ c.title }}</option>
                </select>
              </div>
              <div class="w-full lg:w-1/3">
                <label for="city" class="block mb-3 text-sm font-bold text-gray-500"> ΠΟΛΗ</label>
                <input id="city" type="text" v-model="checkout.billing_city" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>
            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-4/6">
                <label for="address" class="block mb-3 text-sm font-bold text-gray-500">Δ/ΝΣΗ</label>
                <input v-model="checkout.billing_street" id="address" type="text" class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/5">
                <label for="address_number" class="block mb-3 font-bold text-sm text-gray-500">ΑΡΙΘΜΟΣ</label>
                <input v-model="checkout.billing_street_number" id="address_number" type="text" class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/5">
                <label for="zip" class="block mb-3 text-sm font-bold text-gray-500">T.K.</label>
                <input v-model="checkout.billing_zip" id="zip" type="text" class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>

            <div class="flex items-center mt-4 border-b-2 border-gray-200 mb-2 pb-2">
              <label class="flex items-center font-bold text-sm group text-heading">
                <input type="checkbox" v-model="checkout.createAccount" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 mb-4 text-gray-500 text-heading pt-4">ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</span>
              </label>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-4" v-if="checkout.createAccount">
              <div class="w-full lg:w-1/2">
                <label for="createpassword" class="block mb-3 text-sm text-gray-500">ΚΩΔΙΚΟΣ</label>
                <input id="createpassword" autocomplete="off" type="password" v-model="checkout.password" class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/2">
                <label for="passwordconfirm" class="block mb-3 text-sm text-gray-500">ΕΠΙΒΕΒΑΙΩΣΗ ΚΩΔΙΚΟΥ</label>
                <input id="passwordConfirm" autocomplete="off" type="password" v-model="checkout.password_confirmation" class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>

            <div class="flex items-center mt-4 border-b-2 border-gray-200 mb-2 pb-2">
              <span class="text-es-gold md:text-lg font-bold text-heading">2) Διεύθυνση Αποστολής:</span>
              <label class="flex items-center text-sm group text-heading ml-4">
                <input type="radio" v-model="checkout.deferent_shipping_address" :value="false" name="parastiko" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 text-gray-500">Ίδια με τη Διεύθυνση Χρέωσης</span></label
              >

              <label class="flex items-center text-sm group text-heading ml-4">
                <input type="radio" :value="true" v-model="checkout.deferent_shipping_address" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 text-gray-500">Νέα Διεύθυνση</span></label
              >
            </div>
          </div>

          <div v-if="checkout.deferent_shipping_address">
            <div class="mt-4">
              <div class="w-full">
                <label for="sEmail" class="block mb-3 text-sm text-gray-500 Νέα Διεύθυνση">EMAIL</label>
                <input id="semail" v-model="checkout.email" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>
            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-1/3">
                <label for="sfirstName" class="block mb-3 text-sm text-gray-500">ΟΝΟΜΑ</label>
                <input v-model="checkout.shipping_name" id="sfirstName" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/3">
                <label for="slastname" class="block mb-3 text-sm text-gray-500">ΕΠΙΘΕΤΟ</label>
                <input v-model="checkout.shipping_lastname" id="slastname" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>

              <div class="w-full lg:w-1/3">
                <label for="snumber" class="block mb-3 text-sm text-gray-500">ΤΗΛΕΦΩΝΟ</label>
                <input id="snumber" type="text" v-model="checkout.shipping_mobile" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>
            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-1/3">
                <label for="sbilling_country" class="block mb-3 text-sm text-gray-500">ΧΩΡΑ</label>

                <select id="sbilling_country" v-model="checkout.selectedCountry" v-on:change="getCounties" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                  <option v-for="c in countries" :key="c.id" :value="c" selected>{{ c.title }}</option>
                </select>
              </div>
              <div class="w-full lg:w-1/3">
                <label for="billingregion" class="block mb-3 text-sm text-gray-500">ΝΟΜΟΣ</label>

                <select id="billingregion" v-model="checkout.selectedCounty" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                  <option v-for="c in counties" :key="c.id" :value="c" selected>{{ c.title }}</option>
                </select>
              </div>
              <div class="w-full lg:w-1/3">
                <label for="scity" class="block mb-3 text-sm text-gray-500"> ΠΟΛΗ</label>
                <input id="scity" type="text" v-model="checkout.shipping_city" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>
            <div class="space-x-0 lg:flex lg:space-x-4 mt-4">
              <div class="w-full lg:w-4/6">
                <label for="saddress" class="block mb-3 text-sm text-gray-500">Δ/ΝΣΗ</label>
                <input v-model="checkout.shipping_street" id="saddress" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/5">
                <label for="address_number" class="block mb-3 text-sm text-gray-500">ΑΡΙΘΜΟΣ</label>
                <input v-model="checkout.billing_street_number" id="address_number" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
              <div class="w-full lg:w-1/5">
                <label for="szip" class="block mb-3 text-sm text-gray-500">T.K.</label>
                <input v-model="checkout.shipping_zip" id="szip" type="text" class="w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600" />
              </div>
            </div>
          </div>

          <div v-if="checkout.selectedCountry != null && checkout.selectedCounty != null" class="mb-2 mt-8 block">
            <h2 class="text-es-gold md:text-lg font-bold text-heading mb-4">3) Μέθοδος Αποστολής</h2>

            <div class="flex items-center mr-4 mb-4" v-for="shipping in shippings" :key="shipping.id" @click="setShipping(shipping)">
              <div>
                <input :id="'shipping' + shipping.id" type="radio" name="shipping" class="hidden" checked />
                <label :for="'shipping' + shipping.id" class="flex items-center cursor-pointer text-gray-500 text-lg">
                  <span class="w-6 h-6 inline-block mr-2 rounded-full border border-grey flex-no-shrink text-es-blue"></span>
                  {{ shipping.name }}
                  <div class="text-es-gold pl-2">{{ shipping.max_total < this.cartdetails["sub_total"] ? shipping.price.toFixed(2) : shipping.min_price.toFixed(2) }}€</div>
                </label>
              </div>
            </div>

            <!-- <div v-if="!hasOwnPayment">
              <div class="flex items-center" v-for="shipping in shippingAndPaymentRules[shippingAndPaymentRules.length - 1].accepted_shipping" :key="shipping.id">
                <div v-if="shipping.zip.length > 0 && shipping.zip.includes(checkout.billing_zip)" class="mr-4 mb-4" @click="setShipping(shipping)">
                  <input :id="'shipping' + shipping.id" type="radio" name="shipping" class="hidden" />
                  <label :for="'shipping' + shipping.id" class="flex items-center cursor-pointer text-gray-500 text-lg">
                    <span class="w-6 h-6 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                    {{ shipping.name }} - {{ shipping.price > cartdetails["total"] ? shipping.price.toFixed(2) : shipping.min_price.toFixed(2) }}€
                  </label>
                </div>

                <div v-else-if="shipping.zip.length < 1" class="mr-4 mb-4" @click="setShipping(shipping)">
                  <input :id="'shipping' + shipping.id" type="radio" name="shipping" class="hidden" />
                  <label :for="'shipping' + shipping.id" class="flex items-center cursor-pointer text-gray-500 text-lg">
                    <span class="w-6 h-6 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                    {{ shipping.name }} - {{ shipping.price.toFixed(2) }}€
                  </label>
                </div>
              </div>
            </div> -->

            <h2 class="text-es-gold md:text-lg font-bold text-heading mb-4">4) Μέθοδος Πληρωμής</h2>
            <div class="flex items-center mr-4 mb-4" v-if="selectedShipping != null" v-for="payment in selectedShipping.accepted_payments" :key="payment.id" @click="setPayment(payment)">
              <input :id="'payment' + payment.id" type="radio" name="payment" class="hidden" checked />
              <label :for="'payment' + payment.id" class="flex items-center cursor-pointer text-gray-500 text-lg">
                <span class="w-6 h-6 inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                {{ payment.name }}</label
              >
            </div>

            <div class="text-es-gold md:text-lg font-bold text-heading mb-4" v-else>Επιλέξτε τρόπο αποστολής</div>
          </div>

          <div class="relative pt-3 xl:pt-6">
            <label for="notes" class="block mb-3 text-sm text-gray-500"> ΣΧΟΛΙΑ </label>
            <textarea v-model="checkout.comment" id="notes" class="flex items-center w-full px-4 py-3 text-sm text-gray-500 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-600" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full ml-0 lg:ml-12 lg:w-2/5">
        <div class="pt-12 md:pt-0 2xl:ps-4">
          <h2 class="mb-4 text-es-gold md:text-xl font-bold text-heading">Ανασκόπηση Παραγγελίας</h2>
          <div class="mt-8">
            <div class="flex flex-col space-y-4">
              <div class="flex space-x-4" v-for="cc in cartcontent" :key="cc.id">
                <div>
                  <img :src="cc.attributes.img_url" alt="image" class="w-28" />
                </div>
                <div class="mt-12">
                  <h2 class="text text-es-blue">{{ cc.name }}</h2>
                  <p class="text-es-gold">{{ cc.price }}€ x {{ cc.quantity }}</p>
                  <span class="text-es-blue">Τιμή {{ cc.price * parseInt(cc.quantity) }}€</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex p-4 mt-4">
            <!--            <h2 class="text-xl font-bold">ITEMS 2</h2>-->
          </div>
          <div class="text-gray-500 flex items-center w-full py-4 text-sm border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
            Τιμή: <span class="ml-2 text-right font-bold">{{ cartdetails["sub_total"].toFixed(2) }}€</span>
          </div>
          <div v-if="selectedShipping != null" class="text-gray-500 flex items-center w-full py-4 text-sm border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
            {{ selectedShipping.name }}
            <span v-if="selectedShipping != null" class="ml-2 text-gray-500">{{ checkout.selectedShippingCost }}€</span>
          </div>

          <div v-if="selectedPayment != null" class="text-gray-500 flex items-center w-full py-4 text-sm border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
            {{ selectedPayment.name }}
            <span v-if="selectedShipping != null" class="ml-2 text-gray-500">{{ selectedPayment.price }}€</span>
          </div>

          <div v-for="c in cartdetails.conditions" :key="c.id" class="flex items-center w-full py-4 text-sm border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
            {{ c.type }} {{ c.name }}
            <span class="ml-2 text-gray-500">{{ c.value }}</span>
          </div>

          <div class="text-gray-500 flex items-center w-full py-4 text-sm border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
            Τελικό σύνολο<span class="ml-2 text-gray-500">{{ totalSum }}€</span>
          </div>

<div class="flex items-center mt-4   border-gray-200   ">
              <label class="flex items-center font-bold text-sm group text-heading">
                <input type="checkbox" v-model="checkout.createAccount" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2   text-gray-500 text-heading  " >Εγγραφή στο newslletter</span>
              </label>
          </div>

          <div class="flex items-center   border-gray-200 mb-2 pb-2">
              <label class="flex items-center font-bold text-sm group text-heading">
                <input type="checkbox" v-model="policy" class="w-5 h-5 border border-gray-300 rounded focus:outline-none focus:ring-1" />
                <span class="ml-2 mb-4 text-gray-500 text-heading pt-4" >Αποδέχομαι τους <a class="text-es-gold" target='_blank' href='/content/oroi-hrisis'>όρους χρήσης</a></span>
              </label>
          </div>

          <div class="mt-4" >
            <button  v-if="policy" class="w-full px-6 py-2 text-white bg-es-blue hover:bg-es-gold" @click="completeCheckout">ΟΛΟΚΛΗΡΩΣΗ</button>
            <span v-else class="w-full px-6 py-2 text-white bg-es-gold  "> Αποδεχτείται τους όρους χρήσης .</span>

         </div>
          
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["countries", "cartitems", "conditions", "cartdetails", "cartcontent"],
  components: {},
  data: () => ({
    policy: false,
    voucher_code: null,
    signinForm: false,
    account: {
      email: null,
      password: null,
    },
    user: {},
    checkout: {
      invoice_status: "Απόδειξη",
      deferent_shipping_address: false,
      email: null,
      selectedCountry: null,
      selectedCounty: null,
      billing_name: null,
      billing_lastname: null,
      billing_street: null,
      billing_zip: null,
      billing_city: null,
      billing_mobile: null,
      shipping_name: null,
      payment_name: null,
      shipping_lastname: null,
      shipping_street: null,
      shipping_zip: null,
      shipping_city: null,
      shipping_mobile: null,
      payment: null,
      shipping: null,
      createAccount: false,
      password: null,
      password_confirmation: null,
      comment: null,
      afm: null,
      doy: null,
      company: null,
      activity: null,
      selectedShippingCost: null,
    },
    order: {},

    counties: [],
    selectedPayment: null,
    selectedShipping: null,
    selectedCounty: null,
    selectedCountry: null,
    shipping_id: null,
    payment_id: null,
    hasOwnPayment: false,

    shippingAndPaymentRules: [
      {
        name: "Ηράκλειο",
        id: 14,
        accepted_shipping: [
          {
            name: "premium (παράδοση εντός 48 ωρών)",
            id: 5,
            price_by_weight: [],
            price: 1,
            max_total: 29,
            min_price: 3.5,
            weight: [],
            zip: ["71201", "71202", "71303", "71304", "71305", "71306", "71307", "71309", "71409", "71414", "71601", "71410", "71408"],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
          {
            name: "Παραλαβή απο το κατάστημα μας",
            id: 1,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            weight: [],
            zip: [],
            tk: [],
            accepted_payments: [
              {
                name: "Πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Πληρωμή στο κατάστημα",
                id: 3,
                price: null,
              },
            ],
          },
          {
            name: "Γενική Ταχυδρομική",
            id: 2,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            weight: [],
            zip: [],
            tk: [],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
          {
            name: "ACS Courier",
            id: 3,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            zip: [],
            weight: [],
            tk: [],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
        ],
      },
      {
        name: "All",
        id: 0,
        accepted_shipping: [
          {
            name: "premium (παράδοση εντός 48 ωρών)",
            id: 5,
            price_by_weight: [],
            price: 1.0,
            max_total: 29,
            min_price: 3.5,
            weight: [],
            zip: ["18541", "10431", "10432", "10433", "10434", "10435", "10436", "10437", "10438", "10439", "10440", "10441", "10442", "10443", "10444", "10445", "10446", "10447", "10551", "10552", "10553", "10554", "10555", "10556", "10557", "10558", "10559", "10560", "10561", "10562", "10563", "10564", "10671", "10672", "10673", "10674", "10675", "10676", "10677", "10678", "10679", "10680", "10681", "10682", "10683", "11141", "11142", "11143", "11144", "11145", "11251", "11252", "11253", "11254", "11255", "11256", "11257", "11361", "11362", "11363", "11364", "11454", "11471", "11472", "11473", "11474", "11475", "11476", "11521", "11522", "11523", "11524", "11525", "11526", "11527", "11528", "11533", "11551", "11631", "11632", "11633", "11634", "11635", "11636", "11741", "11742", "11743", "11744", "11745", "11835", "11851", "11852", "11853", "11854", "11855", "12131", "12132", "12133", "12134", "12135", "12136", "12137", "12141", "12241", "12242", "12243", "12244", "12351", "12461", "12462", "13121", "13122", "13123", "13231", "13232", "13561", "13562", "14121", "14122", "14123", "14231", "14232", "14233", "14234", "14235", "14341", "14342", "14343", "15451", "16121", "18120", "18121", "18122", "18233", "18344", "18345", "18346", "18450", "18451", "18452", "18453", "18454", "18531", "18532", "18533", "18534", "18535", "18536", "18537", "18538", "18539", "18540", "18541", "18542", "18543", "18544", "18545", "18546", "18547", "18648", "18755", "18756", "18757", "18758", "11145", "11146", "11147", "14561", "14562", "14563", "14564", "15121", "15122", "15123", "15124", "15125", "15126", "15237", "15231", "15232", "15233", "15234", "15235", "15238", "15452", "15341", "15342", "15343", "15344", "15561", "15562", "15669", "15771", "15772", "15773", "16231", "16232", "16233", "16121", "16122", "17121", "17122", "17123", "17124", "17671", "17672", "17673", "17674", "17675", "17676", "17236", "17237", "15236", "14671", "15127", "17341", "17342", "17343", "15235", "16671", "16673", "16561", "16562", "16674", "16675", "17234", "17235", "17236", "17237", "14572", "14578", "16777", "16341", "16342", "16343", "16344", "16345", "16346", "16451", "16452", "14569", "15349", "17561", "17562", "17563", "17564", "17455", "17456", "17778", "14451", "14452", "18863", "14565", "16672", "15354", "14576", "13341", "13344", "13671", "13673", "13676", "14568", "14574", "14575", "57019", "57000", "56727", "56728", "57004", "54628", "56122", "57009", "55135", "55132", "55133", "55134", "55131", "57008", "54250", "54248", "54249", "54351", "54352", "54453", "54454", "54645", "54646", "54621", "54622", "54623", "54624", "54625", "54626", "54627", "54628", "54629", "54640", "54641", "54642", "54630", "54631", "54632", "54633", "54634", "54635", "54636", "54638", "54655", "54656", "55236", "55337", "56224", "56225", "56226", "56238", "56429", "56334", "56121", "56122", "56123", "56430", "56431", "56437", "56532", "56533", "56625", "56626", "57400", "55534", "55535", "55536", "57013", "57001"],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
          {
            name: "Γενική Ταχυδρομική",
            id: 2,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            weight: [],
            zip: [],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
          {
            name: "ACS Courier",
            id: 3,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            weight: [],
            zip: [],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
          {
            name: "ΕΛΤΑ",
            id: 4,
            price_by_weight: [],
            price: 0,
            max_total: 29,
            min_price: 2.5,
            weight: [],
            zip: [],
            accepted_payments: [
              {
                name: "Πληρωμή με πιστωτική/χρεωστική κάρτα",
                id: 2,
                price: 0,
              },
              {
                name: "Αντικαταβολή",
                id: 1,
                price: 1.5,
              },
            ],
          },
        ],
      },
    ],
    apa: 0,
  }),
  methods: {
    signInUser() {
      var self = this;
      axios
        .post("/user/login", { account: self.account })
        .then(
          function (response) {
            self.user = response.data;
            // window.location.replace(response.data.redirect_url)
          }.bind(self)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
    checkForCoupon() {
      axios
        .post("/check_for_voucher", { code: this.voucher_code })
        .then(function (response) {
          if (response.data.status) {
          } else {
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    completeCheckout() {
      var self = this;
      axios
        .post("/cart/checkout/", { checkout: self.checkout })
        .then(
          function (response) {
            if (response.data.error != undefined) {
              console.log("error found");
            }

            var form = document.createElement("form");
            var order_id = document.createElement("input");
            var payment = document.createElement("input");
            var email = document.createElement("input");
            var token = document.createElement("input");

            form.method = "POST";
            form.action = response.data.redirect_url;

            order_id.value = response.data.order_id;
            order_id.name = "order_id";
            form.appendChild(order_id);

            payment.value = this.checkout.payment.id;
            payment.name = "payment_id";
            form.appendChild(payment);

            payment.value = document.head.querySelector('meta[name="csrf-token"]').getAttribute("content");
            payment.name = "_token";
            form.appendChild(payment);

            document.body.appendChild(form);

            form.submit();
          }.bind(self)
        )
        .catch(function (error) {
          console.log("error found");
          console.log(error);
        });
    },
    getCounties() {
      var self = this;
      axios
        .get("/country/" + self.checkout.selectedCountry.id + "/counties")
        .then(
          function (response) {
            self.counties = response.data;
          }.bind(self)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
    setShipping(shipping) {
      this.selectedShipping = shipping;

      if (shipping.max_total > this.cartdetails["sub_total"]) {
        this.checkout.selectedShippingCost = shipping.min_price;
      } else {
        this.checkout.selectedShippingCost = shipping.price;
      }

      this.checkout.shipping = shipping;
      this.checkout.courier_name = shipping.name;
    },
    setPayment(payment) {
      this.selectedPayment = payment;
      this.checkout.payment = payment;
      this.checkout.payment_name = payment.name;
    },
  },
  watch: {
    checkout: {
      // This will let Vue know to look inside the array
      deep: true,
      // We have to move our method to a handler field
      handler() {
        localStorage.setItem("myData", JSON.stringify(this.checkout));
      },
    },
    "checkout.selectedCounty": function (newVal, oldVal) {
      this.hasOwnPayment = false;
      for (let a = 0; a < this.shippingAndPaymentRules.length; a++) {
        if (newVal.id == this.shippingAndPaymentRules[a].id) {
          this.hasOwnPayment = true;
        }
      }
    },
  },
  computed: {
    shippings() {
      var payment = [];
      if (this.checkout.selectedCountry != null && this.checkout.selectedCounty != null) {
        for (var a = 0; a < this.shippingAndPaymentRules.length; a++) {
          if (this.hasOwnPayment) {
            console.log("sf");
            if (this.checkout.selectedCounty.id == this.shippingAndPaymentRules[a].id) {
              for (var b = 0; b < this.shippingAndPaymentRules[a].accepted_shipping.length; b++) {
                if (this.shippingAndPaymentRules[a].accepted_shipping[b].zip.length > 0) {
                  if (this.shippingAndPaymentRules[a].accepted_shipping[b].zip.includes(this.checkout.billing_zip)) {
                    payment.push(this.shippingAndPaymentRules[a].accepted_shipping[b]);
                  }
                } else {
                  payment.push(this.shippingAndPaymentRules[a].accepted_shipping[b]);
                }
              }
            }
          } else {
            payment = [];
            console.log(this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping);
            for (var b = 0; b < this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping.length; b++) {
              if (this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping[b].zip.length > 0) {
                if (this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping[b].zip.includes(this.checkout.billing_zip)) {
                  payment.push(this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping[b]);
                }
              } else {
                payment.push(this.shippingAndPaymentRules[this.shippingAndPaymentRules.length - 1].accepted_shipping[b]);
              }
            }
          }
        }
      }
      return payment;
    },

    totalSum: function () {
      var total = Math.round(this.cartdetails["total"] * 100) / 100;
      if (this.selectedShipping != null) {
        total = total + Math.round(this.selectedShipping.price * 100) / 100;
      }
      if (this.selectedPayment != null && this.selectedPayment.price != undefined) {
        total = total + Math.round(this.selectedPayment.price * 100) / 100;
      }
      // total = total + (this.selectedShipping != null) ? this.selectedShipping.price : 0;
      // total = total + (this.selectedPayment != null) ? this.selectedPayment.price : 0;
      return total;
    },
  },
  mounted() {
    // this.getCountries();

    let mydata = JSON.parse(localStorage.getItem("myData"));

    if (mydata) {
      this.checkout = mydata;
      this.getCounties();
    }
  },
};
</script>
<style scoped>
input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type="radio"]:checked + label span {
  background-color: #1b315a;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: #1b315a;
}
</style>
