/*.droppable-area {*/
/*    min-height: 50px; !* Δίνει ύψος στο σημείο ρίψης για να φαίνεται πιο καθαρά *!*/
/*    border: 2px dashed #ccc; !* Δίνει διακεκομμένο περίγραμμα *!*/
/*    padding: 10px; !* Προσθέτει εσωτερικό περιθώριο *!*/
/*    text-align: center; !* Κέντρονιζε το περιεχόμενο *!*/
/*    margin: 10px 0; !* Προσθέτει εξωτερικό περιθώριο *!*/
/*}*/

/*.droppable-area:hover {*/
/*    border-color: #999; !* Αλλάζει το χρώμα του περιγράμματος όταν είναι πάνω *!*/
/*}*/
:root {
    --container-width: 1280px; /* Μπορείς να ορίσεις οποιαδήποτε τιμή επιθυμείς */
}

*{
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
.nav-container{
    width: 100%;
}
[data-gjs-type="wrapper"]:empty, .column:empty, nav ul:empty, .nav-container:empty , [data-gjs-type="wrapper"] div:empty {
    min-height: 50px !important;
    background: repeating-linear-gradient(
        45deg,
        #e7e7e7,
        #e4e5e7 10px,
        #ddd 10px,
        #ddd 20px
    );
    border: 2px dashed #ccc;
}
nav .nav-links:not(:has(li)){
    background: repeating-linear-gradient(
        45deg,
        #e7e7e7,
        #e4e5e7 10px,
        #ddd 10px,
        #ddd 20px
    );
    padding: 10px;
    width: 100%;
    height: 40px;
}
.nav-links:empty{
    width:100%;
    padding: 0 20px;
    font-weight: 400;
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        #e7e7e7,
        #e4e5e7 10px,
        #ddd 10px,
        #ddd 20px
    );
}
.nav-links:empty:before {
    text-align: center;
    content: 'Προσθέστε ένα στοιχείο μενού εδώ';
}

.nav:empty {
    min-height: 50px !important;
    background: repeating-linear-gradient(
        45deg,
        #e7e7e7,
        #e4e5e7 10px,
        #ddd 10px,
        #ddd 20px
    );
    border: 2px dashed #ccc;
}
.nav-links.gjs-hovered {
    background: red;

}

[data-flex-container] > div {
    /*
      1/3  - 3 columns per row
      10px - spacing between columns
    */
    box-sizing: border-box;
    /*margin: 10px 10px 0 0;*/
    /*outline: 1px dotted red;*/
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
}
.gjs-selected-parent {
    border: solid 3px #37a685;
    /* padding: 5px; */
    transition: ease all 0.4s;
    /* transform: scale(1.009); */
}
.gjs-dashed *[data-gjs-highlightable] {
    outline: none!important;

}
.gjs-selected{
    border: solid 1px #eee;
}
/*
  align last row columns to the left
  3n - 3 columns per row
*/
[data-flex-container] > div:nth-child(3n) {
    margin-right: 0;
}

[data-flex-container]::after {
    content: '';
    flex: auto;
}

/*
  remove top margin from first row
  -n+3 - 3 columns per row
*/
[data-flex-container] > div:nth-child(-n+3) {
    margin-top: 0;
}
.dropdown.mega-menu-open:before {
    content: "⌄";
    position: absolute;
    font-size: 23px;
    color: #3f9c96;
    TOP: 22px;
}
