

nav {
    background: #fff;
    /*font-size: 0;*/
    position: relative;
}

nav > ul {
    display: flex;
    justify-content: center;
}

nav > ul > li {
    display: inline-block;
    font-size: 14px;

    position: relative;
}

nav > ul > li > a {
    /*color: #222;*/
    /*display: block;*/
    /*padding: 20px 15px;*/
    /*border-bottom: 3px solid transparent;*/
    /*transition: all .3s ease;*/
}

nav > ul > li:hover > a {
    color: #444;
    border-bottom: 3px solid #444;
}

.mega-menu {
    visibility: hidden;
    opacity: 0;
    /*background: #eee;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*padding-bottom: 20px;*/
}

.mega-menu h3 {
    /*color: #444;*/
}

.mega-menu .nav-container {
    display: flex;
    flex-wrap: wrap;
}

.mega-menu .nav-item {
    flex-grow: 1;
    margin: 0 10px;
    box-sizing: border-box;
}

.mega-menu .nav-item img {
    width: 100%;
}

.mega-menu a {
    border-bottom: 1px solid #ddd;
    /*color: #4ea3d8;*/
    display: block;
    /*padding: 10px 0;*/
}

.mega-menu a:hover {
    color: #2d6a91;
}

.dropdown {
    position: static;
}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

/* Mobile Toggle Button */
.menu-toggle, .menu-close {
    display: none;
    font-size: 24px;
    color: white;
    background-color: #0ca0d6;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.menu-close {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    color: white;
}

.menu-toggle, .menu-close {
    display: none; /* Κρυφό σε μεγαλύτερες οθόνες */
}
.mega-menu.open {
    visibility: visible;
    opacity: 1;

}

/* Responsive Styling */
@media (max-width: 768px) {
    .menu-toggle, .menu-close {
        display: block; /* Ορατό μόνο σε οθόνες μικρότερες των 768px */
    }

    nav {
        position: absolute;
        left: -80%;
        width: 80%;
        top: 0;
        height: 100%;
        background: #0ca0d6;
        transition: left 0.3s ease;
    }

    nav.open {
        left: 0;
    }

    nav > ul {
        display: block;
        padding: 0;
    }

    nav > ul > li {
        display: block;
        text-align: left;
        padding: 0;
    }

    nav > ul > li > a {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    .mega-menu {
        position: static;
        opacity: 1;
        visibility: hidden;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .mega-menu.open {
        visibility: visible;
         opacity: 1;

    }

    .mega-menu .nav-container {
        display: block;
    }

    .mega-menu .nav-nav-item {
        margin-bottom: 20px;
    }

    .mega-menu a {
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
.transition{
 transition: all 0.3s ease;
}
.shadow:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
