<template>
    <div>
        <!-- <Table:headers="headers" entity="products" ></Table> -->
    </div>
 </template>
<script>
const axios = require('axios').default;

import Table from '../elements/datatable'
export default {
    components: {Table},
 
    props: [],
    data: () => ({
        loading: false,

        singleSelect: false,
        selected: [],
        headers: [
            {text: 'Id', value: 'id'},
            {
                text: 'Old Url',
                align: 'start',
                sortable: true,
                value: 'old_url',
            },
            {text: 'Product id', value: 'product_id'},,
        ],
        items: [],
    }),
    methods: {


        vueProduct(item){
            var url = '/'+item.name;
            var win = window.open(url, '_blank');
            win.focus();
        },

    },

}
</script>

