<template>
    <div class=" -4 mb-2">
        <multiselect
             placeholder="Επιλογή χώρας"
            :searchable="true"
            v-model="value"
             valueProp="id"
             id="id"
             :object="false"
             localize="el"
             label="title"
             mode="tags"
            :options="counties"
            class="mb-4"
        ></multiselect>

        <button
            v-if="selectedCounties.length > 0"
            @click="addCounties"
            class="bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-indigo-600 focus-visible:outline-offset-2 font-semibold hover:bg-indigo-500 px-5 rounded shadow-sm text-sm text-white w-52"
        >
            Επιλογή Περιοχών
        </button>
    </div>
</template>

<script setup>
import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";
// import { defineProps, defineEmits, computed } from 'vue';
//
// const props = defineProps(['modelValue', 'counties', 'selectedCounties']);
// const emit = defineEmits(['update:modelValue', 'add-counties']);

const value = computed({
    get() {
        return props.modelValue;
    },
    set(value) {
        emit('update:modelValue', value);
    }
});

function addCounties() {
    emit('add-counties');
}
</script>
