<template>
    <div>





        <span v-if="label" class="text-gray-700 block">
            {{ label }}
        </span>
        <div class="overflow-auto leading-tight h-32 shadow border rounded py-2 px-3 text-gray-700 ">
            <label v-if="label" v-for="(option, key) in selectableOptions" :key="key" :id="label+key">
                <input :id="label+key" type="checkbox" :value="(value != '')?option[value]:(translatable)?option.title[$languages[0]]:option" v-model="interface">
                {{(translatable == true)?option.title[$languages[0]]:option}} <br />
            </label>
        </div>

    </div>
</template>
<script>
export default {
    name: "multipleSelect",
    props: {
        value: {
            type: String,
            required: false,
            default: ''
        },
        id: {
            type: String,
            default: "",
        },
        selectableOptions: {
            type: Array,
            default: "",
            required: true
        },
        label: {
            type: String,
            default: "",
        },
        modelValue: {
            type: Array,
            default: [],
        },
        type: {
            type: String,
            default: "text",
        },
        translatable: {
            type: Boolean,
            required: false,
            default: false
        },
    },
    computed: {
        interface: {
            get() {
                return this.modelValue
            },
            set(val) {
                this.$emit('update:modelValue', val)
            }
        }
    },
    methods: {
        //   updateInput(event) {
        //     this.$emit("update:modelValue", event.target.value);
        // }
    }
};

</script>
