<template>
  <div :class="columns">
    <label v-if="label" :for="id" class="text-gray-700 block">
      {{ label }}
    </label>

    {{ items }}

    <input :type="type" :value="modelValue" @click="updateInput"
           class=" appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    <button @click="search">Search</button>
    <ul>
      <li v-for="i in items" class="bt-2 p-2 hover:bg-gray-200">{{ i.code }}</li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "selectFieldWithSearch",
  props: {
    id: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    callUrl: {
      type: String,
      default: "",
      required: false,
    },
    modelValue: {
      type: [String, Number],
      default: "",
    },
    type: {
      type: String,
      default: "text",
    },
    columns: {
      type: String,
      default: "text",
      required: false,
    }
  },
  data: () => ({
    items: [],
  }),
  methods: {
    search() {
      console.log('this.userQuery');
      console.log(this.modelValue);
      axios.post(this.callUrl, {'code': this.modelValue})
          .then(function (response) {
            // show alert product updatep
            this.items = response.data;
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    updateInput(event) {
      this.$emit("update:modelValue", response.data);

      // this.$emit("update:modelValue", event.target.value);
    }
  }
};

</script>
