<template>
  <div :class="columns">
    <label v-if="label" class="text-gray-700 block">
      {{ label }}
    </label>
    <select v-if="title == ''" :id="id" :value="modelValue" @input="updateInput" :multiple="multiple" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option v-for="option in selectableOptions" :value="(value != '')?option[value]:(translatable)?option.title[$languages[0]]:option">
        {{ (translatable == true) ? option.title[$languages[0]] : option }}
      </option>
    </select>


    <select v-else :id="id" :value="modelValue" @input="updateInput" :multiple="multiple" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option v-for="option in selectableOptions" :key="option.id" :value="option.id">
        {{ option.id }}- {{ (translatable == true) ? option.title[$languages[0]] : (title != '') ? option.title : option }}
      </option>
    </select>
  </div>
</template>
<script>
export default {
  name: "BaseInput",
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    id: {
      type: String,
      default: "",
    },
    selectableOptions: {
      type: Array,
      default: "",
      required: true
    },
    label: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    modelValue: {
      type: [Array, String, Number],
      default: "",
    },
    type: {
      type: String,
      default: "text",
    },
    columns: {
      type: String,
      default: "text",
      required: false,
    },
    translatable: {
      type: Boolean,
      required: false,
      default: false
    },
    multiple: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    updateInput(event) {
      this.$emit("update:modelValue", event.target.value);
    }
  }
};

</script>
