<template>
  <div :class="columns">
    <label v-if="label" :for="id" class="text-gray-700 block">
      {{ label }}
    </label>
    <input :type="type" :value="modelValue" @input="updateInput" class=" appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight"/>
  </div>
</template>
<script>
export default {
  name: "BaseInput",
  props: {
    id: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      type: [String, Number],
      default: "",
    },
    type: {
      type: String,
      default: "text",
    },
    columns: {
      type: String,
      default: "text",
      required: false,
    }
  },
  methods: {
    updateInput(event) {
      this.$emit("update:modelValue", event.target.value);
    }
  }
};

</script>
