<template>
    <form @submit.prevent="uploadPhoto">
        <div>
            <label for="title">Title:</label>
            <input type="text" v-model="title" required>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea v-model="content" required></textarea>
        </div>
        <div>
            <label for="photo">Photo:</label>
            <input type="file" @change="onFileChange" required>
        </div>
        <button type="submit">Upload</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            title: '',
            content: '',
            photo: null
        };
    },
    methods: {
        onFileChange(e) {
            this.photo = e.target.files[0];
        },
        async uploadPhoto() {
            let formData = new FormData();
            formData.append('title', this.title);
            formData.append('content', this.content);
            formData.append('photo', this.photo);

            try {
                await axios.post('/api/posts', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
                alert('Photo uploaded successfully!');
            } catch (error) {
                console.error('Error uploading photo:', error);
            }
        }
    }
};
</script>
