<template>
  <div>{{ category }}</div>
</template>
<style scoped></style>
<script>
export default {
  name: "flters",
  props: ["products", "category"],
  data: () => ({
    filters: [],
  }),
  methods: {
    getFilters: function () {
      var self = this;
      axios
        .post("/loadfilters", { products: self.products, category: self.category })
        .then(
          function (response) {
            self.filters = response.data;
            // window.location.replace(response.data.redirect_url)
          }.bind(self)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  mounted() {
    this.getFilters();
  },
};
</script>
