<template>
	<div class="relative " v-click-outside="onClickOutside">
		<!--    <input @keyup="search" v-model="query" type="text" class="h-14 w-96 pr-8 pl-5 rounded-full z-0 focus:border-green-400 focus:shadow focus:outline-none" placeholder="Αναζήτηση...">-->





		<input @keyup="search" v-model="query" type="text"
					 @focus="clickedOut = false"
					 class=" border-b-gray-200 border-b-1 border-l-0 border-r-0 border-t-0 focus:outline-0 h-14 lg:w-96 md:w-full pl-10 pr-20 z-0"
					 placeholder="Αναζήτηση...">
		<div class="absolute top-2 right-2">
			<a :href="'/search-simple?q=' + query">

						<svg v-if="loading" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
								 class="motion-safe:animate-spin h-6 w-6 text-es-blue mt-2" >
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
</svg>
				<svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
						 class="w-6 h-6 text-es-blue mt-2">
					<path stroke-linecap="round" stroke-linejoin="round"
								d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
				</svg>
			</a>
		</div>

		<div class="absolute z-50  bg-white   shadow-lg" v-if="results.length > 0 && clickedOut == false">

			<div v-for="r in results.slice(0, 10)"
					 class="bg-white border-b inline-block  w-full py-2 px-4 hover:bg-gray-400 hover:text-white ">
				<a :href="'/' + r.name"><img class="float-left" :src="r.image" alt="" width="50">
					<span class="ml-4">{{ r.title.el }}</span> <span class="">{{ r.price }}</span>
				</a>
			</div>
			<div class="h-9 ml-12 mt-10" >
				<a :href="'/search-simple?q=' + query" class="bg-green-500 px-4 py-3 rounded text-white">δείτε όλα τα αποτελέσματα
					({{ results.length }})</a>
			</div>
		</div>
	</div>
</template>
<style scoped></style>
<script>
export default {
	name: 'search',

	data: () => ({
		results: [],
		query: '',
		clickedOut: false,
		timer: undefined,
		loading: false,

	}),
	methods: {
		onClickOutside (event) {
			console.log('clicked outside')
       this.clickedOut = true;
      },
		search: function () {
			var self = this;

			if (this.query.length > 2) {
				this.loading = true;
				this.openResults = true;
 				axios.post('/api-search', {
					q: self.query
				})
						.then(function (response) {
							console.log(response)
							self.results = response.data;
							self.loading = false;
							for (let a = 0; a < response.data.length; a++) {
								this.categories.push(response.data[a].categories)
							}
						}.bind(this))
						.catch(function (error) {
							console.log(error);
						});
			} else {
				this.results = [];
				this.openResults = false;
				return;
			}
		},
	},
}

</script>
