<template>
	<div class="relative ">
		
		
		<div class="absolute z-10 z-10 bg-white   shadow-lg" v-if="openResults">


      <span class="inline-block p-4 text-blue-700 float-right">
        <svg @click="openResults = false" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none"
						 viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </span>
			
			<span v-if="results.length > 0" class="inline-block p-4 text-es-blue float-right"><a
					:href="'/search?q='+query">Προβολή</a> </span>
			
			<div class="grid grid-cols-12 gap-4">
				<div class="col-span-3 p-4 border-r">
					<a :href="'/search?q='+query" class="px-4 py-3 rounded text-es-blue">Όλα τα Αποτελέσματα ({{ results.length }})</a>
				</div>
				<div class="col-span-9">
					<div class="" v-if="loading">
						<!--spinner-->
						<svg xmlns="http://www.w3.org/2000/svg" class="animate-spin h-6 w-6 mt-5" fill="none"
								 viewBox="0 0 24 24"
								 stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
						</svg>
					</div>
					<div class="grid grid-cols-12 gap-4 p-12">
						<div v-for="r in results.slice(0, 12)"
						
								 class="col-span-3 flex items-center border-b-2 mb-2 py-2">
							
							<a :href="'/'+r.name"> <img class="w-10 h-10 object-cover" :src="r.image" alt=""> </a>
							<div class="pl-3 text-sm text-es-blue">
								<div class="font-medium">
									<a :href="'/'+r.name"> {{ r.title.el }}</a>
								</div>
								<div class="text-es-gold text-sm ">
									{{ r.price }}€
								</div>
							</div>
						</div>
					
					</div>
				</div>
			
			</div>
		
		
		</div>
	</div>
</template>
<style scoped></style>
<script>
export default {
	name: 'searchResult',
	data: () => ({
		results: [],
		openResults: false,
		loading: '',
		query: '',
		timer: undefined,
		categories: [],
	}),
	methods: {
		search: function () {
			var self = this;
			
			if (this.query.length > 3) {
				this.loading = true;
				this.openResults = true;
				clearTimeout(this.timer)
				
				
				axios.post('/api-search', {
					q: self.query
				})
						.then(function (response) {
							console.log(response)
							self.results = response.data;
							self.loading = false;
							for (let a = 0; a < response.data.length; a++) {
								this.categories.push(response.data[a].categories)
							}
						}.bind(this))
						.catch(function (error) {
							console.log(error);
						});
				
				
			} else {
				this.results = [];
				this.openResults = false;
				return;
			}
		},
	},
	mounted() {
		this.eventBus.on('userSearch', (args) => {
			
			this.query = args;
			this.search();
		})
		
	}
}

</script>
