<template>
	<div class="relative ">
		<!--    <input @keyup="search" v-model="query" type="text" class="h-14 w-96 pr-8 pl-5 rounded-full z-0 focus:border-green-400 focus:shadow focus:outline-none" placeholder="Αναζήτηση...">-->

		<input @keyup="search" v-model="query" type="text"
			class=" border-b-gray-200 border-b-1 border-l-0 border-r-0 border-t-0 focus:outline-0 h-14 lg:w-96 md:w-full pl-10 pr-20 z-0"
			placeholder="Αναζήτηση...">
		<div class="absolute top-2 right-2">
			<!-- <button class="h-10 w-20 text-white rounded-lg   hover:bg-blue-200"> -->
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
				class="w-6 h-6 text-es-blue mt-2">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
			</svg>

			<!-- </button> -->
		</div>
		<!--        <div class="absolute top-4 right-0 pr-4">-->
		<!--            <button type="submit" @click="search">-->
		<!--                <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>-->
		<!--            </button>-->
		<!--        </div>-->
		<div class="absolute z-10 z-10 bg-white   shadow-lg" v-if="results.length > 0">
			<!--    <div class=" fixed z-50 bg-white   shadow-lg" v-if="results.length > 0">-->
			<span class="inline-block p-4 text-blue-700 text-right w-full"><a :href="'/search?q=' + query">View All</a>
			</span>


			<!--      <div class="grid grid-cols-12 gap-2">-->
			<!--        <div class="bg-white border-b inline-block  col-span-4 py-2 px-4 hover:bg-gray-400 hover:text-white "-->
			<!--             v-for="r in results.slice(0, 12)">-->
			<!--          <a :href="'/'+r.name"><img class="float-left" :src="r.image" alt="" width="100">-->
			<!--            <span class="ml-4">{{ r.title.el }}</span> <span class="">{{ r.price }}</span> </a>-->
			<!--        </div>-->
			<!--      </div>-->


			<div class="bg-white border-b inline-block  w-full py-2 px-4 hover:bg-gray-400 hover:text-white "
				v-for="r in results.slice(0, 5)">
				<a :href="'/' + r.name"><img class="float-left" :src="r.image" alt="" width="50">
					<span class="ml-4">{{ r.title.el }}</span> <span class="">{{ r.price }}</span> </a>
			</div>
			<div class="h-9 ml-12 mt-10">
				<a :href="'/search?q=' + query" class="bg-green-500 px-4 py-3 rounded text-white">Δές όλα τα προϊόντα ({{
					results.length }})</a>
			</div>
		</div>
	</div>
</template>
<style scoped></style>
<script>
export default {
	name: 'search',

	data: () => ({
		results: [],
		query: '',
		timer: undefined

	}),
	methods: {
		search: function () {
			var self = this;

			if (this.query.length > 3) {

				this.eventBus.emit('userSearch', this.query)


			} else {
				this.results = [];
				return;
			}
		},
	},
}

</script>
