<template>
    <div>
        <div class="container border-b border-gray-200 pb-5 mt-5">
            <h3 class="text-base font-semibold leading-6 text-gray-900 ">Νέο Προίόν</h3>
        </div>


        <form class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Όνομα Προϊόντς
                </label>
                <input v-model='product.title'
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="username" type="text" placeholder="Title">
                <span v-if="errors.title">{{ errors.title[0] }}</span>

            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Url
                </label>
                <input v-model='product.name'
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       id="name" type="text" placeholder="">
                <span v-if="errors.name">{{ errors.name[0] }}</span>

            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="sku">
                    Κωδικός Προϊόντος
                </label>
                <input v-model='product.sku'
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       id="sku" type="text" placeholder="">
            </div>
            <div class="flex items-center justify-between">
                <button @click.prevent='createProduct'
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                    Δημιουργία
                </button>

            </div>
        </form>

    </div>
</template>

<script>

export default {

    components: {},

    data: () => ({
        saveProductLoader: 0,
        panel: [0],  //set active expansion
        errors: {},
        product: {
            'title': null,
            'name': null,
            'sku': null,
            'is_active': 0,
            'product_type': 'simple',
        },
    }),
    watch: {
        'product.title': function (val) {
            this.product.name = this.convertString(val);
        }
    },
    methods: {
        createProduct() {
            var self = this;
            this.saveMessages = [];

            try {
                // Clear previous errors
                this.errors = {};


                axios.post('/manage/products/store', this.product)
                    .then(function (response) {
                        // show alert product update
                        console.log(response.data)
                        window.location.href = "/manage/products/" + response.data.id;
                    }.bind(this))
                    .catch(function (error) {
                        self.errors = error.response.data;
                        console.log(error);
                    }.bind(this)).then(function () {

                });
            } catch (error) {
                // Handle validation errors

            }
        },
        convertString(string) {
            const greekToLatin = {
                'α': 'a', 'β': 'b', 'γ': 'g', 'δ': 'd', 'ε': 'e',
                'ζ': 'z', 'η': 'h', 'θ': 'th', 'ι': 'i', 'κ': 'k',
                'λ': 'l', 'μ': 'm', 'ν': 'n', 'ξ': 'x', 'ο': 'o',
                'π': 'p', 'ρ': 'r', 'σ': 's', 'τ': 't', 'υ': 'y',
                'φ': 'f', 'χ': 'ch', 'ψ': 'ps', 'ω': 'o', 'ά': 'a',
                'έ': 'e', 'ή': 'h', 'ί': 'i', 'ό': 'o', 'ύ': 'y',
                'ώ': 'o', 'ς': 's', 'ϊ': 'i', 'ΐ': 'i', 'ϋ': 'y',
                'ΰ': 'y'
            };

            return string
                .toLowerCase()
                .split('')
                .map(char => greekToLatin[char] || char)
                .join('')
                .replace(/[^a-z0-9]/g, '-')
                .replace(/-+/g, '-')
                .replace(/^-|-$/g, '');
        },
    },
    mounted() {

    }

}
</script>

<style>
#keep .v-navigation-drawer__border {
    display: none
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}

</style>

