<template xmlns="http://www.w3.org/1999/html">

    <div>
        <div v-if="product.id !== undefined">
            <ChartComponent :productId="product.id"/>
        </div>
        <div class="grid md:grid-cols-12 grid-cols-1 gap-4 m-5">
            <!-- main content -->

            <div class="shadow-md rounded bg-white px-8 pt-6 pb-8 mb-4 lg:col-span-9">
                <!--                <h1 class="font-bold font">{{product.sku}}</h1>-->
                <div class="grid grid-cols-2 gap-4">
                    <div v-if="language != null">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                            <h2>Τίτλος</h2>
                        </label>
                        <div v-for="(v, l) in product.title" :key="l">

                            <input v-if="language == l" v-model="product.title[l]"
                                   class="  block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 "
                                   id="title" type="text" placeholder="Title"/>
                        </div>
                    </div>
                    <div class="mb-1">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="sku"> Κωδικός </label>
                        <input v-model="product.sku"
                               class="  block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 "
                               id="sku" type="text" placeholder=""/>
                    </div>
                </div>
                <div class="mb-1 ">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name"> Url </label>
                    <div class="flex flex-row gap-4 items-center">
                        <input v-model="product.name"
                               class="  block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 "
                               id="name" type="text" placeholder=""/>
                        <a :href="'/'+product.name" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>

                        </a>
                    </div>

                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="mb-1">
                        <label for="price" class="block text-sm/6 font-medium text-gray-900">Τιμή</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                                <div class="shrink-0 select-none text-base text-gray-500 sm:text-sm/6">€</div>
                                <input type="text" v-model="product.price" class="block border-0 min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6" placeholder="0.00" aria-describedby="price-currency">
                                <div id="price-currency" class="shrink-0 select-none text-base text-gray-500 sm:text-sm/6">Eur</div>
                            </div>
                        </div>

                    </div>
                    <div class="mb-1">
                        <label for="price" class="block text-sm/6 font-medium text-gray-900">Εκπωτική τιμή</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white px-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                                <div class="shrink-0 select-none text-base text-gray-500 sm:text-sm/6">€</div>
                                <input type="text" v-model="product.sale_price" class="block border-0 min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6" placeholder="0.00" aria-describedby="price-currency">
                                <div id="price-currency" class="shrink-0 select-none text-base text-gray-500 sm:text-sm/6">Eur</div>
                            </div>
                        </div>
<!--                        <label class="block text-gray-700 text-sm font-bold mb-2" for="special_price"> Εκπωτική τιμή </label>-->
<!--                        <input-->
<!--                               class="  appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight "-->
<!--                               id="special_price" type="text" placeholder=""/>-->
                    </div>
                </div>
                <div>


                    <div class="sm:hidden">
                        <label for="tabs" class="sr-only">Select a tab</label>
                        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                        <select id="openTab" v-model="tabactive"
                                class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            <option value="1">Περιγραφή</option>
                            <option value="3">Seo</option>
                            <!--                            <option value="4">Πεδία</option>-->
                            <option value="7">Ιδιότητες</option>
                            <option value="2">Φωτογραφίες</option>
                            <option value="5">Αποθήκη</option>
                            <option value="6">Ομαδοποιημένα Προϊόντα</option>
                            <option value="8">Παράλληλη Πώληση</option>
                        </select>
                    </div>
                    <div class="hidden sm:block">
                        <div class="border-b border-gray-200">
                            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                                <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                                <button data-target="panel-1" @click="activateTab(1)"
                                        :class="(tabactive == 1)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Περιγραφή
                                </button>
                                <button data-target="panel-3" @click="activateTab(3)"
                                        :class="(tabactive == 3)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Seo
                                </button>
                                <button data-target="panel-4" @click="activateTab(7)"
                                        :class="(tabactive == 7)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Ιδιότητες
                                </button>
                                <!--                                <button data-target="panel-4" @click="activateTab(4)"-->
                                <!--                                        :class="(tabactive == 4)?'border-indigo-500': 'border-transparent'"-->
                                <!--                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">-->
                                <!--                                    Πεδία-->
                                <!--                                </button>-->
                                <button data-target="panel-2" @click="activateTab(2)"
                                        :class="(tabactive == 2)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Φωτογραφίες
                                </button>
                                <button data-target="panel-5" @click="activateTab(5)"
                                        :class="(tabactive == 5)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Αποθήκη
                                </button>


                                <button data-target="panel-6" @click="activateTab( 6)"
                                        :class="(tabactive == 6)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Ομαδοποιημένα Προϊόντα
                                </button>
                                <button data-target="panel-6" @click="activateTab( 8)"
                                        :class="(tabactive == 8)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Παράλληλη Πώληση (Cross Sell)
                                </button>

                                <button data-target="panel-9" @click="activateTab( 9)"
                                        :class="(tabactive == 9)?'border-indigo-500': 'border-transparent'"
                                        class="whitespace-nowrap border-b-2  px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                    Αποστολή
                                </button>

                            </nav>
                        </div>
                    </div>
                </div>

                <div id="panels" class="py-4">
                    <div class="panel-1 tab-content" :class="tabactive == 1 ? 'active' : null">
                        <h2 class="block text-gray-700 text-sm font-bold mb-2">Περιγραφή ..</h2>

                        <div v-for=" l  in languages" :key="l">
                            <div v-show="language == l.name">
                                <div v-if="product.description && product.description[l.name] != undefined">
                                    <editor src="/public/js/tinymce/tinymce.min.js"
                                            v-model="product.description[l.name]"
                                            api-key="gpl" :init="{
                                        height: 200,
                                        menubar: false,
                                        skin: false,
                                        plugins:  '',
                                        toolbar: 'undo redo | anchor | formatselect | bold italic backcolor | link image alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code'
                                        }">
                                    </editor>
                                </div>
                            </div>

                        </div>
                        <div class="mt-4" v-for=" l  in languages" :key="l">
                            <div v-show="language == l.name">
                                <div>
                                    <div
                                        v-if="product.small_description && product.small_description[l.name] != undefined">
                                        <h2 class="block text-gray-700 text-sm font-bold mb-2">Σύντομη Περιγραφή</h2>
                                        <editor src="/public/js/tinymce/tinymce.min.js"
                                                v-model="product.small_description[l.name]" api-key="gpl" :init="{
                                    height: 200,
                                    menubar: false,
                                    skin: false,
                                    plugins:  '',
                                    toolbar: 'undo redo | anchor | formatselect | bold italic backcolor | link image alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code'
                                    }">
                                        </editor>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-2 tab-content" :class="tabactive == 2 ? 'active' : null">
                        <div
                            class="shadow-md bg-white rounded border-1 border-gray-300 px-4 py-2 mb-4 overflow-y-auto h-128">
                            <div class="col-md-3" v-if="image">
                                <img :src="image" class="img-responsive" height="70" width="90"/>
                            </div>
                            <div class="col-md-6">
                                <input type="file" multiple v-on:change="onImageChange" class="form-control"/>
                            </div>
                            <div class="col-md-3">
                                <button class="bg-green-500 text-white px-5 py-2 mt-2" @click="uploadImage">Ανεβασμα
                                    Φωτογραφίας
                                </button>
                            </div>
                        </div>
                        <table class="min-w-full">
                            <tbody>
                            <VueDraggable
                                ref="el"
                                v-model="medias"
                                :animation="150"
                                ghostClass="ghost"
                                class="flex flex-col gap-2 p-4 w-300px h-300px m-auto   rounded"

                            >
                                <tr
                                    v-for="item in medias"
                                    :key="item.id"
                                    class="cursor-move h-30   rounded p-3 flex items-center"
                                >

                                    <td class=" whitespace-nowrap text-sm font-medium text-gray-900">
                                        <img :src="item.original_url" width="120" height="120" alt=""/>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap grow">
<!--                                        <input type="text"  placeholder="image name"/>-->
                                        <div>
                                            <label for="name"  class="block text-sm/6 font-medium text-gray-900">Name</label>
                                            <div class="mt-2">
                                                <input type="email" v-model="item.name" name="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900   -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="you@example.com">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
<!--                                        {{item.name}}-->
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
<!--                                        {{ item.created_at }}-->
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap items-center ">
                                        <button class="btn btn-danger" @click="deleteSingleMedia(item.uuid)">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            </VueDraggable>

<!--                            <tr class="border-b" v-for="media in medias" :key="media.id">-->

<!--                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><img-->
<!--                                    :src="media.original_url" width="100" height="100" alt=""/></td>-->
<!--                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">-->
<!--                                    <input type="text" v-model="media.name"/>-->

<!--                                </td>-->
<!--                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{-->
<!--                                        media.name-->
<!--                                    }}-->
<!--                                </td>-->
<!--                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">-->
<!--                                    {{ media.created_at }}-->
<!--                                </td>-->
<!--                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">-->
<!--                                    <button class="btn btn-danger" @click="deleteSingleMedia(media.uuid)">-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"-->
<!--                                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">-->
<!--                                            <path stroke-linecap="round" stroke-linejoin="round"-->
<!--                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>-->
<!--                                        </svg>-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>


                        <div class="text-right">
                            <button @click="deleteAllMedia" class="text-red-600">Διαγραφή όλων των φωτογραφιών
                            </button>
                        </div>
                    </div>
                    <div class="panel-3 tab-content" :class="tabactive === 3 ? 'active' : null">
                        <div v-for=" l in this.languages" :key="l">
                            <div v-show="language == l.name">


                                <div v-if="product.meta_title && product.meta_title[l.name] != undefined">

                                    <label for="seo_description">Meta Τίτλος</label>
                                    <input
                                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 "
                                        v-model="product.meta_title[l.name]"/>
                                    <br/>

                                </div>

                                <div v-if="product.meta_description && product.meta_description[l.name] != undefined">

                                    <label for="seo_description">Meta Περιγραφή</label>
                                    <textarea id="seo_description"
                                              rows="6"
                                              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                                              v-model="product.meta_description[l.name]"> </textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Attributes-->
                    <div class="panel-4 tab-content" :class="tabactive === 7 ? 'active' : null">

                        <div
                            class="row-start-4 row-end-5 md:row-start-2 md:row-end-5 col-span-12 md:col-span-5 lg:col-span-5">
                            <h2 class="tile-marker  font-bold">Ιδιότητες</h2>
                            <ul>
                                <li v-for="(a, i) in product.attributes" :key="i">
                                    <span class=""> {{ a.title.el }}</span>

                                    <!--                                <div class="flex items-center">-->
                                    <!--                                    <multiselect v-model="product.attributes[i].termids"-->
                                    <!--                                                 :searchable="true"-->
                                    <!--                                                 valueProp="id"-->
                                    <!--                                                 placeholder="Επιλογή τιμής"-->
                                    <!--                                                 :close-on-select="false"-->
                                    <!--                                                 mode="tags" label="title"-->
                                    <!--                                                 :options="attributes.filter((att) => att.id == a.id)[0].terms"></multiselect>-->
                                    <!--                                    <button @click="removeAttributeFromProduct(i, p)"-->
                                    <!--                                            class="inline-block ml-2">X-->
                                    <!--                                    </button>-->
                                    <!--                                </div>-->
                                    <div class="flex items-center">
                                        <multiselect v-model="product.attributes[i].termids"
                                                     :searchable="true"
                                                     valueProp="id"
                                                     placeholder="Επιλογή τιμής"
                                                     :close-on-select="false"
                                                     mode="tags"
                                                     label="title"
                                                     :options="getTermsForAttribute(a.id)"></multiselect>
                                        <button @click="removeAttributeFromProduct(i, p)"
                                                class="inline-block ml-2">X
                                        </button>
                                    </div>

                                </li>
                            </ul>
                            <br/>
                            <div>
                                <div class="inline flex mt-4">
                                    <multiselect :searchable="true" v-model="newAttribute"
                                                 valueProp="id"
                                                 placeholder="Επιλογή ιδιότητας"
                                                 label="title"
                                                 :options="attributes"></multiselect>
                                    <button
                                        class="w-48 ml-2 font-bold border-2 hover:bg-gray-200"
                                        @click="addAttributeToProduct">Προσθήκη
                                    </button>
                                </div>
                                <!--end create new-->
                            </div>
                        </div>
                    </div>
                    <!--end attributes-->
                    <!--Fields-->
                    <div class="panel-4 tab-content" :class="tabactive === 4 ? 'active' : null">

                        <div class="mb-4" v-for="(field, key) in productFields" :key="productFields.id">
                            <div class="flex flex-col">
                                <div class="flex flex-row justify-between">
                                    <h2 class="font-black">{{ productFields[key].title }}</h2>

                                    <button
                                        @click="showNewAttributeModal =  (showNewAttributeModal == key)?null:key; selectedField = field; selectedFieldKey = key"
                                        class="text-sm">
                                        <div v-if="showNewAttributeModal == key" class="inline">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>

                                        </div>

                                        Δημιουργία νέου term
                                    </button>
                                </div>

                                <div v-if="showNewAttributeModal == key">
                                    <terms :field="field" :show-table="false" @createdTerm="createdTerm"
                                           embeded="true"></terms>
                                </div>
                            </div>


                            <div class="flex flex-row">

                                <multiselect :searchable="true" v-model="productFields[key].values"
                                             valueProp="id"
                                             :object="true"

                                             label="title"
                                             mode="tags"
                                             :options="fieldValues(field.id)"
                                ></multiselect>
                                <button class="inline" @click="removeProductField(key)">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                    </svg>

                                </button>
                            </div>


                        </div>


                        <div class="flex flex-row mt-4 gap-2">
                            <span class="mt-4 text-sm items-stretch">Επιλογή ιδιότητας</span>


                            <multiselect :searchable="true"
                                         :object="true"
                                         v-model="newField"
                                         valueProp="id" label="title"
                                         :options="filteredFields"></multiselect>
                            <button
                                class="w-48 ml-2 font-bold border-2 hover:bg-gray-200 bg-green-500 text-white px-4"
                                @click="addFieldToProduct">Προσθήκη
                            </button>
                        </div>

                    </div>
                    <!-- inventory -->
                    <div class="panel-9 tab-content" :class="tabactive == 9 ? 'active' : null">
                        <div class="border-b border-gray-200 pb-5">
                            <h3 class="text-base font-semibold leading-6 text-gray-900">Διαστάσεις</h3>
                        </div>
                        <div class=" py-14 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                            <div class="sm:col-span-2 sm:col-start-1">
                                <label for="weight"
                                       class="block text-sm font-medium leading-6 text-gray-900">Βάρος</label>
                                <div class="mt-2">
                                    <input type="text" v-model="product.weight" id="weight"
                                           autocomplete="address-level2"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <div class="flex -space-x-px">
                                    <div class="w-1/2 min-w-0 flex-1">
                                        <label for="length"
                                               class="block text-sm font-medium leading-6 text-gray-900">Μήκος</label>
                                        <div class="mt-2">
                                            <input type="text" v-model="product.length" id="length"
                                                   autocomplete="address-level1"
                                                   class="block w-full  border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                    <div class="min-w-0 flex-1">
                                        <label for="postal-code"
                                               class="block text-sm font-medium leading-6 text-gray-900">Πλάτος</label>
                                        <div class="mt-2">
                                            <input type="text" v-model="product.width" id="width" autocomplete=""
                                                   class="block w-full  border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                    <div class="min-w-0 flex-1">
                                        <label for="height"
                                               class="block text-sm font-medium leading-6 text-gray-900">Ύψος</label>
                                        <div class="mt-2">
                                            <input type="text" v-model="product.height" id="height"
                                                   autocomplete="postal-code"
                                                   class="block w-full  border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="panel-5 tab-content" :class="tabactive == 5 ? 'active' : null">
                        <div class="mt-5">

                            <div class="border-b border-gray-200 pb-5">
                                <h3 class="text-base font-semibold leading-6 text-gray-900">Αποθήκη</h3>
                            </div>
                            <inventory :id="id" :product="product" @setInventory="setInventory"></inventory>
                        </div>
                    </div>
                    <!-- end inventory -->
                    <!-- group products -->
                    <div class="panel-6 tab-content" :class="tabactive == 6 ? 'active' : null">
                        <p>
                            Αν επιλέξετε προϊόντα θα πωλούντε όλα μαζί σαν πακέτο.
                        </p>
                        <div class="mt-5">

                            <Multiselect
                                v-model="productCombos"
                                :searchable="true"
                                :loading="loading"
                                :options="searchProductBySku"
                                :object="true"
                                placeholder="Αναζήτηση..."
                                valueProp="id"
                                minChars="3"
                                mode="tags"
                                label="sku"
                                :resolve-on-load="false"
                                :delay="0"
                                @search-change="asyncProductFind"
                            />


                            <div>
                                <div class="bg-whit mt-4" v-if="productCombos.length">

                                    <div class="mx-auto max-w-2xl px-2 py-16 sm:px-6   lg:max-w-7xl lg:px-8">
                                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">συνδυασμοί</h2>

                                        <div
                                            class="mt-2 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-6 xl:gap-x-8">
                                            <div v-for="comboPr in productCombos" class="group relative">

                                                <div class="group relative hover:shadow-lg transition-all ease-in-out delay-150 p-2 rounded-md">
                                                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none   ">
                                                        <a href="#">
                                                            <img v-if="comboPr.image != ''" :src="comboPr.image" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                                        </a>
                                                    </div>
                                                    <div class="flex justify-between">
                                                        <div>
                                                            <h3 class="text-sm text-gray-700">
                                                                <a href="#">
                                                                    {{comboPr.title.el}}
                                                                </a>
                                                            </h3>
                                                            <p class="mt-1 text-sm text-gray-500"></p>
                                                        </div>
                                                    </div>
                                                    <p class="text-md font-medium text-gray-900 text-right">
                                                        <span class="font-bold text-[#c09578]">{{ comboPr.price }}€</span>

                                                        <span v-if="comboPr.originalPrice" class="ml-2 text-lg font-medium text-red-500 line-through">{{comboPr.originalPrice}}€</span>
                                                        <input type="number" v-model="comboPr.quantity" class="w-full">
                                                    </p>
                                                </div>

                                            </div>

                                            <!-- More products... -->
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- end group products -->

                    <!-- cross selll products -->
                    <div class="panel-6 tab-content" :class="tabactive == 8 ? 'active' : null">
                        <p class="italic text-sm">
                            Η παράλληλη πώληση αφορά προϊόντα που μπορούν να πωληθούν συνδιαστικά με το προϊόν που
                            βλέπει ο πελάτης.
                        </p>

                        <select v-model="product.cross_sell_method" id="" >
                            <option :value="'required'">Υποχρεωτική αγορά</option>
                            <option :value="'not_required'">Δεν είναι Υποχρεωτική η αγορά</option>
                        </select>

                        <div class="mt-5">

                            <Multiselect
                                v-model="productCrossSell"
                                :searchable="true"
                                :loading="loading"
                                :options="searchProductBySku"
                                :object="true"
                                placeholder="Αναζήτηση..."
                                valueProp="id"
                                minChars="3"
                                mode="tags"
                                label="sku"
                                :resolve-on-load="false"
                                :delay="0"
                                @search-change="asyncProductFind"
                            />


                            <div>
                                <div class="bg-whit mt-4" v-if="productCrossSell.length">
                                    <div class="mx-auto max-w-2xl px-2 py-16 sm:px-6   lg:max-w-7xl lg:px-8">
                                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">συνδυασμοί</h2>

                                        <div
                                            class="mt-2 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-6 xl:gap-x-8">
                                            <div v-for="crossSell in productCrossSell" class="group relative">
                                                <div class="group relative hover:shadow-lg transition-all ease-in-out delay-150 p-2 rounded-md">
                                                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none   ">
                                                        <a href="#">
                                                            <img v-if="crossSell.image != ''" :src="crossSell.image" alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                                        </a>
                                                    </div>
                                                    <div class="flex justify-between">
                                                        <div>
                                                            <h3 class="text-sm text-gray-700">
                                                                <a href="#">
                                                                    {{crossSell.title.el}}
                                                                </a>
                                                            </h3>
                                                            <p class="mt-1 text-sm text-gray-500"></p>
                                                        </div>
                                                    </div>
                                                    <p class="text-md font-medium text-gray-900 text-right">
                                                        <span class="font-bold text-[#c09578]">{{ crossSell.price }}€</span>

                                                        <span v-if="crossSell.originalPrice" class="ml-2 text-lg font-medium text-red-500 line-through">{{crossSell.originalPrice}}€</span>
                                                     </p>
                                                </div>
                                            </div>

                                            <!-- More products... -->
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- end group products -->
                </div>

                <hr/>
            </div>
            <!-- end main contennt -->
            <!-- sidebar -->
            <div class="shadow-md rounded bg-white px-4 pt-6 pb-8 mb-4 lg:col-span-3">
                <div>
                    <label for="location"
                           class="block text-sm font-medium leading-6 text-gray-900">Κατάσταση</label>
                    <select v-model="product.product_is_active" id="product_is_active"
                            class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="0">Ανενεργό</option>
                        <option value="1">Ενεργό</option>
                    </select>
                </div>

                <div>
                    <label for="location"
                           class="block text-sm font-medium leading-6 text-gray-900">Προτεινόμενο</label>
                    <select v-model="product.is_featured" id="is_featured"
                            class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="0">Ανενεργό</option>
                        <option value="1">Ενεργό</option>
                    </select>
                </div>

                <!-- <input v-model="product.product_is_active" type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" checked><span class="ml-2 text-gray-700">Αctive: {{product.product_is_active}}</span> -->

                <!-- <v-select v-model='product.product_type' :options="['simple', 'configurable', 'group', 'dynamic']"></v-select> -->
                <br/>
                <div v-if="product.rule_id != null">

                    Εκπτωτικός Κανόνας: {{ product.rule_id }}
                </div>

                <!-- documentation at https://iendeavor.github.io/vue-next-select/#component-registration -->
                <!-- <vue-select v-model='product.rule_id' :reduce="rules => rules.id" :options="rules" :value="product.rule_id" label="title"></vue-select> -->
                <span class="block text-sm font-medium leading-6 text-gray-900">Γλώσσα</span>

                <div class="  bg-white rounded border-1 border-gray-300   py-2 mb-4">
                    <button v-for="l in languages" :key="l" @click="language = l.name" type="button"
                            :class="(l.name == language)?'bg-green-500 text-white':'bg-indigo-50 text-indigo-600'"
                            class="mr-1 rounded  px-2 py-1 text-xs font-semibold  shadow-sm hover:bg-indigo-100"> {{
                            l.title
                        }}
                    </button>

                </div>
                <span class="block text-sm font-medium leading-6 text-gray-900">Κατηγορίες</span>

                <div
                    class="shadow-md bg-white rounded border-1 border-gray-300 px-4 py-2 mb-4 overflow-y-auto h-128">
                    <tree @categoriesHasBeenUpdated="categoriesHasBeenUpdated($event)" :language="language"
                          :product-categories="productCategories" :tree-data="categories"></tree>
                </div>

                <button @click.prevent="updateProduct()" :disabled="loading ? true : false" type="button"
                        class="mb-4 inline-flex items-center   rounded-md bg-green-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                              clip-rule="evenodd"/>
                    </svg>
                    Ενημέρωση
                </button>
                <br/>

                <button @click.prevent="returnOnSave = true;updateProduct();" :disabled="loading ? true : false"
                        type="button"
                        class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
                        </svg>

                    </svg>
                    Ενημέρωση και επιστροφή
                </button>


            </div>
            <button type="button"
                    class="float-right rounded bg-red-500 px-2 py-1 text-xs font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:text-red-800 hover:bg-gray-50"
                    v-on:click="deleteProduct">
                Διαγραφή
            </button>

            <!-- end sidebar -->
        </div>


    </div>
</template>
<script>
import Tree from "../elements/Tree";
import ChartComponent from '../elements/chartjs';

// import ClassicEditor
// from '@ckeditor/ckeditor5-build-classic';
import inputSelect from "../elements/fields/selectfield";
import multipleSelect from "../elements/fields/multiselectfield";
import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";
import {ref, onMounted} from 'vue';
import Editor from "@tinymce/tinymce-vue";
import 'tinymce/tinymce'
import 'tinymce/icons/default/icons'
import 'tinymce/themes/silver/theme'
import 'tinymce/models/dom/model'
import 'tinymce/skins/ui/oxide/skin.css'
import {toast} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
import {VueDraggable} from 'vue-draggable-plus'

// import {reactive} from 'vue';
// import { useLanguageStore } from '../../stores/languageStore';

// import {useLanguageStore} from '../../stores/languageStore';
// const languageStore = useLanguageStore();
// const languages = ref([]);
//
// onMounted(async () => {
//     await languageStore.fetchLanguages();
//     languages.value = languageStore.languages;
//
// });

export default {

    components: {
        ChartComponent,
        VueDraggable,
        Tree,
        Multiselect,
        inputSelect,
        multipleSelect,
        Editor,
    },
    props: ["id"],

    data: () => (
        {
            newAttribute: null,
            productCombos: [],
            productCrossSell: [],
            languages: [],
            productFields: [],
            selectedFieldKey: null,
            tabactive: 1,
            attributes: [],
            searchProductBySku: [], // group products
            groupProducts: [],  // group products
            newAttributeTitle: "",
            newAttributeSlug: "",
            selectedField: {},
            language: null,
            loading: false,
            showNewAttributeModal: null,
            returnOnSave: false,
            product: {},
            extensions: [],
            newField: {},

            setNewAttribute: "",
            inventoryCombinations: [{}],
            inventoryAttributes: [{}],
            panel: [0], //set active expansion
            has_variations: 0,
            stock: [],
            fields: [],
            selectedFields: [],
            // fieldValues: [],
            fieldWithValues: [],
            saveMessages: [],
            categories: [],
            productCategories: [],
            addvalue: [],
            medias: [],
            rules: [],
            image: "",
            newMedia: {},
            saveProductLoader: false,
            // normalizer(node) {
            //     return {
            //         id: node.id,
            //         label: node.title,
            //     }
            // },
        }),
    methods: {
        getTermsForAttribute(attributeId) {
            const attribute = this.attributes.find(att => att.id === attributeId);
            return attribute && attribute.terms ? attribute.terms : [];
        },
        removeAttributeFromProduct(key) {
            this.product.attributes.splice(key, 1);
        },
        addAttributeToProduct() {
            if (this.newAttribute == null) {
                alert("Δέν έχετε επιλέξει Ιδιότητα");
                return;
            }
            console.log(this.newAttribute);
            this.product.attributes.push(this.attributes.filter((a) => a.id == this.newAttribute)[0]);
            this.newAttribute = null;
        },
        getCombos() {
            axios
                .get("/manage/product/" + this.id + "/combos")
                .then(
                    function (response) {
                        this.productCombos = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getCrossell() {
            axios
                .get("/manage/product/" + this.id + "/cross-sell")
                .then(
                    function (response) {
                        this.productCrossSell = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        categoriesHasBeenUpdated(value) {
            this.productCategories = value;
        },
        // closeDialog(fieldKey) {
        //     this.newAttribute[fieldKey] = false;
        //     this.$forceUpdate();
        // },
        addFieldNewAttribute(field) {
            axios
                .post("/manage/fields/add_field_attribute", {
                    field: field,
                    value: this.setNewAttribute,
                })
                .then(
                    function (response) {
                        // f alert product update
                        this.setNewAttribute = "";
                        // this.getFields();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateTextFieldValue(field) {
            if (this.fieldWithValues[field].field.oldvalue == undefined) {
                this.fieldWithValues[field].field.oldvalue = this.fieldWithValues[field].field.value[0];
            }
            this.fieldWithValues[field].field.value = this.fieldWithValues[field].values;
            //    field.field.value = field.values[0].title
        },

        async asyncProductFind(query) {
            this.loading = true;


            await axios
                .post("/manage/products_search_combos", {
                    sku: query,
                })
                .then(function (response) {
                    console.log(response.data);
                    this.loading = false;
                    this.searchProductBySku = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });


        },
        deleteProduct() {
            var answer = window.confirm("Διαγραφή Προϊόντος?");
            if (answer) {
                var self = this;
                axios
                    .post("/manage/products/" + this.product.id + "/destroy")
                    .then(function (response) {
                        window.location.href = "/manage/products/";
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        updateSellCross() {
            axios
                .put("/manage/product/" + this.product.id + "/cross-sell/", {cross: this.productCrossSell})
                .then(
                    function (response) {
                        // show alert product update
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateProductCombos() {
            axios
                .put("/manage/product/" + this.product.id + "/combos/", {combos: this.productCombos})
                .then(
                    function (response) {
                        // show alert product update
                        this.searchProductBySku = response.data
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateProduct() {
            var self = this;
            self.saveMessages = [];
            self.loading = true;
            axios
                .post("/manage/products/" + this.product.id + "/update", this.product)
                .then(
                    function (response) {
                        // show alert product update
                        this.updateStock();
                        this.updateCalculator();
                        this.updateCategories();
                        this.updateFields();
                        this.updateProductCombos();
                        this.updateSellCross();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.loading = false;
                    self.saveMessages = [];
                    toast('Το Προϊόν ενημερώθηκε',
                        {
                            "type": "success",
                            "dangerouslyHTMLString": true
                        })
                    if (self.returnOnSave) {
                        window.location.href = "/manage/products";
                    }
                });
        },
        updateFields() {
            axios
                .post("/manage/products/" + this.product.id + "/fields/update", this.productFields)
                .then(
                    function (response) {
                        // show alert product update
                        toast('Τα Πεδία ενημερώθηκαν',
                            {
                                "type": "success",
                                "dangerouslyHTMLString": true
                            })
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateCategories() {
            axios
                .post("/manage/products/" + this.product.id + "/categories/update", this.productCategories)
                .then(
                    function (response) {
                        // show alert product update
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateCalculator() {
            axios
                .post("/manage/products/" + this.product.id + "/calculator/update", this.calculatorquery)
                .then(
                    function (response) {
                        // show alert product update
                        this.loadingPercentage = "20%";
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        updateStock() {
            var self = this;
            axios
                .post("/manage/products/" + this.product.id + "/stock/update", self.stock)
                .then(
                    function (response) {
                        // show alert stock  update
                        this.saveMessages.push("Εργασίες Αποθήκης ολοκληρώθηκαν ");
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },

        getCategories: function () {
            var self = this;
            axios
                .get("/manage/categories_list_json")
                .then(
                    function (response) {
                        self.categories = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },

        getProductFields() {

            axios.get("/manage/product/" + this.product.id + "/fields")
                .then(
                    function (response) {
                        this.productFields = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getFields: function () {
            axios
                .get("/manage/fields/get_fields")
                .then(
                    function (response) {
                        this.fields = response.data;
                        this.setFieldValues();

                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        setFieldValues: function () {

            for (let a = 0; a < this.fields.length; a++) {

                this.getFieldValues(this.fields[a]);

            }
            this.$forceUpdate();
        },
        getFieldValues: function (itemFIELD) {

            axios
                .post("/manage/fields/get_field_values", {
                    field: itemFIELD.name,
                    product: this.product.id
                })
                .then(
                    function (response) {
                        this.fieldWithValues.push({
                            id: itemFIELD.id,
                            field: itemFIELD,
                            values: response.data,
                            selected: null,
                        });
                        this.$forceUpdate();

                        return response.data;

                        // Vue.delete(this.inventoriesValues, index);
                        // this.fieldValues.push(response.data)
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getProductCategories() {
            this.loading = true;
            var self = this;
            axios
                .post("/manage/getProduct/" + self.id + "/categories")
                .then(function (response) {
                    self.productCategories = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.loading = false;
                    self.getCategories();
                });
        },
        getRules() {
            var self = this;
            axios
                .post("/manage/rules_list_json/")
                .then(function (response) {
                    self.rules = response.data.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        getProduct() {
            this.loading = true;
            var self = this;
            axios
                .post("/manage/getProduct/" + self.id)
                .then(function (response) {
                    self.product = response.data;
                    self.getProductFields();

                })
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.loading = false;
                    // self.getFields();
                    self.getProductCategories();
                    self.getMedia();
                });
        },
        createdTerm(val) {
            console.log(val)
            if (this.productFields[this.selectedFieldKey].values === undefined) {
                this.productFields[this.selectedFieldKey].values = [];

            }
            this.productFields[this.selectedFieldKey].values.push(val);

        },
        setInventory(val) {
            this.stock = val;
        },
        setCalculator(val) {
            this.calculatorquery = val;
        },
        getMedia() {
            var self = this;
            axios
                .get("/manage/products/" + self.product.id + "/media")
                .then(
                    function (response) {
                        self.medias = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        addMedia() {
            var self = this;
            axios
                .post("/manage/products/" + self.product.id + "/media", self.newMedia, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then(
                    function (response) {
                        // self.medias = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteAllMedia() {
            var answer = window.confirm("Διαγραφή όλων των φωτογραφιών ?");
            if (answer) {
                Object.entries(this.medias).forEach(([key, value]) => {
                        this.deleteMedia(value.uuid);
                    }
                );
            }
        },
        deleteSingleMedia(id) {
            var answer = window.confirm("Διαγραφή της φωτογραφίας ?");
            if (answer) {
                this.deleteMedia(id);
            }
        },

        deleteMedia(id) {
            axios
                .post("/manage/media/" + id + "/delete")
                .then(
                    function (response) {
                        // show alert product update
                        this.getMedia();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        //delte this
        onImageChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        uploadImage() {
            var self = this;
            // return;
            // for(var a=0; a<this.image.length; a++){
            axios
                .post("/manage/products/" + this.product.id + "/media", {
                    image: this.image,
                })
                .then((response) => {
                    self.getMedia();
                });
            // }
            // if (response.data) {
            //     self.image == [];
            // }
        },
        fieldValues(field_id) {

            let values = this.fieldWithValues.find(x => x.id === field_id);
            if (values !== undefined) {
                return values.values;
            } else {
                return [];
            }

        },
        addFieldToProduct() {
            this.productFields.push(this.newField);
            this.newField = {};
            // remove this.newField from productFields

        },
        removeProductField(key) {
            this.productFields.splice(key, 1);
        },
        storeNewAttribute() {

            axios.post("/manage/fields/" + field.id + "/add_field_attribute", {
                field: this.selectedField.id,
                value: this.setNewAttribute,
            });
        },
        convertString(string) {
            const greekToLatin = {
                'α': 'a', 'β': 'b', 'γ': 'g', 'δ': 'd', 'ε': 'e',
                'ζ': 'z', 'η': 'h', 'θ': 'th', 'ι': 'i', 'κ': 'k',
                'λ': 'l', 'μ': 'm', 'ν': 'n', 'ξ': 'x', 'ο': 'o',
                'π': 'p', 'ρ': 'r', 'σ': 's', 'τ': 't', 'υ': 'y',
                'φ': 'f', 'χ': 'ch', 'ψ': 'ps', 'ω': 'o', 'ά': 'a',
                'έ': 'e', 'ή': 'h', 'ί': 'i', 'ό': 'o', 'ύ': 'y',
                'ώ': 'o', 'ς': 's', 'ϊ': 'i', 'ΐ': 'i', 'ϋ': 'y',
                'ΰ': 'y'
            };

            return string
                .toLowerCase()
                .split('')
                .map(char => greekToLatin[char] || char)
                .join('')
                .replace(/[^a-z0-9]/g, '-')
                .replace(/-+/g, '-')
                .replace(/^-|-$/g, '');
        },
        getLanguages() {
            axios
                .get("/manage/get-languages-list")
                .then(
                    function (response) {
                        this.languages = response.data;
                        // last language is the default language
                        this.language = this.languages[this.languages.length - 1].name;
                        // this.fixTranslations();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },

        initializeMetaTerm() {
            if (!this.product.meta_title) {
                this.product.meta_title = {};
            }

            this.languages.forEach(lang => {
                if (!this.product.meta_title[lang]) {
                    this.product.meta_title[lang] = null; // Ή μπορείτε να θέσετε την τιμή που θέλετε αρχικά
                }
            });
        },

        activateTab(tab) {
            this.tabactive = tab;
            window.location.hash = `tabactive=${tab}`;
        },
        getTabFromHash() {
            const hash = window.location.hash;
            if (hash) {
                const hashValue = hash.substring(1); // Remove the '#' character
                const params = new URLSearchParams(hashValue);
                if (params.has('tabactive')) {
                    const tab = parseInt(params.get('tabactive'), 10);
                    if (!isNaN(tab)) {
                        this.tabactive = tab;
                    }
                }
            }
        },

        getAttributes() {
            axios
                .post("/manage/json-attributes", {q: ""})
                .then(
                    function (response) {
                        this.attributes = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },

    },
    watch: {
        newAttributeTitle: function (val) {
            this.newAttributeSlug = this.convertString(val);
        }
    },
    computed: {

        availableAttributes() {
            return this.attributes;
            let filteredAttributes = [];
            for (let attribute of this.attributes) {
                let found = false;
                for (let selectedAttribute of this.selectedProduct.attributes) {
                    if (attribute.id === selectedAttribute.id) {
                        found = true;
                        break;
                    }
                }
                if (!found) {
                    filteredAttributes.push(attribute);
                }
            }
            return filteredAttributes;
        },

        filteredFields() {
            const productFieldIds = this.productFields.map(field => field.id);
            return this.fields.filter(field => !productFieldIds.includes(field.id));
        },
        // availableAttributes() {
        //     let filteredAttributes = [];
        //     for (let attribute of this.fields) {
        //         let found = false;
        //         for (let selectedAttribute of this.product.attributes) {
        //             if (attribute.id === selectedAttribute.id) {
        //                 found = true;
        //                 break;
        //             }
        //         }
        //         if (!found) {
        //             filteredAttributes.push(attribute);
        //         }
        //     }
        //     return filteredAttributes;
        // },
        renderProductCategories: {
            get() {
                return this.productcategories;
            },
            set(value) {
                this.productcategories = value;
            },
        },

    },

    created() {
        this.getLanguages();
        this.getProduct();
        this.getCategories();
        this.getRules();
        // this.initializeProductFields();
    },
    mounted() {
        this.getCombos();
        this.getCrossell();
        this.getFields();
        this.getAttributes();
        this.initializeMetaTerm();
        this.getTabFromHash();
        window.addEventListener('hashchange', this.getTabFromHash);


    }, beforeDestroy() {
        window.removeEventListener('hashchange', this.getTabFromHash);
    }

};
</script>
<style>
#keep .v-navigation-drawer__border {
    display: none;
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
</style>
