<template>
    <div class="px-8 pt-6 pb-8">

        <div class="border-b border-gray-200 pb-5">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Μαζική επεξεργασία</h3>
        </div>


        <div class="lg:border-b lg:border-t lg:border-gray-200 mt-4">
            <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Progress">
                <ol role="list"
                    class="overflow-hidden rounded-md lg:flex lg:rounded-none lg:border-l lg:border-r lg:border-gray-200">
                    <li class="relative overflow-hidden lg:flex-1">
                        <div class="overflow-hidden rounded-t-md border border-b-0 border-gray-200 lg:border-0">
                            <!-- Completed Step -->
                            <a href="#" class="group">
                                <span
                                    class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full"
                                    aria-hidden="true"></span>
                                <span class="flex items-start px-6 py-5 text-sm font-medium">
                                  <span class="flex-shrink-0">
                                       <span class="flex-shrink-0">
                                    <span
                                        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-indigo-600">
                                      <span class="text-indigo-600">01</span>
                                    </span>
                                  </span>
                                      <!--                                    <span class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-600">-->
                                      <!--                                      <svg class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">-->
                                      <!--                                        <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />-->
                                      <!--                                      </svg>-->
                                      <!--                                    </span>-->
                                  </span>
                                  <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
                                    <span class="text-sm font-medium">Αναζήτηση Προϊόντων</span>
                                    <span class="text-sm font-medium text-gray-500">Επιλέξτε τα προϊόντα που θέλετε να δεκτούν αλλαγές.</span>
                                  </span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="relative overflow-hidden lg:flex-1">
                        <div class="overflow-hidden border border-gray-200 lg:border-0">
                            <!-- Current Step -->
                            <a href="#" aria-current="step">
                                <span
                                    class="absolute left-0 top-0 h-full w-1 bg-indigo-600 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full"
                                    aria-hidden="true"></span>
                                <span class="flex items-start px-6 py-5 text-sm font-medium lg:pl-9">
                                  <span class="flex-shrink-0">
                                    <span
                                        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-indigo-600">
                                      <span class="text-indigo-600">02</span>
                                    </span>
                                  </span>
                                  <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
                                    <span class="text-sm font-medium text-indigo-600">Επιλογή μεταβολών</span>
                                    <span class="text-sm font-medium text-gray-500">Επιλέξτε τους κανόνες μεταβολής των προϊόντων.</span>
                                  </span>
                                </span>
                            </a>
                            <!-- Separator -->
                            <div class="absolute inset-0 left-0 top-0 hidden w-3 lg:block" aria-hidden="true">
                                <svg class="h-full w-full text-gray-300" viewBox="0 0 12 82" fill="none"
                                     preserveAspectRatio="none">
                                    <path d="M0.5 0V31L10.5 41L0.5 51V82" stroke="currentcolor"
                                          vector-effect="non-scaling-stroke"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li class="relative overflow-hidden lg:flex-1">
                        <div class="overflow-hidden rounded-b-md border border-t-0 border-gray-200 lg:border-0">
                            <!-- Upcoming Step -->
                            <a href="#" class="group">
                                <span
                                    class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full"
                                    aria-hidden="true"></span>
                                <span class="flex items-start px-6 py-5 text-sm font-medium lg:pl-9">
                                  <span class="flex-shrink-0">
                                    <span
                                        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300">
                                      <span class="text-gray-500">03</span>
                                    </span>
                                  </span>
                                  <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
                                    <span class="text-sm font-medium text-gray-500">Ολοκλήρωση</span>
                                    <span class="text-sm font-medium text-gray-500">Ολοκλήρωση διαδικασίας</span>
                                  </span>
                                </span>
                            </a>
                            <!-- Separator -->
                            <div class="absolute inset-0 left-0 top-0 hidden w-3 lg:block" aria-hidden="true">
                                <svg class="h-full w-full text-gray-300" viewBox="0 0 12 82" fill="none"
                                     preserveAspectRatio="none">
                                    <path d="M0.5 0V31L10.5 41L0.5 51V82" stroke="currentcolor"
                                          vector-effect="non-scaling-stroke"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>


        <div class="grid md:grid-cols-2 lg:grid-cols-4  shadow-md m-5 rounded px-8 pt-6 pb-8 gap-4">

            <div class="">
                <!--Price-->
                <input type="checkbox" v-model="form.price.is_active" class="inline" id="price">
                <label for="price" class="block text-sm font-medium leading-6 text-gray-900 inline"> Τιμή</label>
                <div class="relative mt-2 rounded-md shadow-sm bg-red-500 " v-if="form.price.is_active">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="text-gray-500 sm:text-sm">€</span>
                    </div>
                    <input type="text" v-model="form.price.value" id="price"
                           class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                           placeholder="0.00">
                    <div class="absolute inset-y-0 right-0 flex items-center">
                        <label for="currency" class="sr-only">Currency</label>
                        <select v-model="form.price.type"
                                class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                            <option>%</option>
                            <option>Σταθερή τιμή</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <!-- Sale Price-->
                <input type="checkbox" v-model="form.sale_price.is_active" class="inline" id="saleprice">
                <label for="saleprice" class="block text-sm font-medium leading-6 text-gray-900 inline"> Εκπτωτική
                    Τιμή</label>
                <div class="relative mt-2 rounded-md shadow-sm" v-if="form.sale_price.is_active">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="text-gray-500 sm:text-sm">€</span>
                    </div>
                    <input type="text" v-model="form.sale_price.value" id="price"
                           class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                           placeholder="0.00">
                    <div class="absolute inset-y-0 right-0 flex items-center">
                        <label for="currency" class="sr-only">Currency</label>
                        <select v-model="form.sale_price.type"
                                class="h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                            <option>%</option>
                            <option>Σταθερή τιμή</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="">
                <input type="checkbox" v-model="form.categories.is_active" id="categories" class="inline"/>
                <label for="categories" class="block text-sm font-medium leading-6 text-gray-900 inline"> Κατηγορίες
                    Προϊόντων</label>

                <div v-if="form.categories.is_active">
                    <select v-model="form.categories.type">
                        <option value="add">Προσθήκη</option>
                        <option value="replace">Αντικατάσταση</option>
                        <option value="remove">Αφαίρεση</option>
                    </select>
                    <div>
                        <tree @categoriesHasBeenUpdated="categoriesHasBeenUpdated($event)" :language="'el'"
                              :product-categories="[]" :tree-data="categories"></tree>
                    </div>
                </div>


            </div>
            <div>
                <div class="sm:col-span-3">
                    <input id="status" type="checkbox" v-model="form.status.is_active" class="inline">
                    <label for="status" class="block text-sm font-medium leading-6 text-gray-900 inline"> Κατάσταση
                        προϊόντος</label>
                    <div class="mt-2" v-if="form.status.is_active">
                        <select id="country" name="country" autocomplete="country-name"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                            <option>Ενεργό</option>
                            <option>Ανενεργό</option>

                        </select>
                    </div>
                </div>
            </div>
<!--            old fields method -->
<!--            <div class="" v-for="(field, key) in fields" :key="fields.id">-->
<!--                <div class="">-->
<!--                    <div class=" justify-left">-->
<!--                        <input type="checkbox" v-model="form.fields[field.name].is_active" :id="'field'+field.name"-->
<!--                               class="inline"/>-->
<!--                        <label :for="'field'+field.name" class="block text-sm font-medium leading-6 text-gray-900 inline ml-2">-->
<!--                            {{ field.title }}</label>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div v-if="form.fields[field.name].is_active">-->
<!--                    <select v-model="form.fields[field.name].type">-->
<!--                        <option value="add">Προσθήκη Ιδιότητας</option>-->
<!--                        <option value="replace">Αντικατάσταση Ιδιότητας</option>-->
<!--                        <option value="remove">Αφαίρεση Ιδιότητας</option>-->
<!--                        <option value="removeField">Αφαίρεση Πεδίου</option>-->
<!--                    </select>-->
<!--                    <multiselect :searchable="true" v-model="form.fields[field.name].values"-->
<!--                                 valueProp="id"-->
<!--                                 :object="false"-->
<!--                                 localize="el"-->
<!--                                 label="title"-->
<!--                                 mode="tags"-->
<!--                                 :options="fieldValues(field.id)"-->
<!--                    ></multiselect>-->
<!--                </div>-->


<!--            </div>-->

            <div   class="" v-for="(attribute, key) in form.attributes" :key="attributes.id">
                <div class="">
                    <div class=" justify-left">

                        <input type="checkbox" v-model="form.attributes[attribute.name].is_active" :id="'attribute'+form.attributes[attribute.name].name"
                               class="inline"/>
                        <label :for="'attribute'+attribute.name" class="block text-sm font-medium leading-6 text-gray-900 inline ml-2">
                            {{ form.attributes[attribute.name].title }}</label>

                    </div>
                </div>
                <div v-if="form.attributes[attribute.name].is_active">
                    <select v-model="form.attributes[attribute.name].type">
                        <option value="add">Προσθήκη Ιδιότητας</option>
                        <option value="replace">Αντικατάσταση Ιδιότητας</option>
                        <option value="remove">Αφαίρεση Ιδιότητας</option>
                        <option value="removeField">Αφαίρεση Πεδίου</option>
                    </select>
                    <multiselect :searchable="true" v-model="form.attributes[attribute.name].termids"
                                 valueProp="id"
                                 :object="true"
                                 localize="el"
                                 label="title"
                                 mode="tags"
                                 :options="form.attributes[attribute.name].values"
                    ></multiselect>
                </div>

            </div>
        </div>

        <div class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4 grid grid-cols-4 gap-4 mb-4">

            <div>
                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2">
                    Κατάσταση Προϊόντως </label>
                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"
                       for="productStatusOn">
                    <input
                        class=""
                        id="productStatusOn" type="radio" value="true" v-model="form.is_active"
                        placeholder="Ενεργό"/>
                    Ενεργοποίηση
                </label>
                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"
                       for="productStatusOff">
                    <input
                        class=""
                        id="productStatusOff" type="radio" value="false" v-model="form.is_active"
                        placeholder="Ανενεργό"/>
                    Απενεργοποίηση
                </label>
            </div>

            <div class="mt-7">
                <button class="bg-green-500 text-white px-2 py-2" @click="applyFilters"
                        :disabled="loading ? true : false">Εφαρμογή
                </button>
                <span v-if="loading">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-3 ml-3 animate-spin h-5 w-5" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                              clip-rule="evenodd"/>
                  </svg>
                </span>
            </div>
        </div>

        <div class="grid grid-1 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
            <my-query-builder :appendExtraRules="appendExtraRules" :manageQuery="false" :query="query" language="el"
                              @selectedProductsHasBeenUpdatedFromNode="selectedProducts($event)"
                              @setParentQuery="setQuery($event)"></my-query-builder>
        </div>
        <div class="text-right">
            <button class="mr-4 shadow:lg bg-red-500 py-3 px-5 text-white" v-if="edit" @click="destroy">ΔΙΑΓΡΑΦΗ
            </button>
        </div>
    </div>
</template>
<script>
import myQueryBuilder from "../elements/myQueryBuilder";
import Tree from "@/components/elements/Tree.vue";
// import inventory from "../elements/inventory";
// import draggable from 'vuedraggable'``
import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";

export default {
    components: {
        Multiselect,
        Tree,
        myQueryBuilder,
    },
    props: ["query_id"],
    data: () => ({
        categories: [],
        fields: [],
        attributes: [],
        fieldWithValues: [],
        filterCategories: [],
        form: {
            price: {value: null, is_active: false, type: '%'},
            sale_price: {value: null, type: "%", is_active: false},
            categories: {values: [], is_active: false, type: "replace"},  // replace, add, remove
            status: {value: 0, is_active: false},
            fields: {}, // {field_name: {values: [], is_active: false, type: "replace"}}
            attributes: {} // {field_name: {values: [], is_active: false, type: "replace"}}
        },

        edit: false,
        loading: false,
        saveProductLoader: 0,
        appendExtraRules: [
            // {
            //     type: "text",
            //     id: "ssss",
            //     label: "Κωδικός Προϊόντος",
            //     operators: ["=", "<", "<=", ">", ">=", "!="],
            //     choices: [],
            // },
        ],
        query: [],
        rule: {
            title: null,
            is_active: 0,
            discount_type: 0,
            discount_value: 0,
            order: 0,
            starts_at: 0,
            query: null,
        },
        //datatable
        headers: [
            {
                text: "Id",
                value: "sku",
            },
            {
                text: "Τίτλος",
                align: "start",
                sortable: false,
                value: "title.el",

            },
            {
                text: "Sku",
                value: "sku",
            },
            {
                text: "Price",
                value: "price",
            },
            {
                text: "Εκπτ Τιμή",
                value: "sale_price",
            },
            {
                text: "Κανόνας",
                value: "rule_id",
            },
        ],
        products: [],
        // end datatable
    }),
    methods: {
        fieldValues(field_id) {

            let values = this.fieldWithValues.find(x => x.id === field_id);
            if (values !== undefined) {
                return values.values;
            } else {
                return [];
            }

        },
        getAttributes: function () {
            axios
                .post("/manage/json-attributes")
                .then(
                    function (response) {
                        this.attributes = response.data;
                        console.log(response.data.length);
                        for (let a = 0; a < response.data.length; a++) {
                            let att = response.data[a];
                            this.form.attributes[att.name] = {
                                field: att.id,
                                title: att.title['el'],
                                type: 'add', // add , replace, remove
                                values: att.terms,
                                is_active: false,
                                name: att.name,
                                termids: []
                            };
                        }
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getFields: function () {
            axios
                .get("/manage/fields/get_fields")
                .then(
                    function (response) {
                        this.fields = response.data;
                        this.setFieldValues();
                        for (let a = 0; a < response.data.length; a++) {
                            let field = response.data[a];
                            this.form.fields[field.name] = {
                                field: field.id,
                                type: 'add', // add , replace, remove
                                values: field.value,
                                is_active: false,
                                name: field.name
                            };
                        }

                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        setFieldValues: function () {

            for (let a = 0; a < this.fields.length; a++) {

                this.getFieldValues(this.fields[a]);

            }
            this.$forceUpdate();
        },

        getFieldValues: function (itemFIELD) {

            axios
                .post("/manage/fields/get_field_values", {
                    field: itemFIELD.name
                })
                .then(
                    function (response) {
                        this.fieldWithValues.push({
                            id: itemFIELD.id,
                            field: itemFIELD,
                            values: response.data,
                            selected: null,
                        });

                        return response.data;

                        // Vue.delete(this.inventoriesValues, index);
                        // this.fieldValues.push(response.data)
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        categoriesHasBeenUpdated(categories) {
            console.log('categories', categories);
            this.form.categories.values = categories;
            this.$forceUpdate();
            // this.filterCategories = categories;
        },
        getCategories: function () {
            axios
                .get("/manage/categories_list_json")
                .then(
                    function (response) {
                        this.categories = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        selectedProducts(value) {
            console.log(value)
        },
        searchProducts: function () {
            var self = this;
            self.loading = true;
            axios
                .post("/manage/rules/filter_products", {
                    query: self.rule.query,
                })
                .then(
                    function (response) {
                        self.products = response.data;
                        self.loading = false;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        setQuery(value) {
            console.log(value);
            this.rule.query = value;
        },
        create() {
            var self = this;
            this.saveMessages = [];
            axios
                .post("/manage/rules/", this.rule)
                .then(
                    function (response) {
                        // show alert product update
                        console.log(response.data);
                        // window.location.href = "/manage/rules/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },
        applyFilters() {
            var self = this;
            this.loading = true;
            this.saveMessages = [];
            axios
                .post("/manage/products/filters/apply", {
                    rule: this.rule,
                    form: this.form,
                })
                .then(
                    function (response) {
                        // show alert product update
                        console.log(response.data);
                        // window.location.href = "/manage/rules/"+response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.loading = false;
                });
        },
    },
    created() {
        console.log("this.query");
        console.log(this.query);
        this.getAttributes();

        // this.rule.query = this.query;
        // this.rule.query = this.query.query
        // this.rule.title = this.query.title
        // this.rule.is_active = this.query.is_active
        // this.rule.discount_value = this.query.discount_value
        // this.rule.discount_type = this.query.discount_type
    },
    mounted() {
        if (this.edit != undefined && this.edit != null && this.edit != false) {
            this.rule = this.edit;
        }
        this.getCategories();
    },
};
</script>
<style>
#keep .v-navigation-drawer__border {
    display: none;
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}
</style>
