<template>
    <div>
        <Table :headers="headers" entity="products" :has_attribute_filters="true"></Table>

    </div>
</template>
<script>
const axios = require("axios").default;
import Table from "../elements/datatable";

export default {
    components: {
        Table,
    },
    props: [],
    data: () => ({
        loading: false,
        singleSelect: false,
        selected: [],
        headers: [
            {
                text: "Id",
                linkable: true,
                value: "id",
                searchable: true,
                sortable: true,

            },
            {
                text: "Image",
                linkable: true,
                value: "image",
                searchable: false,

            },
            {
                text: "Title",
                linkable: true,
                value: "title",
                align: "text-left",
                searchable: true,

            },
            {
                text: "Sku",
                linkable: true,
                value: "sku",
                align: "text-left",
                searchable: true,

            },
            {
                text: "Price",
                linkable: true,
                value: "price",
            },
            {
                text: "Discount",
                linkable: true,
                value: "sale_price",
            },
            {
                text: "Rule",
                linkable: true,
                value: "rule_id",
                sortable: true,
            },
            {
                text: "Active",
                linkable: true,
                value: "product_is_active",
            },
            {
                text: "Type",
                linkable: true,
                value: "product_type",
            },
        ],
        items: [],
    }),
    methods: {
        vueProduct(item) {
            var url = "/" + item.name;
            var win = window.open(url, "_blank");
            win.focus();
        },
    },
};
</script>
