<template>
    <div>
        New Rule
        <div class="grid grid-cols-4 gap-4">
            <div cols="4">
                <input type="text" v-model="rule.title" label="Title" required />
            </div>
            <div cols="2">
                <input type="text" v-model="rule.discount_value" label="price" required />
            </div>
            <div cols="3">
                <input type="checkbox" v-model="rule.discount_type" label="Σταθερή Τιμή;" hide-details />
            </div>
            <div>
                <button color='success' v-if="!edit" v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ</button>
                <button color='success' v-if="edit" v-on:click="update">ΕΝΗΜΕΡΩΣΗ</button>
            </div>
        </div>
        <div class="grid grid-1">
            <!-- <querybuilder :appendfields="appendfields" :manageQuery='false' :query="query" @setParentQuery="setQuery"> </querybuilder>
 -->
        </div>
    </div>
</template>
<script>
// import querybuilder from "../elements/querybuilder";
// import inventory from "../elements/inventory";
// import draggable from 'vuedraggable'

export default {
    components: {},
    props: ['query_id'],
    data: () => ({
        rules: [{
                type: "text",
                id: "vegetable",
                label: "Vegetable",
            },
            {
                type: "radio",
                id: "fruit",
                label: "Fruit",
                choices: [
                    { label: "Apple", value: "apple" },
                    { label: "Banana", value: "banana" }
                ]
            },
        ],
        edit: false,
        loading: false,
        saveProductLoader: 0,
        appendfields: [{
                type: "text",
                id: "sku",
                label: "Κωδικός Προϊόντος",
                operators: [
                    "=",
                    "<",
                    "<=",
                    ">",
                    ">=",
                    "!="
                ],
                choices: []
            },
            {
                "type": "text",
                "id": "price",
                "label": "Τιμή",
                "operators": [
                    "=",
                    "<",
                    "<=",
                    ">",
                    ">=",
                    "!="
                ],
                "choices": []
            },

        ],
        query: [],
        rule: {
            'title': null,
            'is_active': 0,
            'discount_type': 0,
            'discount_value': 0,
            'order': 0,
            'starts_at': 0,
            'query': null
        },

        //datatable
        headers: [
            { text: 'Id', value: 'sku' },
            {
                text: 'Τίτλος',
                align: 'start',
                sortable: false,
                value: 'title',
            },

            { text: 'Sku', value: 'sku' },
            { text: 'Price', value: 'price' },
            { text: 'Εκπτ Τιμή', value: 'sale_price' },
            { text: 'Κανόνας', value: 'rule_id' },
        ],
        products: [],
        // end datatable
    }),
    methods: {
        getRule() {
            if (this.query_id != "") {
                var self = this;
                self.loading = true;
                axios.get('/manage/rules/json/' + self.query_id)
                    .then(function(response) {
                        self.rule = response.data;
                        self.query = response.data.query;
                        self.edit = true;
                    }.bind(this))
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        },
        searchProducts: function() {
            var self = this;
            self.loading = true;
            axios.post('/manage/rules/filter_products', { query: self.rule.query })
                .then(function(response) {
                    self.products = response.data;
                    self.loading = false;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                });
        },
        setQuery(value) {
            console.log(value);
            this.rule.query = value
        },
        create() {
            var self = this;
            this.saveMessages = [];
            axios.post('/manage/rules/', this.rule)
                .then(function(response) {
                    // show alert product update
                    console.log(response.data)
                    // window.location.href = "/manage/rules/" + response.data.id;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                }).then(function() {

                });
        },
        update() {
            var self = this;
            this.saveMessages = [];
            axios.put('/manage/rules/' + this.rule.id, this.rule)
                .then(function(response) {
                    // show alert product update
                    console.log(response.data)
                    // window.location.href = "/manage/rules/"+response.data.id;
                }.bind(this))
                .catch(function(error) {
                    console.log(error);
                }).then(function() {

                });
        },

    },
    created() {
        console.log('this.query');
        console.log(this.query);
        // this.rule.query = this.query;

        // this.rule.query = this.query.query
        // this.rule.title = this.query.title
        // this.rule.is_active = this.query.is_active
        // this.rule.discount_value = this.query.discount_value
        // this.rule.discount_type = this.query.discount_type
    },
    mounted() {
        if (this.edit != undefined && this.edit != null && this.edit != false) {
            this.rule = this.edit;
        }
        this.getRule();

    }

}

</script>
<style>
#keep .v-navigation-drawer__border {
    display: none
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}

</style>
