<template>
    <div>

        <Table   :headers="headers" entity="rules" ></Table>
    </div>
 </template>
<script>

import Table from '../elements/datatable'
export default {
    components: {Table},

    props: [],
    data: () => ({
        loading: false,

        singleSelect: false,
        selected: [],
        headers: [
            {text: 'Id', value: 'id'},
            {
                text: 'Title',
                align: 'start',
                sortable: true,
                value: 'title',
            },


        ],
        items: [],
    }),
    methods: {


        vueProduct(item){
            var url = '/'+item.name;
            var win = window.open(url, '_blank');
            win.focus();
        },

    },

}
</script>

