<template>
	<div class="shadow-md rounded bg-white px-8 pt-6 pb-8 mb-4 col-span-9 m-5">

		Εκπτωτικό κουπόνι

		<div class="grid grid-cols-4 gap-4 mb-4">
			<div>
				<input-text v-model="voucher.code" label="Code"/>
			</div>
			<div>

				<input-text v-model="voucher.name" label="Title"/>
			</div>
			<div>
				<input-text v-model="voucher.uses" label="uses"/>
			</div>
			<div>
				<input-text v-model="voucher.max_uses" label="max uses"/>
			</div>
			<div>
				<input-text v-model="voucher.max_uses_user" label="max uses per user"/>
			</div>
			<div>
				<input-text v-model="voucher.discount_amount" label="discount amount"/>
			</div>
			<div>
				<label for="stathertimi" class="text-gray-700 ">

					<input type="checkbox" id="stathertimi" v-model="voucher.is_fixed" label="Σταθερή Τιμή;" hide-details/>
					Σταθερή τιμή
				</label>
				<p class="text-sm">Αν δεν είναι επιλεγμένο ο υπολογισμός θα γίνει με ποσοστό.</p>

				<label for="freeshipping" class="text-gray-700 ">

					<input id='freeshipping' type="checkbox" v-model="voucher.free_shipping" label="Δωρεάν Μεταφορικά;"
								 hide-details/>

					Δωρεάν μεταφορικά
				</label>

			</div>

			<div>
					<label for="is_active" class="text-gray-700 ">

					<input type="checkbox" id="is_active" v-model="voucher.voucher_active" label="Ενεργοποιημένο;" hide-details/>
					Ενεργοποιημένο
				</label>
			</div>
			<!--            <div>-->
			<!--                <label class="block text-gray-700 text-sm font-bold mb-2"> Type </label>-->
			<!--                <select v-model="voucher.type" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
			<!--                    <option :value="voucher">Voucher</option>-->
			<!--                </select>-->
			<!--            </div>-->
		</div>
		<div class="grid grid-1">

			<!--            <querybuilder
			 :appendfields="appendfields" :manageQuery='false' :query="query" @setParentQuery="setQuery"> </querybuilder>-->
		</div>
		<div class="text-right">
			<button class="bg-green-500 text-white px-5 py-3 shadow-md mt-4 rounded-lg" v-if="!edit" v-on:click="create">
				ΔΗΜΙΟΥΡΓΙΑ
			</button>
			<button class='bg-green-500 text-white px-5 py-3 shadow-md mt-4 rounded-lg' v-if="edit" v-on:click="update">
				ΕΝΗΜΕΡΩΣΗ
			</button>
		</div>


		<my-query-builder :appendExtraRules="appendExtraRules" :manageQuery='false' :query="query"
											@setParentQuery="setQuery($event)"></my-query-builder>

	</div>

</template>

<script>
import inputText from '../elements/fields/textfield';
// import inventory from "../elements/inventory";
// import draggable from 'vuedraggable'

export default {
	components: {inputText},
	props: ['query_id', 'voucherdata'],
	data: () => ({
		voucher: {
			name: "",
			code: "",
			description: "",
			uses: "",
			max_uses: "",
			max_uses_user: "",
			type: "",
			discount_amount: "",
			is_fixed: "",
			starts_at: "",
			expires_at: "",
			query: null,
			free_shipping: false,
		},
		edit: false,
		loading: false,
		saveProductLoader: 0,
		appendfields: [
			{
				type: "text",
				id: "sku",
				label: "Κωδικός Προϊόντος",
				operators: [
					"=",
					"<",
					"<=",
					">",
					">=",
					"!="
				],
				choices: []
			},
			{
				"type": "text",
				"id": "price",
				"label": "Τιμή",
				"operators": [
					"=",
					"<",
					"<=",
					">",
					">=",
					"!="
				],
				"choices": []
			},

		],
		query: [],
		rule: {
			'title': null,
			'is_active': 0,
			'discount_type': 0,
			'discount_value': 0,
			'order': 0,
			'starts_at': 0,
			'query': null
		},

		//datatable
		headers: [
			{text: 'Id', value: 'sku'},
			{
				text: 'Τίτλος',
				align: 'start',
				sortable: false,
				value: 'title',
			},

			{text: 'Sku', value: 'sku'},
			{text: 'Price', value: 'price'},
			{text: 'Εκπτ Τιμή', value: 'special_price'},
			{text: 'Κανόνας', value: 'rule_id'},
		],
		products: [],
		// end datatable
	}),
	calculated: {
		isactive() {
			return (this.voucher.voucher_active == 1) ? true : false;
		}
	},
	methods: {
		getRule() {

			console.log(this.voucher.query);
			this.query = JSON.parse(this.voucher.query);
		},
		searchProducts: function () {
			var self = this;
			self.loading = true;
			axios.post('/manage/rules/filter_products', {query: self.rule.query})
					.then(function (response) {
						self.products = response.data;
						self.loading = false;
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					});
		},
		setQuery(value) {
			console.log(value);
			this.voucher.query = value
		},
		create() {
			var self = this;
			this.saveMessages = [];
			axios.post('/manage/vouchers/', {voucher: this.voucher})
					.then(function (response) {
						// show alert product update
						console.log(response.data)
						window.location.href = "/manage/vouchers/" + response.data.id + '/edit';
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					}).then(function () {

			});
		},
		update() {
			var self = this;
			this.saveMessages = [];
			axios.put('/manage/vouchers/' + this.voucher.id, this.voucher)
					.then(function (response) {
						// show alert product update
						console.log(response.data)
						window.location.href = "/manage/vouchers/"+response.data.id+'/edit';
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					}).then(function () {

			});
		},

	},
	created() {

	},
	mounted() {
		if (this.edit != undefined && this.edit != null && this.edit != false) {
			this.rule = this.edit;
		}


		if (this.voucherdata) {
			this.voucher = this.voucherdata;
			if (this.voucher.is_fixed == 1) {
				this.voucher.is_fixed = true;
			}
			this.edit = true;

			this.getRule();

		}
	}

}
</script>

<style>
#keep .v-navigation-drawer__border {
	display: none
}

.v-expansion-panel {
	border-bottom: solid 1px #eee;
}

</style>

