<template>
    <div>

        <Table :headers="headers" entity="vouchers"></Table>
    </div>
</template>
<script>

import Table from '../elements/datatable'

export default {
    components: {Table},

    props: [],
    data: () => ({
        loading: false,

        singleSelect: false,
        selected: [],
        headers: [
            {text: 'Id', value: 'id'},
            {
                text: 'ΤΙΤΛΟΣ',
                align: 'start',
                sortable: true,
                value: 'name',
            },

            {text: 'ΠΟΣΟ', value: 'discount_amount'},
            {text: 'ΣΤΑΘΕΡΗ ΤΙΜΗ', value: 'is_fixed'},


        ],
        items: [],
    }),
    methods: {


        vueProduct(item) {
            var url = '/' + item.name;
            var win = window.open(url, '_blank');
            win.focus();
        },

    },

}
</script>

