<template>
    <div class="mt-4">


        <div class="px-4 sm:px-6 lg:px-8">
            <a v-if="showTable" :href="'/manage/'+this.model" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.49 12 3.74 8.248m0 0 3.75-3.75m-3.75 3.75h16.5V19.5" />
            </svg>
                Ιδιότητες
            </a>

            <span class="text-red-600" v-if="errors?.name">{{ errors.name[0] }}</span>
            <span class="text-red-600" v-if="errors?.title">{{ errors.title[0] }}</span>

            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle   " :class="(!embeded)?'sm:px-6':null">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead>
                            <tr class="divide-x divide-gray-200">

                                <th v-for="l in this.$languages" :key="l" scope="col"
                                    class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Τίτλος
                                    {{ l }}
                                </th>
                                <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Όνομα (μοναδικό)
                                </th>
                                <th v-if="field.has_images" scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Φωτογραφία
                                </th>
                                <th v-if="field.has_color" scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    Χρώμα
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
                                    Ενημέρωση
                                </th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            <tr>
                                <td v-for="l in this.$languages" :key="l"
                                    class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                        <input type="text" v-model="newTerm[l]"
                                               class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"/>
                                    </div>

                                </td>
                                <td>
                                    <div
                                        class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">

                                        <input type="text" v-model="newTermName"
                                               class="block flex-1 border-1 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" @click="storeNewTerm">Δημιουργία νέου</button>
                                </td>
                            </tr>
                            <tr v-if="showTable" v-for="(t,i) in terms" class="divide-x divide-gray-200">
                                <td v-for="l in this.$languages" :key="l"
                                    class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                        <input type="text" v-model="t.title[l]"
                                               class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"/>
                                    </div>
                                 </td>
                                <td class="whitespace-nowrap p-4 text-sm text-gray-500">{{ t.name }}</td>

                                <td v-if="field.has_images" class="w-52">
                                    <div class="col-span-full">

                                        <div v-if="t.image != null">
                                            <img :src="'/images/'+t.image" class="inline px-2" alt="Uploaded Image" />
                                            <button @click="t.image = null">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black inline">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                </svg>

                                            </button>
                                        </div>
                                        <div v-else class="px-2 mt-2 flex items-center gap-x-3">
                                            <input
                                                type="file"
                                                @change="onFileChange"
                                                class="text-sm text-stone-500 w-24
   file:mr-5 file:py-1 file:px-3 file:border-[1px]
   file:text-xs file:font-medium
   file:bg-stone-50 file:text-stone-700
   hover:file:cursor-pointer hover:file:bg-blue-50
   hover:file:text-blue-700"
                                            />
                                            <button @click="uploadImage(i)" type="button" class="rounded-full bg-indigo-600 p-1.5 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                                </svg>
                                            </button>
<!--                                            <input type="file"  class="w-5" />-->

                                        </div>
                                    </div>

                                </td>

                                <td v-if="field.has_colors">
                                    <color-picker format="hex" v-model:pureColor="t.color"/> {{ t.color }}
                                </td>


                                <td>
                                    <button class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" @click="updateTerm(i)">Ενημέρωση</button>
                                </td>
                            </tr>


                            <!-- More people... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

</template>

<script>
import { ColorPicker } from "vue3-colorpicker";
import "vue3-colorpicker/style.css";
import {onUnmounted} from "vue";
import {toast} from "vue3-toastify";

export default {
    components: {
        ColorPicker
    },

    props: {
        type: {
            type: String,
            default: 'fields',
            required: false
        },
        model: {
            type: String,
            default: 'fields',
            required: false
        },
        embeded: {
            type: Boolean,
            default: false
        },
        field: {
            type: Object,
        },
        showTable: {
            type: Boolean,
            default: true
        }
    },
    data: () => ({
        errors: null,
        terms: [],
        newTerm: {},
        newTermName: ''
    }),
    methods: {
        onFileChange(event) {
            this.image = event.target.files[0];
        },
        async uploadImage(i) {
            if (!this.image) return;

            const formData = new FormData();
            formData.append('image', this.image);

            try {
                const response = await axios.post("/manage/"+this.type+"/" + this.field.id + "/term/values/" + this.terms[i].id+"/image", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                });

                if (response.data.success) {
                    this.terms[i].image = `${response.data.image}`;
                } else {
                    console.error('Upload failed:', response.data.error);
                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        },
        updateTerm(i){
            axios.put("/manage/"+this.type+"/" + this.field.id + "/term/values/" + this.terms[i].id,
                {
                    title: this.terms[i].title,
                    name: this.terms[i].name,
                    color: this.terms[i].color
                }
            ).then(function (response) {
                console.log(response)
                toast.success('Επιτυχής ενημέρωση');
                this.getTerms();
            }.bind(this))
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors
                    }
                })
        },
        storeNewTerm() {
            axios.post("/manage/"+this.type+"/" + this.field.id + "/term/values/",
                {
                    title: this.newTerm,
                    name: this.newTermName
                }
            ).then(function (response) {
                console.log(response)
                this.newTerm = {};
                this.newTermName= '';
                if(this.showTable){
                    this.getTerms();
                }else{
                    this.$emit('createdTerm', response.data);
                }
            }.bind(this))
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors
                    }
                })
        },
        // getField(){
        //     axios.get('/manage/field/')
        // }

        getTerms() {

            axios.get("/manage/"+this.type+"/" + this.field.id + "/term/values")
                .then(function (response) {
                    this.terms = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });


        },
        convertString(string) {
            const greekToLatin = {
                'α': 'a', 'β': 'b', 'γ': 'g', 'δ': 'd', 'ε': 'e',
                'ζ': 'z', 'η': 'h', 'θ': 'th', 'ι': 'i', 'κ': 'k',
                'λ': 'l', 'μ': 'm', 'ν': 'n', 'ξ': 'x', 'ο': 'o',
                'π': 'p', 'ρ': 'r', 'σ': 's', 'τ': 't', 'υ': 'y',
                'φ': 'f', 'χ': 'ch', 'ψ': 'ps', 'ω': 'o', 'ά': 'a',
                'έ': 'e', 'ή': 'h', 'ί': 'i', 'ό': 'o', 'ύ': 'y',
                'ώ': 'o', 'ς': 's', 'ϊ': 'i', 'ΐ': 'i', 'ϋ': 'y',
                'ΰ': 'y'
            };

            return string
                .toLowerCase()
                .split('')
                .map(char => greekToLatin[char] || char)
                .join('')
                .replace(/[^a-z0-9]/g, '-')
                .replace(/-+/g, '-')
                .replace(/^-|-$/g, '');
        },

    },

    watch: {
        newTerm: {
            handler: function(newValue) {
                if(newValue.el != undefined){
                    this.newTermName = this.convertString(newValue.el);
                }
            },
            deep: true
        }
    },

    mounted() {
        // this.getField();
        this.getTerms();
     }
}
</script>

<style>
#keep .v-navigation-drawer__border {
    display: none
}
</style>

