<template>
    <div class="grid grid-cols-12">
        <div class="col-span-9">
            <div class="col-span-12 m-2">
                <div class="float-left">
                    <a :href="'/manage/orders/' + order.id" type="button" class="bg-blue-500 py-2 px-2 text-sm text-white shadow-md hover:bg-blue-700 hover:shadow-lg">ΠΡΟΒΟΛΗ</a>
                </div>
                <div class="text-right">
                    <div v-if="newOrderNumberContainer">
                        <input type="text" v-model="newOrderNumber" placeholder="Κωδικός νέας Παραγγελίας"/>
                        <button @click="replicateOrder" type="button" class="ml-2 bg-gray-500 py-2 px-2 text-sm text-white shadow-md hover:bg-gray-700 hover:shadow-lg">
                            ΔΗΜΙΟΥΡΓΙΑ ΜΕΤΑΒΟΛΗΣ
                        </button>
                    </div>
                    <div v-else>
                        <button @click="newOrderNumberContainer = true" type="button" class="ml-2 bg-gray-500 py-2 px-2 text-sm text-white shadow-md hover:bg-gray-700 hover:shadow-lg">
                            ΜΕΤΑΒΟΛΗ
                        </button>
                        <button v-if="order.detail.status == 'pending'" @click="deactivateOrder" type="button" class="ml-2 bg-red-500 py-2 px-2 text-sm text-white shadow-md hover:bg-red-700 hover:shadow-lg">
                            ΑΚΥΡΩΣΗ
                        </button>
                        <button v-else @click="enableOrder" type="button" class="ml-2 bg-green-500 py-2 px-2 text-sm text-white shadow-md hover:bg-green-700 hover:shadow-lg">
                            ΔΗΜΟΣΙΕΥΣΗ
                        </button>
                        <button @click="sendEmail" type="button" class="ml-2 bg-yellow-800 py-2 px-2 text-sm text-white shadow-md hover:bg-green-700 hover:shadow-lg">
                            ΑΠΟΣΤΟΛΗ EMAIL
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12">
                <div class="col-span-6 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΠΑΡΑΓΓΕΛΙΑ #{{ order.order_num }}</h2>
                    <div class="p-4">
                        {{ order.detail.status }}
                        <!-- <input-text v-model="order.created_at" placeholder="" label="Ημ/νια Παραγγελίας" /> -->
                        <input-select v-model="order.detail.status" value="id" :translatable="false" :selectableOptions="['pending', 'complete', 'processing','canceled']" placeholder="Field" label="Κατάσταση"/>

                        <input-select v-model="order.detail.invoice_status" value="id" :translatable="false" :selectableOptions="['Απόδειξη', 'Τιμολόγιο']" placeholder="Field" label="Τύπος παραστατικού"/>
                    </div>
                </div>

                <!-- @todo fix dyanime panels -->
                <!--            <panel :title="'Παραγγελία #' +order.order_num ">-->
                <!--                <input-text v-model="order.created_at" placeholder="" label="Ημ/νια Παραγγελίας"/>-->
                <!--                <input-text v-model="order.detail.status" placeholder="status" label="Κατάσταση Παραγγελίας"/>-->
                <!--            </panel>-->

                <div class="col-span-6 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΠΛΗΡΟΦΟΡΙΕΣ ΛΟΓΑΡΙΑΣΜΟΥ</h2>
                    <div class="p-4">
                        <input-text v-model="order.detail.billing_name" placeholder="" label="Όνομα"/>
                        <input-text v-model="order.detail.billing_lastname" placeholder="" label="Επίθετο"/>
                        <input-text v-model="order.detail.billing_email" placeholder="status" label="Email"/>
                    </div>
                </div>

                <div class="col-span-6 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΔΙΕΥΘΥΝΣΗ ΧΡΕΩΣΗΣ</h2>
                    <div class="p-4">
                        <input-text v-model="order.detail.billing_name" placeholder="" label="Όνομα Πελάτη"/>
                        <input-text v-model="order.detail.billing_lastname" placeholder="" label="Επίθετο"/>
                        <input-text v-model="order.detail.billing_email" placeholder="Email" label="Email"/>
                        <label for="shippings">Χώρα</label>
                        <select v-model="order.detail.billing_country_id" id="shippings" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option v-for="p in countries" :key="p.id" :value="p.id">{{ p.title }}</option>
                        </select>
                        <input-text v-model="order.detail.billing_region" placeholder="Περιοχή" label="Περιοχή"/>
                        <input-text v-model="order.detail.billing_city" placeholder="Πόλη" label="Πόλη"/>
                        <input-text v-model="order.detail.billing_street" placeholder="Δ/νση" label="Δ/νση"/>
                        <input-text v-model="order.detail.billing_street_number" placeholder="Αριθμός" label="Αριθμός"/>
                        <input-text v-model="order.detail.billing_zip" placeholder="T.K" label="T.K"/>
                        <input-text v-model="order.detail.billing_phone" placeholder="T.K" label="Σταθερό Τηλέφωνο"/>
                        <input-text v-model="order.detail.billing_mobile" placeholder="T.K" label="Κινητό Τηλέφωνο"/>
                    </div>
                </div>

                <div class="col-span-6 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <label for="deferentShippingBilling" class="bg-gray-100 px-4 py-2 text-bold">
                        <input id="deferentShippingBilling" type="checkbox" v-model="deferentShippingBiling">
                        ΔΙΕΥΘΥΝΣΗ ΑΠΟΣΤΟΛΗΣ</label>
                    <div class="p-4">
                        <input-text v-model="order.detail.shipping_name" placeholder="" label="Όνομα Πελάτη"/>
                        <input-text v-model="order.detail.shipping_lastname" placeholder="" label="Επίθετο"/>
                        <input-text v-model="order.detail.shipping_email" placeholder="Email" label="Email"/>
                        <label for="shippings">Χώρα</label>
                        <select v-model="order.detail.shipping_country_id" id="shippings" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option v-for="p in countries" :key="p.id" :value="p.id">{{ p.title }}</option>
                        </select>
                        <input-text v-model="order.detail.shipping_region" placeholder="Περιοχή" label="Περιοχή"/>

                        <input-text v-model="order.detail.shipping_city" placeholder="Πόλη" label="Πόλη"/>
                        <input-text v-model="order.detail.shipping_street" placeholder="Δ/νση" label="Δ/νση"/>
                        <input-text v-model="order.detail.shipping_street_number" placeholder="Αριθμός" label="Αριθμός"/>
                        <input-text v-model="order.detail.shipping_zip" placeholder="T.K" label="T.K"/>
                        <input-text v-model="order.detail.shipping_phone" placeholder="T.K" label="Σταθερό Τηλέφωνο"/>
                        <input-text v-model="order.detail.shipping_mobile" placeholder="T.K" label="Κινητό Τηλέφωνο"/>
                    </div>
                </div>

                <div class="col-span-12 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΠΑΡΑΓΓΕΛΘΕΝΤΑ ΕΙΔΗ</h2>
                    <div class="p-4">
                        <table>
                            <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-2 text-xs text-gray-500">ID</th>
                                <th class="px-6 py-2 text-xs text-gray-500">ΚΩΔΙΚΟΣ</th>
                                <th class="px-6 py-2 text-xs text-gray-500">ΤΙΜΉ</th>
                                <th class="px-6 py-2 text-xs text-gray-500">ΠΟΣΌΤΗΤΑ</th>
                                <th class="px-6 py-2 text-xs text-gray-500">ΑΦΑΙΡΕΣΗ</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white">
                            <tr v-for="(p, i) in order.detail.products" :key="i" class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    {{ p.product_id }}
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ p.sku }}
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">{{ p.price }}</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    <input @change="calculatePrice" type="number" v-model="p.quantity"/>
                                </td>
                                <td class="text-left">
                                    <svg @click="removeProduct(i)" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                                    </svg>
                                </td>
                            </tr>

                            <tr v-for="(p, i) in newProducts" :key="i" class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    {{ p.product_id }}
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-900">
                                        {{ p.sku }}
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm text-gray-500">{{ p.price }}</div>
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500">
                                    {{ p.quantity }}
                                </td>
                                <td @click="removeFromOrderProducts(i)">DELETE</td>
                            </tr>
                            </tbody>
                        </table>
                        <input @keyup="productSearch" type="text" v-model="productQuery"/>
                        <button type="button" @click="products = [];productQuery = '';" class="px-4 py-1 text-sm text-white bg-red-400 rounded ml-2">
                            Καθαρισμός
                        </button>
                        <table v-if="products.length > 0" class="divide-y divide-gray-200 absolute divide-gray-200 divide-y inline h-96 overflow-y-scroll left-72 overflow-auto overflow-hidden shadow-2xl bottom-20">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Sku
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            <tr class="cursor-pointer" v-for="p in products" :key="p.id" @click="addToProducts(p)">
                                <td class="px-6 py-4 whitespace-nowrap">{{ p.sku }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Order Products -->
                        <table v-if="orderProducts.length > 0">
                            <thead>
                            <tr>
                                <th class="text-left">Όνομα</th>
                                <th class="text-left">Sku</th>
                                <th class="text-left">Τιμή</th>
                                <th class="text-left">Τμχ.</th>
                                <th class="text-left">Σύνολο</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(product, i) in orderProducts" :key="product.id">
                                <td>{{ product.name }}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ parseInt(product.quantity) * product.price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-3 bg-gray-300">
            <div class="grid grid-cols-12">
                <div class="col-span-12 bg-white hover:shadow-lg shadow-md mx-2 rounded">
                    <div class="p-4">
                        <h2 class="bg-gray-100 px-4 py-2 text-bold">Αναζήτηση Χρήστη</h2>
                        <input-text @keyup="searchForUsers" v-model="userQuery" placeholder="Υπο Σύνολο" label="Πελάτης"/>
                        <ul>
                            <li class="b-bottom-2 bg-gray-200 cursor-pointer p-1" v-for="u in users" :key="u.id" @click="applyUserToOrder(u)">
                                {{ u.email }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-span-12 bg-white hover:shadow-lg shadow-md mx-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΣΧΟΛΙΑ</h2>
                    <div class="p-4">
                        <!--        <input-text v-model="order.detail.courier_name" placeholder="Τρόπος Αποστολής" label="Τρόπος Αποστολής"/>-->
                        <ul>
                            <li v-for="c in order.comments" :key="c.id" class="border-t-2">
                                <b> {{ c.user_role }}</b>: {{ c.user_name }}
                                <span class="float-right text-sm"> {{ c.created_at }}</span>

                                <br/>
                                {{ c.comment }}
                            </li>
                            <li class="border-t-2">
                                <label class="block">
                                    <textarea class="form-textarea mt-1 block w-full" rows="3" v-model="newComment" placeholder="Σχόλια Διαχειρηστή."></textarea>
                                </label>
                                <div class="text-right">
                                    <button @click="submitComment" class="bg-green-400 px-2 py-1 text-white mt-2">
                                        Υποβολή Σχολίου
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-span-12 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΠΛΗΡΟΦΟΡΙΕΣ ΠΛΗΡΩΜΗΣ</h2>
                    <div class="p-4">
                        <label for="shippings">Τρόπος Πληρωμής</label>
                        <select v-model="selectedPayment" id="shippings" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option v-for="p in payments" :key="p.id" :value="p">{{ p.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-span-12 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΠΛΗΡΟΦΟΡΙΕΣ ΑΠΟΣΤΟΛΗΣ</h2>
                    <div class="p-4">
                        <label for="shippings">Μεταφορείς</label>
                        <select v-model="selectedShipping" id="shippings" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option v-for="s in shippings" :key="s.id" :value="s">{{ s.title }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-span-12 bg-white hover:shadow-lg shadow-md m-2 rounded">
                    <h2 class="bg-gray-100 px-4 py-2 text-bold">ΣΥΝΟΛΟ</h2>

                    <div class="grid grid-cols-12">
                        <div class="p-4 col-span-10">
                            <input-text v-model="order.detail.sub_total" placeholder="Υπο Σύνολο" label="Υπο Σύνολο"/>
                        </div>
                        <span class="col-span-2 mt-12">€</span>
                    </div>

                    <div class="grid grid-cols-12 bg-gray-300 hover:shadow-lg shadow-md m-2 rounded">
                        <div class="col-span-8">
                            <div class="p-2">
                                <input-text v-model="newVoucher" placeholder="Σύνολο" label="Κωδικός Κουπονιού"/>
                                <ul>
                                    <li class="px-3 py-2 border-t bg-gray-100 cursor-pointer" @click="setVouhcer(v)" v-for="v in vouchers" :key="v.id">
                                        {{ v.code }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <button class="bg-yellow-500 hover:bg-green-700 hover:shadow-lg mt-7 px-3 py-2 shadow-md text-white" @click="searchVoucher">
                                Αναζήτηση
                            </button>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 bg-gray-300 hover:shadow-lg shadow-md m-2 rounded">
                        <div class="col-span-8">
                            <div class="p-2">
                                <input-text v-model="discount" placeholder="Σύνολο" label="Εκπτωση"/>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <button class="bg-yellow-500 hover:bg-green-700 hover:shadow-lg mt-7 px-3 py-2 shadow-md text-white" @click="setDiscount">
                                Εφαρμογή
                            </button>
                        </div>
                    </div>

                    <div v-if="order.detail.vouchers.length > 0">
                        <ul>
                            <li class="ml-4" v-for="(v, key) in order.detail.vouchers" :key="v.id">
                                <b>Κουπόνι:</b> {{ v.name }} <b>Αξία:</b> {{ v.value }} {{ v.is_fixed ? "€" : "%" }}
                                <span class="cursor-pointer" @click="removeVoucher(key)">
                  <span class="float-right mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                    </svg>
                  </span>
                </span>
                                <br/>
                            </li>
                        </ul>
                    </div>
                    <div class="grid grid-cols-12">
                        <div class="p-4 col-span-11">
                            <input-text v-model="order.detail.total" placeholder="Υπο Σύνολο" label="Σύνολο"/>
                        </div>
                        <span class="col-span-1 mt-12">€</span>
                    </div>

                    <ul class="p-2">
                        <li class="bg-white text-red-400">Παρακαλώ συμπληρώστε τα παρακάτω:</li>
                        <li v-for="(e, i) in errors.error" :key="i">{{ i }}</li>
                    </ul>
                </div>
                <div class="col-span-12 m-2 rounded">
                    <button @click="createOrder" type="button" class="bg-green-500 py-3 px-3 text-white shadow-md hover:bg-green-700 hover:shadow-lg">
                        ΔΗΜΙΟΥΡΓΙΑ
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import inputSelect from "../elements/fields/selectfield";
import inputText from "../elements/fields/textfield";

export default {
    components: {
        inputText,
    },
    data: () => ({
        countries: [],
        deferentShippingBiling: false,
        products: [],
        orderProducts: [],
        errors: [],
        users: [],
        saveProductLoader: 0,
        selectedUser: {},
        selectedShipping: {},
        selectedPayment: {},
        shippings: [],
        payments: [],
        userQuery: "",
        productQuery: "",
        panel: [0], //set active expansion
        order: {
            tracking_number: null,
            admin_comment: null,
            user_id: null,
            slug: null,
            comment: 0,
            detail: {
                products: [],
                vouchers: [],
                status: "pending",
                invoice_status: "Απόδειξη",
                payment_id: null,
                shipping_id: null,
                total: null,
                sub_total: null,
                billing_name: null,
                billing_lastname: null,
                billing_country_id: null,
                billing_email: null,
                billing_region: null,
                billing_city: null,
                billing_street: null,
                billing_zip: null,
                billing_street_number: null,
                billing_phone: null,
                billing_mobile: null,
                shipping_country_id: null,
                shipping_email: null,
                shipping_region: null,
                shipping_city: null,
                shipping_street: null,
                shipping_zip: null,
                shipping_street_number: null,
                shipping_phone: null,
                shipping_mobile: null,
                shipping_name: null,
                shipping_lastname: null,
            },
        },
    }),
    methods: {
        getCountries() {

            var self = this;
            axios
                .get("/manage/countries/all")
                .then(
                    function (response) {
                        self.countries = response.data;
                    }.bind(self)
                )
                .catch(function (error) {
                    console.log(error);
                });

        },
        removeProduct(i) {
            this.order.detail.products.splice(i, 1);
            this.calculatePrice();
        },
        setVouhcer(voucher) {
            let v = {
                vouhcer_id: voucher.id,
                type: "voucher",
                name: voucher.code,
                is_fixed: voucher.is_fixed,
                value: voucher.discount_amount,
            };
            console.log(v);
            this.order.detail.vouchers.push(v);
            this.$forceUpdate();
            this.calculatePrice();
        },
        removeVoucher(key) {
            console.log(key);
            this.order.detail.vouchers.splice(key, 1);
            this.$forceUpdate();
            this.calculatePrice();
        },
        searchVoucher() {
            axios
                .post("/manage/search-vouchers", {
                    code: this.newVoucher,
                })
                .then(
                    function (response) {
                        // show alert product updatep
                        this.vouchers = response.data;
                        // window.location.href = "/manage/products/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },
        removeFromOrderProducts(i) {
            this.newProducts.splice(0, i);
            this.calculatePrice();
        },
        setDiscount() {
            let v = {
                vouhcer_id: 0,
                type: "Εκπτωση",
                name: "Ονομα έκπτωσης",
                is_fixed: true,
                value: this.discount,
            };
            console.log(v);
            this.order.detail.vouchers.push(v);
            this.$forceUpdate();
            this.calculatePrice();
        },
        calculatePrice() {
            let subTotal = 0;
            console.log("subTotal");
            console.log(subTotal);
            for (let a = 0; a < this.order.detail.products.length; a++) {
                subTotal += this.order.detail.products[a].price * this.order.detail.products[a].quantity;
                // subTotal += (this.orderProducts[a].price * this.orderProducts[a].quantity);
            }
            this.order.detail.sub_total = subTotal;

            // for (let a = 0; a < this.order.detail.vouchers.length; a++) {
            //   if (this.order.detail.vouchers[a].is_fixed) {
            //     subTotal = subTotal - this.order.detail.vouchers[a].value;
            //   } else {
            //     let n = subTotal * (this.order.detail.vouchers[a].value / 100);
            //     subTotal = subTotal - n;
            //   }
            // }

            console.log(subTotal);
            let total = subTotal;
            for (let a = 0; a < this.order.detail.vouchers.length; a++) {
                if (this.order.detail.vouchers[a].is_fixed == 1) {
                    console.log("voucher is fixed");
                    total = total - this.order.detail.vouchers[a].value;
                } else {
                    console.log("voucher percentage");
                    total = total - total * (this.order.detail.vouchers[a].value / 100);
                }
            }
            this.order.detail.total = total;
        },
        addToProducts(product) {
            this.products = [];

            let p = {
                order_id: this.order.id,
                order_detail_id: this.order.id,
                product_id: product.product_id,
                stock_id: product.id,
                name: product.product.title.el,
                sku: product.sku,
                price: product.product.price,
                quantity: 1,
            };
            this.order.detail.products.push(p);
            this.calculatePrice();
        },
        searchForUsers() {
            this.saveMessages = [];
            axios
                .post("/manage/users/search", {
                    q: this.userQuery,
                })
                .then(
                    function (response) {
                        // show alert product updatep
                        this.users = response.data;
                        // window.location.href = "/manage/products/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },

        createOrder() {
            var self = this;
            this.saveMessages = [];
            axios
                .post("/manage/orders/store", this.order)
                .then(
                    function (response) {
                        // show alert product updatep
                        console.log(response.data);
                        if (response.data.error) {
                            this.errors = response.data;
                            return;
                        }

                        window.location.href = "/manage/orders/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },

        applyUserToOrder(u) {
            console.log(u);
            this.order.user_id = u.id;
            this.selectedUser = u;
            this.userQuery = "";
            this.users = [];

            this.order.detail.billing_name = u.name;
            this.order.detail.billing_lastname = u.lastname;
            this.order.detail.billing_email = u.email;
            this.order.detail.billing_country_id = u.detail.billing_country_id;
            this.order.detail.billing_region = u.detail.billing_region;
            this.order.detail.billing_city = u.detail.billing_city;
            this.order.detail.billing_street = u.detail.billing_street;
            this.order.detail.billing_zip = u.detail.billing_zip;
            this.order.detail.billing_street_number = u.detail.billing_street_number;
            this.order.detail.billing_phone = u.detail.billing_phone;
            this.order.detail.billing_mobile = u.detail.billing_mobile;
            this.order.detail.shipping_country_id = u.detail.shipping_country_id;
            this.order.detail.shipping_region = u.detail.shipping_region;
            this.order.detail.shipping_city = u.detail.shipping_city;
            this.order.detail.shipping_street = u.detail.shipping_street;
            this.order.detail.shipping_zip = u.detail.shipping_zip;
            this.order.detail.shipping_street_number = u.detail.shipping_street_number;
            this.order.detail.shipping_phone = u.detail.shipping_phone;
            this.order.detail.shipping_mobile = u.detail.shipping_mobile;
            this.order.detail.shipping_name = u.detail.shipping_name;
            this.order.detail.shipping_email = u.detail.shipping_email;
            this.order.detail.shipping_lastname = u.detail.shipping_lastname;
        },
        productSearch() {
            var self = this;
            if (self.productQuery < 3) {
                return;
            }
            axios
                .post("/manage/products/search/", {
                    search: this.productQuery,
                })
                .then(
                    function (response) {
                        self.products = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getShippingMethods() {
            axios
                .get("/manage/get-shippings")
                .then(
                    function (response) {
                        // show alert product updatep
                        this.shippings = response.data;
                        // window.location.href = "/manage/products/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },
        getPaymentMethods() {
            axios
                .get("/manage/get-payments")
                .then(
                    function (response) {
                        // show alert product updatep
                        this.payments = response.data;
                        // window.location.href = "/manage/products/" + response.data.id;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                });
        },


    },
    watch: {
        "order.detail": {
            handler: function (val, oldVal, prop) {
                console.log(val)
                if (!this.deferentShippingBiling) {
                    this.order.detail.shipping_name = this.order.detail.billing_name;
                    this.order.detail.shipping_lastname = this.order.detail.billing_lastname
                    this.order.detail.shipping_email = this.order.detail.billing_email;
                    this.order.detail.shipping_country_id = this.order.detail.billing_country_id;
                    this.order.detail.shipping_region = this.order.detail.billing_region;
                    this.order.detail.shipping_city = this.order.detail.billing_city;
                    this.order.detail.shipping_street = this.order.detail.billing_street;
                    this.order.detail.shipping_street_number = this.order.detail.billing_street_number;
                    this.order.detail.shipping_zip = this.order.detail.billing_zip;
                    this.order.detail.shipping_phone = this.order.detail.billing_phone;
                    this.order.detail.shipping_mobile = this.order.detail.billing_mobile;
                }
            },
            deep: true,
        },
        // whenever question changes, this function will run
        selectedShipping(n, o) {
            this.order.detail.shipping_id = this.selectedShipping.id;
            this.order.detail.courier_name = this.selectedShipping.title;
        },
        selectedPayment(n, o) {
            this.order.detail.payment_id = this.selectedPayment.id;
            this.order.detail.payment_name = this.selectedPayment.title;
        },
    },

    mounted() {
        this.getPaymentMethods();
        this.getShippingMethods();
        this.getCountries();
    },
};
</script>
<style>
#keep .v-navigation-drawer__border {
    display: none;
}

.v-expansion-panel {
    border-bottom: solid 1px #eee;
}
</style>
