<template>
  <div>
    <div class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4 grid grid-cols-4 gap-4 mb-4">
      New Rule
      <div>
        <label for="">Title</label> <input type="text" v-model="rule.title" label="Title" required/>
      </div>
      <div>
        <label for="price">Price</label>
        <input type="text" v-model="rule.discount_value" label="price" required/>
      </div>
      <div>
        Statheri timi <input type="checkbox" v-model="rule.discount_type" label="Σταθερή Τιμή;" hide-details/>
      </div>
      <div>
        <button class='bg-green-500 py-3 px-5 text-white' v-if="!edit" v-on:click="create">ΔΗΜΙΟΥΡΓΙΑ</button>
        <button class='bg-green-500 py-3 px-5 text-white' v-if="edit" v-on:click="update">ΕΝΗΜΕΡΩΣΗ</button>
      </div>
    </div>
    <div class="grid grid-1 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">

      <my-query-builder :appendExtraRules="appendExtraRules" :manageQuery='false' :query="query" @setParentQuery="setQuery($event)"></my-query-builder>
    </div>
  </div>
</template>
<script>
import myQueryBuilder from "../elements/myQueryBuilder";
// import inventory from "../elements/inventory";
// import draggable from 'vuedraggable'``
export default {
  components: {
    myQueryBuilder
  },
  props: ['query_id'],
  data: () => ({
    edit: false,
    loading: false,
    saveProductLoader: 0,
    appendExtraRules: [{
      type: "text",
      id: "status",
      label: "Status",
      operators: [
        "=", "!="
      ],
      choices: []
    }],
    query: [],
    rule: {
      'title': null,
      'is_active': 0,
      'discount_type': 0,
      'discount_value': 0,
      'order': 0,
      'starts_at': 0,
      'query': null
    },
    //datatable
    headers: [{
      text: 'Id',
      value: 'sku'
    },

      {
        text: 'Κανόνας',
        value: 'rule_id'
      },
    ],
    products: [],
    // end datatable
  }),
  methods: {
    getRule() {
      if (this.query_id != "") {
        var self = this;
        self.loading = true;
        axios.get('/manage/rules/json/' + self.query_id)
            .then(function (response) {
              self.rule = response.data;
              console.log('sdf');
              console.log(response.data.query);
              self.query = response.data.query;
              self.edit = true;
            }.bind(this))
            .catch(function (error) {
              console.log(error);
            });
      }
    },
    searchEntity: function () {
      var self = this;
      self.loading = true;
      axios.post('/manage/rules/filter_products', {
        query: self.rule.query
      })
          .then(function (response) {
            self.products = response.data;
            self.loading = false;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
    },
    setQuery(value) {
      console.log(value);
      this.rule.query = value
    },
    create() {
      var self = this;
      this.saveMessages = [];
      axios.post('/manage/rules/', this.rule)
          .then(function (response) {
            // show alert product update
            console.log(response.data)
            // window.location.href = "/manage/rules/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },

  },
  created() {
    console.log('this.query');
    console.log(this.query);
    // this.rule.query = this.query;
    // this.rule.query = this.query.query
    // this.rule.title = this.query.title
    // this.rule.is_active = this.query.is_active
    // this.rule.discount_value = this.query.discount_value
    // this.rule.discount_type = this.query.discount_type
  },
  mounted() {
    if (this.edit != undefined && this.edit != null && this.edit != false) {
      this.rule = this.edit;
    }
    this.getRule();
  }
}

</script>
<style>
#keep .v-navigation-drawer__border {
  display: none
}

.v-expansion-panel {
  border-bottom: solid 1px #eee;
}

</style>
