<template>
    <div>
        <Table :headers="headers" entity="orders"></Table>
    </div>
</template>
<script>
const axios = require('axios').default;

import Table from '../elements/datatable'

export default {
    components: { Table },

    props: [],
    data: () => ({
        shippings: [],
        loading: false,

        singleSelect: false,
        selected: [],
        headers: [
            { text: 'Id', value: 'id', searchable: true },
            { text: 'Number', value: 'order_num', searchable: true },
            {
                text: 'Όνομα',
                align: 'start',
                sortable: true,
                value: 'billing_name',
                searchable: true,
            },
            {
                text: 'Επώνυμο',
                align: 'start',
                sortable: true,
                value: 'billing_lastname',
                searchable: true,
            },

            { text: 'Email', value: 'email', searchable: true },
            { text: 'Κινητό', value: 'billing_mobile', searchable: true },
            { text: 'Σύνολο', value: 'total', append: '€' },
            {
                text: 'Μεταφορική',
                value: 'courier_name',
                filtered: ['Γενική Ταχυδρομική	', 'ACS Courier', 'premium (παράδοση εντός 48 ωρών)']
            },
            {
                text: 'Κατάσταση',
                value: 'status',
                sortable: true,

                filtered: ['pending', 'canceled', 'processing', 'completed']
            },
            { text: 'created', value: 'created_at', searchable: false },


        ],
        items: [],
    }),
    methods: {

        getCouriers() {
            //get couriers
            axios.get('/manage/get-shippings')
                .then(response => {
                    this.shippings = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },

        vueProduct(item) {
            var url = '/' + item.name;
            var win = window.open(url, '_blank');
            win.focus();
        },

    },
    mounted() {
        this.getCouriers();
    }

}
</script>

