<template>
  <div>


    <div class="grid grid-cols-12">


      <div class="col-span-12 m-5       mb-4 text-right">
        <a :href="'/manage/orders/'+order.id+'/edit/'" type="button" class="bg-green-500 py-3 px-5 text-white mt-10">ΕΠΕΞΕΡΓΑΣΙΑ</a>
      </div>


      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8   pb-8 mb-4">
        New Order #{{ order.order_num }}

        <h2 class="pb-2 text-bold">Παραγγελία</h2>
        <ul>
          <li>Ημ/νια Παραγγελίας: {{ order.created_at }} <br/></li>
          <li>Κατάσταση Παραγγελίας: {{ order.detail.status }}</li>
        </ul>
      </div>
      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Πληροφορίες Λογαριασμού</h2>
        <input-text v-model="order.detail.billing_name" placeholder="" label="Όνομα"/>
        <input-text v-model="order.detail.billing_lastname" placeholder="" label="Επίθετο"/>
        <input-text v-model="order.detail.billing_email" placeholder="status" label="Email"/>
      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Διεύθυνση Χρέωσης</h2>
        <input-text v-model="order.detail.billing_name" placeholder="" label="Όνομα Πελάτη"/>
        <input-text v-model="order.detail.billing_lastname" placeholder="" label="Επίθετο"/>
        <input-text v-model="order.detail.billing_email" placeholder="Email" label="Email"/>
        <input-text v-model="order.detail.billing_region" placeholder="Περιοχή" label="Περιοχή"/>
        <input-text v-model="order.detail.billing_city" placeholder="Πόλη" label="Πόλη"/>
        <input-text v-model="order.detail.billing_street" placeholder="Δ/νση" label="Δ/νση"/>
        <input-text v-model="order.detail.billing_street_number" placeholder="Αριθμός" label="Αριθμός"/>
        <input-text v-model="order.detail.billing_zip" placeholder="T.K" label="T.K"/>
        <input-text v-model="order.detail.billing_phone" placeholder="T.K" label="Σταθερό Τηλέφωνο"/>
        <input-text v-model="order.detail.billing_mobile" placeholder="T.K" label="Κινητό Τηλέφωνο"/>
      </div>


      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Διεύθυνση Αποστολής</h2>
        <input-text v-model="order.detail.shipping_name" placeholder="" label="Όνομα Πελάτη"/>
        <input-text v-model="order.detail.shipping_lastname" placeholder="" label="Επίθετο"/>
        <input-text v-model="order.detail.shipping_email" placeholder="Email" label="Email"/>
        <input-text v-model="order.detail.shipping_region" placeholder="Περιοχή" label="Περιοχή"/>
        <input-text v-model="order.detail.shipping_city" placeholder="Πόλη" label="Πόλη"/>
        <input-text v-model="order.detail.shipping_street" placeholder="Δ/νση" label="Δ/νση"/>
        <input-text v-model="order.detail.shipping_street_number" placeholder="Αριθμός" label="Αριθμός"/>
        <input-text v-model="order.detail.shipping_zip" placeholder="T.K" label="T.K"/>
        <input-text v-model="order.detail.shipping_phone" placeholder="T.K" label="Σταθερό Τηλέφωνο"/>
        <input-text v-model="order.detail.shipping_mobile" placeholder="T.K" label="Κινητό Τηλέφωνο"/>
      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Πληροφορίες Πληρωμής</h2>
        <!--        <input-text v-model="order.detail.payment_name" placeholder="Πληρωμή" label="Πληρωμή"/>-->


        <input-select v-model="order.detail.payment_id" id="paymentid" :value="order.detail.payment_id" :translatable="false" :selectableOptions="payments" title="title" placeholder="Oparato" label="Πληρωμές"/>

      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Πληροφορίες Αποστολής</h2>
        <!--        <input-text v-model="order.detail.courier_name" placeholder="Τρόπος Αποστολής" label="Τρόπος Αποστολής"/>-->

        <input-select v-model="order.detail.courier_name" id="paymentid" :value="order.detail.courier_name" :translatable="false" :selectableOptions="shippings" title="title" placeholder="Shippings" label="Μεταφορείς"/>
      </div>


      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Παραγγελθέντα Είδη</h2>

        <table>
          <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-2 text-xs text-gray-500">
              ID
            </th>
            <th class="px-6 py-2 text-xs text-gray-500">
              ΚΩΔΙΚΟΣ
            </th>
            <th class="px-6 py-2 text-xs text-gray-500">
              ΤΙΜΉ
            </th>
            <th class="px-6 py-2 text-xs text-gray-500">
              ΠΟΣΌΤΗΤΑ
            </th>

          </tr>
          </thead>
          <tbody class="bg-white">
          <tr v-for="p in order.detail.products" class="whitespace-nowrap">
            <td class="px-6 py-4 text-sm text-gray-500">
              {{ p.product_id }}
            </td>
            <td class="px-6 py-4">
              <div class="text-sm text-gray-900">
                {{ p.sku }}
              </div>
            </td>
            <td class="px-6 py-4">
              <div class="text-sm text-gray-500">{{ p.price }}</div>
            </td>
            <td class="px-6 py-4 text-sm text-gray-500">
              {{ p.quantity }}
            </td>

          </tr>

          <tr v-for="p in newProducts" class="whitespace-nowrap">
            <td class="px-6 py-4 text-sm text-gray-500">
              {{ p.product_id }}
            </td>
            <td class="px-6 py-4">
              <div class="text-sm text-gray-900">
                {{ p.sku }}
              </div>
            </td>
            <td class="px-6 py-4">
              <div class="text-sm text-gray-500">{{ p.price }}</div>
            </td>
            <td class="px-6 py-4 text-sm text-gray-500">
              {{ p.quantity }}
            </td>

          </tr>

          </tbody>
        </table>
      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <input @keyup="productSearch" type="text" v-model='productQuery'>
        <button type="button " @click="products=[]; productSearch = ''" class="px-4 py-1 text-sm text-white bg-red-400 rounded ml-2">Καθαρισμός</button>
        <table v-if="products.length > 0 " class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sku</th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <tr class="cursor-pointer" v-for="p in products" @click="addToProducts(p)">
            <td class="px-6 py-4 whitespace-nowrap">{{ p.sku }}</td>
          </tr>
          </tbody>
        </table>
        <!-- Order Products -->
        <table v-if="orderProducts.length > 0">
          <thead>
          <tr>
            <th class="text-left">Όνομα</th>
            <th class="text-left">Sku</th>
            <th class="text-left">Τιμή</th>
            <th class="text-left">Τμχ.</th>
            <th class="text-left">Σύνολο</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="product in orderProducts" :key="product.id">
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ parseInt(product.quantity) * product.price }}</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Σχόλια</h2>

        <!--        <input-text v-model="order.detail.courier_name" placeholder="Τρόπος Αποστολής" label="Τρόπος Αποστολής"/>-->
        <ul>
          <li v-for="c in order.comments" :key="c.id" class="border-t-2">
            {{ c.user_role }}: {{ c.user_name }}<br/>
            {{ c.created_at }}<br/>
            {{ c.comment }}
          </li>
          <li class="border-t-2">
            <!--            <textarea v-model="newComment" id="" cols="10" rows="2"></textarea><br/>-->
            <!--            <button>Υποβολή Σχολίου</button>-->

            <label class="block">
              <span class="text-gray-700">Textarea</span>
              <textarea class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter some long form content."></textarea>
            </label>
          </li>
        </ul>
      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        <h2>Σύνολα Παραγγελίας</h2>
        <!--        <input-text v-model="order.detail.courier_name" placeholder="Τρόπος Αποστολής" label="Τρόπος Αποστολής"/>-->
        <input-text v-model="order.detail.total" placeholder="Σύνολο" label="Σύνολο"/>
        <!--        <input-text v-model="order.detail.total" placeholder="Σύνολο" label="Σύνολο"/>-->
        <!--        <input-text v-model="order.detail.total" placeholder="Σύνολο Ωφειλών" label="Σύνολο Ωφειλών"/>-->

        <!--        Μερικό Σύνολο € {{ order.detail.total }}-->
        <!--        Τελικό Σύνολο 50, 96 €-->
        <!--        κουπόνι-->
        <!--        Σύνολο Καταβαλλόμενων Πληρωμών 0, 00 €-->
        <!--        Σύνολο που Επιστράφηκε 0, 00 €-->
        <!--        Σύνολο Ωφειλών 50, 96 €-->

      </div>


      <div class="col-span-12 m-5 rounded px-8  mb-4 text-right">
        <a :href="'/manage/orders/'+order.id+'/edit/'" type="button" class="bg-green-500 py-3 px-5 text-white mt-10">Επεξεργασία</a>

      </div>

      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">


        <input-text v-model="order.tracking_number" placeholder="Title" label="tracking_number"/>
        <input-text v-model="order.user_id" placeholder="total" label="User Id"/>
        <input-text v-model="order.admin_comment" placeholder="Title" label="admin_comment"/>
        <input-text v-model="order.comment" placeholder="Title" label="comment"/>
        <input-select v-model="order.detail.status" id="sd" :value="null" :translatable="false" :selectableOptions="['or', 'and']" placeholder="Oparato" label="Oparator"/>
        <input-select v-model="order.detail.shipping_id" id="sd" :value="null" :translatable="false" :selectableOptions="['123', '2323and']" placeholder="shipping_id" label="shipping_id"/>
        <input-text v-model="order.detail.total" placeholder="total" label="Total"/>
        <input-text v-model="order.detail.sub_total" placeholder="total" label="Total"/>
        <input-text v-model="order.detail.payment_id" placeholder="payment_id" label="payment_id"/>
        <input-text v-model="order.detail.shipping_id" placeholder="shipping_id" label="shipping_id"/>
        <input-text v-model="order.detail.total" placeholder="total" label="total"/>
        <input-text v-model="order.detail.sub_total" placeholder="sub_total" label="sub_total"/>
        <div class="border p-4 mt-4">
          <input @keyup="productSearch" type="text" v-model='productQuery'>
          <button type="button " @click="products=[]; productSearch = ''">clear</button>
          <table v-if="products.length > 0 " class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sku</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr class="cursor-pointer" v-for="p in products" @click="addToProducts(p)">
              <td class="px-6 py-4 whitespace-nowrap">{{ p.sku }}</td>
            </tr>
            </tbody>
          </table>
          <!-- Order Products -->
          <table v-if="orderProducts.length > 0">
            <thead>
            <tr>
              <th class="text-left">Όνομα</th>
              <th class="text-left">Sku</th>
              <th class="text-left">Τιμή</th>
              <th class="text-left">Τμχ.</th>
              <th class="text-left">Σύνολο</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in orderProducts" :key="product.id">
              <td>{{ product.name }}</td>
              <td>{{ product.sku }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ parseInt(product.quantity) * product.price }}</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
      <div class="col-span-6 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
        User: {{ selectedUser.name }} {{ selectedUser.lastname }} {{ selectedUser.email }}
        <input @keyup="searchForUsers" placeholder="Search For User by email or phone" class="shadow ap pearance-none border rounded w-full py-2 mb-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" v-model="userQuery">
        <table v-if="users.length >0 " class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <tr class="cursor-pointer" v-for="u in users" @click="setUserInOrder(u)">
            <td class="px-6 py-4 whitespace-nowrap">{{ u.lastname }} {{ u.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap border-l-2">{{ u.mobile }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ u.email }}</td>
          </tr>
          </tbody>
        </table>
        <input-text v-model="order.detail.billing_name" placeholder="billing_name" label="billing_name"/>
        <input-text v-model="order.detail.billing_lastname" placeholder="billing_lastname" label="billing_lastname"/>
        <input-text v-model="order.detail.billing_country_id" placeholder="billing_country_id" label="billing_country_id"/>
        <input-text v-model="order.detail.billing_region" placeholder="billing_region" label="billing_region"/>
        <input-text v-model="order.detail.billing_city" placeholder="billing_city" label="billing_city"/>
        <input-text v-model="order.detail.billing_street" placeholder="billing_street" label="billing_street"/>
        <input-text v-model="order.detail.billing_zip" placeholder="billing_zip" label="billing_zip"/>
        <input-text v-model="order.detail.billing_street_number" placeholder="billing_street_number" label="billing_street_number"/>
        <input-text v-model="order.detail.billing_phone" placeholder="billing_phone" label="billing_phone"/>
        <input-text v-model="order.detail.billing_mobile" placeholder="billing_mobile" label="billing_mobile"/>
        <input-text v-model="order.detail.shipping_country_id" placeholder="shipping_country_id" label="shipping_country_id"/>
        <input-text v-model="order.detail.shipping_region" placeholder="shipping_region" label="shipping_region"/>
        <input-text v-model="order.detail.shipping_city" placeholder="shipping_city" label="shipping_city"/>
        <input-text v-model="order.detail.shipping_street" placeholder="shipping_street" label="shipping_street"/>
        <input-text v-model="order.detail.shipping_zip" placeholder="shipping_zip" label="shipping_zip"/>
        <input-text v-model="order.detail.shipping_street_number" placeholder="shipping_street_number" label="shipping_street_number"/>
        <input-text v-model="order.detail.shipping_phone" placeholder="shipping_phone" label="shipping_phone"/>
        <input-text v-model="order.detail.shipping_mobile" placeholder="shipping_mobile" label="shipping_mobile"/>
        <input-text v-model="order.detail.shipping_name" placeholder="shipping_name" label="shipping_name"/>
        <input-text v-model="order.detail.shipping_lastname" placeholder="shipping_lastname" label="shipping_lastname"/>
        <button @click="createOrder" type="button" class="bg-green-500 py-3 px-5 text-white mt-10">Create Order</button>
      </div>
    </div>

  </div>
</template>
<script>
import inputSelect from '../elements/fields/selectfield';
import inputText from '../elements/fields/textfield';

export default {
  components: {
    inputText
  },
  props: ['order'],
  data: () => ({
    shippings: [],
    payments: [],
    newProducts: [],
    products: [],
    orderProducts: [],
    users: [],
    saveProductLoader: 0,
    selectedUser: {},
    userQuery: '',
    newComment: '',
    productQuery: '',
    panel: [0], //set active expansion

  }),
  methods: {
    calculatePrice() {
      var total = 0;
      for (var a = 0; a < this.orderProducts.length; a++) {
        total += (this.orderProducts[a].product.price);
        // total += (this.orderProducts[a].price * this.orderProducts[a].quantity);
        console.log(total)
        console.log(this.orderProducts[a].price)
      }
      this.order.detail.total = total;
    },
    addToProducts(product) {

      var p = {
        'order_id': this.order.id,
        'order_detail_id': this.order.id,
        'product_id': product.id,
        'stock_id': product.product_id,
        'name': product.id,
        'sku': product.sku,
        'price': product.id,
        'quantity': product.quantity,
      };
      this.newProducts.push(p);
      this.calculatePrice();
    },
    searchForUsers() {
      this.saveMessages = [];
      axios.post('/manage/users/search', {
        q: this.userQuery
      })
          .then(function (response) {
            // show alert product updatep
            this.users = response.data;
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    deactivateOrder() {
      if (confirm('Να γίνει μεταβολή της παραγγελίας?')) {
        axios.post('/manage/orders/' + this.order.id + "/replicate", this.order)
            .then(function (response) {
              // show alert product updatep
              location.reload();

            }.bind(this))
            .catch(function (error) {
              console.log(error);
            }).then(function () {
        });
      }
    },
    replicateOrder() {
      if (confirm('Να γίνει μεταβολή της παραγγελίας?')) {
        axios.post('/manage/orders/' + this.order.id + "/replicate", this.order)
            .then(function (response) {
              // show alert product updatep
              location.reload();

            }.bind(this))
            .catch(function (error) {
              console.log(error);
            }).then(function () {
        });
      }


    },
    updateOrder() {
      axios.post('/manage/orders/' + this.order.id, this.order)
          .then(function (response) {
            // show alert product updatep
            console.log(response.data)
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    createOrder() {
      var self = this;
      this.saveMessages = [];
      axios.post('/manage/order/' + this.order.id + '/update', this.order)
          .then(function (response) {
            // show alert product updatep
            console.log(response.data)
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    setUserInOrder(u) {
      console.log(u);
      this.order.user_id = u.id;
      this.selectedUser = u;
      this.userQuery = '';
      this.users = [];
    },
    getShippingMethods() {
      axios.get('/manage/get-shippings',)
          .then(function (response) {
            // show alert product updatep
            this.shippings = response.data;
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    getPaymentMethods() {
      axios.get('/manage/get-payments',)
          .then(function (response) {
            // show alert product updatep
            this.payments = response.data;
            // window.location.href = "/manage/products/" + response.data.id;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          }).then(function () {
      });
    },
    productSearch() {
      var self = this;
      if (self.productQuery < 3) {
        return;
      }
      axios.post('/manage/products/search/', {
        search: this.productQuery
      })
          .then(function (response) {
            self.products = response.data;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
    }
  },
  mounted() {
    this.getPaymentMethods();
    this.getShippingMethods();
  }
}

</script>
<style>
#keep .v-navigation-drawer__border {
  display: none
}

.v-expansion-panel {
  border-bottom: solid 1px #eee;
}

</style>
