<template>
    <div>
        <div v-for="(t,i) in theme" :key="i" :class="t.class">
            {{t.print}}
            <builder-item :content="t.content"> </builder-item>
        </div>
    </div>
</template>
<script>
import builderItem from "./item";
export default {
    name: "builder",
    props: [],
    components: ['builderItem'],
    data: () => ({
        theme: [{
            header: [],
            content: [{
                    class: 'grid grid-cols-2 bg-black text-white gap-4 pb-2',
                    id: null,
                    print: null,
                    content: [{
                        class: 'bg-purple-500 text-white p-2',
                        id: null,
                        print: 'some random text',
                        content: [{
                            class: 'bg-pink-500 text-white p-2',
                            id: null,
                            print: 'some random text',
                            content: []
                        }]
                    }, {
                        class: 'bg-purple-500 text-white p-2',
                        id: null,
                        print: 'some random text',
                        content: []
                    }]
                },
                {
                    class: 'bg-red-500 text-white grid grid-cols-3 gap-4 pb-2',
                    id: null,
                    print: ' ',
                    content: [{
                        class: 'bg-purple-500 text-white p-2',
                        id: null,
                        print: 'some random text',
                        content: []
                    }, {
                        class: 'bg-purple-500 text-white p-2',
                        id: null,
                        print: 'some random text',
                        content: []
                    }, {
                        class: 'bg-purple-500 text-white p-2',
                        id: null,
                        print: 'some random text',
                        content: []
                    }]
                }
            ]
        }]
    }),
    computed: {},
};

</script>
