<template>
    <!-- <div> -->
    <div v-for="(t,i) in content" :key="i" :class="t.class">
        {{t.print}}
        <builderItem :content="t.content" />
    </div>
</template>
<script>
// import builderItem from "./item";
export default {
    name: "builderItem",
    props: ['content', 'child'],
    components: ['builderItem'],
    data: () => ({}),
    computed: {},
};

</script>
