<template>
    <div>
        <ul class="ml-6" :class="'item-' + loopKey">
            <VueDraggable :animation="150" class="" v-model="list" group="g1">
                <li v-for="(el, index) in list" :key="el.id"
                    :class="'listItem-' + loopKey + (loopKey > 1 ? ' ' : '')"
                    class="border-gray-200 h-50px relative bg-white">
                    <div class="drag-area">

                        <span class="handle cursor-move absolute left-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"/>
                            </svg>
                        </span>

                        <div class="sm:flex sm:items-center sm:justify-between border">
                            <div class="text-base font-semibold leading-6 text-gray-900">
                                <div v-if="!el.hideΤitle">
                                    <span v-if="el.title.el !== undefined" class="mt-2 pl-4 mb-2 title">
                                    {{ el.title.el }}
                                    </span>
                                    <span v-else class="mt-2 pl-4">
                                    {{ el.title }}
                                    </span>
                                </div>
                                <div v-if="el.type !== undefined && el.type == 'image'">
                                    <img :src="el.icon" :alt="el.title" class="w-24">
                                </div>
                            </div>
                            <div class="mt-3 sm:ml-4 sm:mt-0">
                                <!-- toggle children -->
                                <button v-if="el.children != undefined && el.children.length"
                                        @click="toggleSubmenu(index)" class="pr-2">
                                    <svg v-if="submenuVisibleIndex == index" xmlns="http://www.w3.org/2000/svg"
                                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                         class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m4.5 15.75 7.5-7.5 7.5 7.5"/>
                                    </svg>
                                    <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
                                    </svg>
                                </button>
                                <!--end toggle children-->
                                <button @click="toggleSettings(index)"
                                        class="mt-2 text-blue-500 pr-2 rounded hover:text-blue-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor" class="w-4 h-4 text-black">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z"/>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                    </svg>
                                </button>
                                <button @click="remove(index)"
                                        class="mt-2 text-red-500 pr-2 rounded hover:text-red-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div v-if="settingsVisibleIndex === index" class="p-4 shadow-lg pl-4">
                            <!-- Εδώ μπορείς να προσθέσεις τις ρυθμίσεις σου -->
                            <div
                                :class="'grid grid-cols-' + languages.length "
                                class="mb-4 gap-4">
                                <div v-for="l in languages">
                                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Τίτλος
                                        {{ l.title }}</label>
                                    <div class="mt-2">
                                        <input v-model="el.title[l.name]" type="text" id="first-name"
                                               autocomplete="given-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="href" class="block text-sm font-medium leading-6 text-gray-900 mt-4">
                                    Σύνδεσμος </label>
                                <div class="mt-2">
                                    <input v-model="el.name" type="text" id="href"
                                           autocomplete="100"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div class="">
                                <fieldset>
                                    <div class="">
                                        <div class="relative flex items-start">
                                            <div class="flex h-6 items-center">
                                                <input v-model="el.disableLink" true-value="1" false-value="0"
                                                       id="disableLink" aria-describedby="comments-description"
                                                       name="comments" type="checkbox"
                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                            </div>
                                            <div class="ml-3 text-sm leading-6">
                                                <label for="disableLink" class="font-medium text-gray-900">Απενεργοποίηση
                                                    συνδέσμου</label>
                                            </div>
                                        </div>
                                        <div class="relative flex items-start">

                                            <div class="flex h-6 items-center">
                                                <input v-model="el.hideΤitle"
                                                       :id="'hide_title_sub'+el.name"
                                                       aria-describedby="hide_title-description" name="hide_title"
                                                       type="checkbox"
                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                            </div>
                                            <div class="ml-3 text-sm leading-6">
                                                <label :for="'hide_title_sub'+el.name" class="font-medium text-gray-900">Απόκρυψη
                                                    Τίτλου</label>

                                            </div>
                                        </div>
                                        <div class="relative flex items-start">
                                            <div class="flex h-6 items-center">
                                                <input v-model="el.underline" true-value="1" false-value="0"
                                                       id="candidates"
                                                       aria-describedby="candidates-description" name="candidates"
                                                       type="checkbox"
                                                       class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                            </div>
                                            <div class="ml-3 text-sm leading-6">
                                                <label for="candidates"
                                                       class="font-medium text-gray-900">Υπογράμμιση</label>

                                            </div>
                                        </div>


                                    </div>
                                </fieldset>
                            </div>

                            <div v-if="el.type !== undefined && el.type == 'image'">
                                <label for="width" class="block text-sm font-medium leading-6 text-gray-900">
                                    Μέγεθος εικόνας</label>
                                <div class="mt-2">
                                    <input v-model="el.width" type="number" id="width"
                                           autocomplete="100"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>


                                <label for="href" class="block text-sm font-medium leading-6 text-gray-900 mt-4">
                                    Σύνδεσμος </label>
                                <div class="mt-2">
                                    <input v-model="el.href" type="text" id="href"
                                           autocomplete="100"
                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>

                            </div>
                            <div class="mb-4">
                                <div class="mt-4 text-sm leading-6">
                                    <label class="font-medium text-gray-900">Χρώμα Τίτλου</label>
                                </div>
                                <color-picker format="hex" v-model:pureColor="el.color"/>
                                {{ el.color }}
                            </div>

                            <button @click="el.mega_menu_is_active = !el.mega_menu_is_active" type="button"
                                    :class="(el.mega_menu_is_active) ? 'bg-blue-500' : 'bg-gray-200'"
                                    class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
                                    role="switch" aria-checked="false">
                                <span class="sr-only">Use setting</span>
                                <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                                <span aria-hidden="true"
                                      :class="(el.mega_menu_is_active) ? 'translate-x-5' : 'translate-x-0'"
                                      class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
                            </button>
                            <label class="ml-4 text-sm">Ενεργοποίηση Mega Menu</label>
                        </div>
                        <div :class=" (submenuVisibleIndex === index) ? 'hidden' : ''">
                            <draggable-tree-node v-model="el.children"
                                                 :loopKey="loopKey + 1" :languages="languages"
                                                 :language="language"/>
                        </div>
                    </div>
                </li>
            </VueDraggable>
        </ul>
    </div>
</template>

<script setup>
import {VueDraggable} from 'vue-draggable-plus';
import {computed, ref, onMounted, onUnmounted} from "vue";
import {ColorPicker} from "vue3-colorpicker";
import "vue3-colorpicker/style.css";

const props = defineProps({
    language: {
        type: String,
        required: true
    },
    loopKey: {
        type: Number,
        required: false,
        default: 1
    },
    modelValue: {
        type: Array,
        required: true
    },
    languages: {
        type: Array,
        required: true
    }
});

const components = {
    VueDraggable,
    ColorPicker
};

const emits = defineEmits(['update:modelValue']);

const list = computed({
    get: () => props.modelValue,
    set: value => emits('update:modelValue', value)
});

const visibleChildren = ref(new Set());
const settingsVisibleIndex = ref(null);
const submenuVisibleIndex = ref(null);
const remove = (index) => {
    // ask for confirmation
    if (confirm("Να γίνει Διαγραφή του στοιχείου;")) {
        list.value.splice(index, 1);
    }
};

const toggleChildren = (index) => {
    if (visibleChildren.value.has(index)) {
        visibleChildren.value.delete(index);
    } else {
        visibleChildren.value.add(index);
    }
};

function onStart(event) {
    // var dragAreas = document.querySelectorAll('.drag-area');
    //
    // // Προσθήκη της κλάσης 'open' σε κάθε στοιχείο
    // dragAreas.forEach(function(element) {
    //     element.classList.add('open');
    // });

}

function onEnd(event) {
    // var dragAreas = document.querySelectorAll('.drag-area');
    //
    // // Προσθήκη της κλάσης 'open' σε κάθε στοιχείο
    // dragAreas.forEach(function(element) {
    //     element.classList.remove('open');
    // });

}

function toggleSettings(index) {
    settingsVisibleIndex.value = settingsVisibleIndex.value === index ? null : index;
}

function toggleSubmenu(index) {
    console.log('toggleSubmenu', index);
    submenuVisibleIndex.value = submenuVisibleIndex.value === index ? null : index;
}

// Function to apply custom CSS when .sortable-ghost appears
const applyCustomCssOnGhost = () => {
    const observer = new MutationObserver((mutations) => {
        // mutations.forEach(mutation => {
        //     mutation.addedNodes.forEach(node => {
        //         if (node.classList && node.classList.contains('sortable-ghost')) {
        //             // Apply custom CSS or class here
        //             node.style.backgroundColor = 'rgba(0, 0, 0, 0.1)'; // Example CSS
        //             node.style.border = '1px dashed #000'; // Example CSS
        //         }
        //     });
        // });
    });

    // Observe changes to the document body
    // observer.observe(document.body, {childList: true, subtree: true});

    // Cleanup observer when the component is unmounted
    // onUnmounted(() => {
    //     // observer.disconnect();
    // });
};

// onMounted(() => {
//     applyCustomCssOnGhost();
// });

const isChildrenVisible = (index) => {
    return visibleChildren.value.has(index);
};
</script>

<style scoped>
.drag-area {
    position: relative;
    min-height: 25px;
}
</style>
