* {
    font-family: "Roboto", sans-serif;
}
.sticky-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
 }
/*.mega-menu {*/
/*    left: 0;*/
/*    !*position: absolute;*!*/
/*    text-align: left;*/
/*    width: 100%;*/
/* }*/

/*.mobile-menu {*/
/*    !*display: none;*!*/
/*    left: 0;*/
/*    position: relative;*/
/*    text-align: left;*/
/*    width: 100%;*/
/* }*/

/*!* #hoverable Class Styles *!*/
/*.hoverable {*/
/*    position: static;*/
/*}*/

/*.hoverable > a:after {*/
/*    content: "\25BC";*/
/*    font-size: 10px;*/
/*    padding-left: 6px;*/
/*    position: relative;*/
/*    top: -1px;*/
/*}*/

/*!*.hoverable:hover .mega-menu {*!*/
/*!*display: block;*!*/
/*!*}*!*/

/*.hoverable .mega-menu,*/
/*.hoverable .mobile-menu {*/
/*    !* display: none; *!*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    transition: .4s ease .25s;*/
/*}*/

/*.mega-menu > .container{*/
/*    visibility:hidden;*/
/*}*/
/*.hoverable:hover .mega-menu > .container{*/
/*    visibility: visible;*/
/*}*/
/*.hoverable:hover .mega-menu,*/
/*.hoverable:hover .mobile-menu {*/
/*     visibility: visible;*/
/*  opacity: 0.98;*/
/*  !*max-height: 500px;*!*/
/*    !*opacity: 0.95;*!*/
/*    display: block;*/

/*    !*!* Show submenu on hover *!*!*/
/*    !*visibility: visible;*!*/
/*}*/

/*!* #toggle Class Styles *!*/

/*.toggleable > label:after {*/
/*    content: "\25BC";*/
/*    font-size: 10px;*/
/*    padding-left: 6px;*/
/*    position: relative;*/
/*    top: -1px;*/
/*    z-index: -1;*/
/*}*/

/*.toggle-input {*/
/*    display: none;*/
/*}*/

/*.toggle-input:not(checked) ~ .mega-menu {*/
/*    display: none;*/
/*}*/

/*.toggle-input:checked ~ .mega-menu {*/
/*    display: block;*/
/*}*/

/*.toggle-input:not(checked) ~ .mobile-menu {*/
/*    display: none;*/
/*}*/

/*.toggle-input:checked ~ .mobile-menu {*/
/*    display: block;*/
/*}*/

/*.toggle-input:checked + label {*/
/*    color: white;*/
/*    background: #1b315a;*/
/*    !*@apply bg-teal-700 *!*/
/*}*/

/*.toggle-input:checked ~ label:after {*/
/*    content: "\25B2";*/
/*    font-size: 10px;*/
/*    padding-left: 6px;*/
/*    position: relative;*/
/*    top: -1px;*/
/*}*/

/*input.selectSize:checked + label {*/
/*    border-color: #fff;*/
/*    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.8), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
/*    background: #1b315a;*/
/*    color: #fff;*/
/*}*/

/*.tab-content {*/
/*    display: none;*/
/*}*/

/*.tab-content.active {*/
/*    display: block;*/
/*}*/

/*.productItem:hover .sizesblock {*/
/*    display: inline-block;*/
/*    top: 285px;*/
/*    left: 0;*/
/*}*/

/*.sizesblock {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    z-index: 10;*/
/*}*/

/*.js-cookie-consent.cookie-consent {*/
/*    position: fixed;*/
/*    background: #1b315a;*/
/*    padding: 10px;*/
/*    bottom: 0;*/
/*    box-shadow: 0 0 4px #222;*/
/*}*/

/*span.cookie-consent__message {*/
/*    color: #fff;*/
/*}*/

/*button.js-cookie-consent-agree.cookie-consent__agree {*/
/*    color: #fff;*/
/*    background: green;*/
/*    border-radius: 2px;*/
/*    padding: 6px;*/
/*}*/

/*!* width *!*/
/*div.filter-block::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    border: none;*/
/*}*/

/*!* Track *!*/
/*div.filter-block::-webkit-scrollbar-track {*/
/*    background: #ffffff;*/
/*    border: none;*/
/*}*/

/*!* Handle *!*/
/*div.filter-block::-webkit-scrollbar-thumb {*/
/*    background: #baa85b;*/
/*}*/

/*!* Handle on hover *!*/
/*div.filter-block::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

/*!* only for medium devices css  *!*/
/*@media (min-width: 768px) {*/
/*    .md-sticky-top{*/
/*        position: -webkit-sticky;*/
/*        position: sticky;*/
/*        top: 0;*/
/*     }*/
/*}*/
