<template>

</template>

<script>
import Table from '../elements/datatable'

export default {
    components: {Table},

    props: [],
    data: () => ({
        woocommerceSettingsWindow: false,
    }),
    methods: {


        // getModules() {
        //     axios.get('/manage/modules')
        //         .then(response => {
        //             this.items = response.data;
        //         })
        //         .catch(error => {
        //             console.log(error);
        //         });
        // }

    },
    mounted() {
        // this.getModules();
    }
}
</script>

<style>
#keep .v-navigation-drawer__border {
    display: none
}
</style>

