<template>
    <div>
        <!-- Container for the GrapesJS editor -->
        <div ref="grapesjsContainer" style="height: 100vh;"></div>
    </div>
</template>

<script>
import grapesjs from 'grapesjs';
import 'grapesjs/dist/css/grapes.min.css';

export default {
    props: {
        componentsData: Array, // Προσθήκη props για τα components
    },
    data() {
        return {
            editor: null
        };
    },
    mounted() {
        // Initialize GrapesJS editor
        this.editor = grapesjs.init({
            container: this.$refs.grapesjsContainer,
            height: '100%',
            width: 'auto',
            storageManager: false,
            panels: { defaults: [] },
            blockManager: {
                appendTo: '#blocks',
                blocks: [
                    {
                        id: 'section',
                        label: '<b>Section</b>',
                        content: '<section><h1>New Section</h1></section>',
                        category: 'Basic',
                    },
                    {
                        id: 'text',
                        label: 'Text',
                        content: '<div data-gjs-type="text">Insert your text here</div>',
                        category: 'Basic',
                    },
                ],
            },
        });

        // Ελέγχει αν υπάρχουν δεδομένα και φορτώνει τα components στον editor
        if (this.componentsData.length > 0) {
            this.editor.setComponents(this.componentsData);
        }
    },
    watch: {
        componentsData(newData) {
            if (this.editor) {
                this.editor.setComponents(newData);
            }
        }
    },
    beforeDestroy() {
        if (this.editor) {
            this.editor.destroy();
        }
    }
};
</script>

<style scoped>
#grapesjsContainer {
    height: 100vh;
}
</style>
