<template>

    <div class="container ">

        <div class="builder-ui keep-selection custom-toolbar" >
<!--            <button type="button" @click="closeBuilder">Close</button>-->
<!--            <button type="button" @click="save">Save</button>-->
<!--            <button type="button" @click="saveContentAndFinish">Save & Close</button>-->
        </div>
        <div class="is-wrapper"></div>
    </div>

</template>

<script>
import ContentBox from '@innovastudio/contentbox'
// import ContentBox from './contentbox/contentbox'
import "./assets/contentbox.css";
import "./assets/contentbuilder.css";
import { ref, onMounted, onBeforeUnmount } from 'vue'

export default {
    props: {
        themeid: {
            type: Number,
            required: true
        },
        pagetype: {
            type: String,
            required: true
        }
    },
    setup (props, context) {
        const obj = ref(null)
        const theme_id = props.themeid
        const pagetype = props.pagetype
        const timeoutId = ref(null)
         // a utility to programmatically load js file (for loading language file).
        // (You can also use <script src=".."> include in html)
        const isScriptAlreadyIncluded = (src) => {
            const scripts = document.getElementsByTagName("script");
            for(let i = 0; i < scripts.length; i++)
                if(scripts[i].getAttribute('src') === src) return true;
            return false;
        }
        const loadLanguageFile = (languageFile, callback) => {
            if(!isScriptAlreadyIncluded(languageFile)) {
                const script = document.createElement("script");
                script.src = languageFile;
                script.async = true;
                script.onload = () => {
                    if(callback) callback();
                };
                document.body.appendChild(script);
            } else {
                if(callback) callback();
            }
        }
        const uploadFile = (e, callback) => {

            const selectedFile = e.target.files[0];

            const formData = new FormData();
            formData.append('file', selectedFile);
            fetch('/manage/upload-image', {
                method: 'POST',
                body: formData,
            })
                .then(response=>response.json())
                .then(response=>{
                    console.log(response)
                    if(callback) callback(response);
                });
        }

        onMounted(() => {

            localStorage.removeItem('_zoom'); // Reset zoom

            // Load language file first
            loadLanguageFile('/builder/contentbox/lang/el.js', ()=>{

                // Then run the ContentBuilder
                obj.value = new ContentBox({
                    path: '/builder/',
                    wrapper: '.is-wrapper',
                    livePreviewOpen: false,
                    canvas: true,
                    assetPath: '/builder/assets/',
                    fontAssetPath: '/builder/assets/fonts/',
                    container: '.container',
                    row: 'flex flex-col md:flex-row',
                    enableContentStyles: true,
                    enableSectionStyles: true,
                    cols: [
                        'w-full md:w-1/12 px-4',
                        'w-full md:w-2/12 px-4',
                        'w-full md:w-3/12 px-4',
                        'w-full md:w-4/12 px-4',
                        'w-full md:w-5/12 px-4',
                        'w-full md:w-6/12 px-4',
                        'w-full md:w-7/12 px-4',
                        'w-full md:w-8/12 px-4',
                        'w-full md:w-9/12 px-4',
                        'w-full md:w-10/12 px-4',
                        'w-full md:w-11/12 px-4',
                        'w-full px-4'],
                    contentStylePath: '/builder/assets/styles/',
                    mediaPath: 'builder/assets/',
                    previewURL: 'preview.html',
                    controlPanel: true,
                    iframeSrc: '/builder/blank-tailwind.html',
                    zoom: 1,
                    screenMode: 'desktop', // or fullview
                    onStart: ()=>{
                        let toolbar = document.querySelector('.custom-toolbar');
                        toolbar.style.display = ''; // toolbar visible only after builder starts
                    },

                    // To enable AI Assistant
                    sendCommandUrl: '/sendcommand',
                    // AIToolbar: false,
                    // showDisclaimer: false,
                    // startAIAssistant: true, // Auto open 'AI Assistant' panel
                    enableShortCommands: true,
                    speechRecognitionLang: 'en-US',
                    triggerWords: {
                        send: ['send', 'okay', 'ok', 'execute', 'run'],
                        abort: ['abort', 'cancel'],
                        clear: ['clear', 'erase']
                    },

                    // If using DeepGram for speech recognition, specify the speechTranscribeUrl.
                    // speechTranscribeUrl: 'ws://localhost:3002',
                    // The server implementation for ws://localhost:3002 can be found in server.js (Node.js code)

                    // Open asset/file browser (can be replaced with your own asset/file manager application)
                    imageSelect: '/builder/assets.html',
                    videoSelect: '/builder/assets.html',
                    audioSelect: '/builder/assets.html',
                    fileSelect: '/builder/assets.html',
                    mediaSelect: '/builder/assets.html', // for image & video

                    slider: 'glide',
                    navbar: true,
                    toolbar: true,
                    sidebar: true,

                    // Upload using AJAX Method:
                    onUploadCoverImage: (e) => {
                        uploadFile(e, (response)=>{
                            const uploadedImageUrl = response.url; // get saved image url
                            obj.value.boxImage(uploadedImageUrl); // change cover image
                        });
                    },
                    onImageUpload: (e)=>{
                        uploadFile(e, (response)=>{
                            const uploadedFileUrl = response.url;
                            obj.value.returnUrl(uploadedFileUrl);
                        });
                    },
                    onVideoUpload: (e)=>{
                        uploadFile(e, (response)=>{
                            const uploadedFileUrl = response.url;
                            obj.value.returnUrl(uploadedFileUrl);
                        });
                    },
                    onAudioUpload: (e)=>{
                        uploadFile(e, (response)=>{
                            const uploadedFileUrl = response.url;
                            obj.value.returnUrl(uploadedFileUrl);
                        });
                    },
                    onMediaUpload: (e)=>{
                        uploadFile(e, (response)=>{
                            const uploadedImageUrl = response.url;
                            obj.value.returnUrl(uploadedImageUrl);
                        });
                    },
                    onFileUpload: (e)=>{
                        uploadFile(e, (response)=>{
                            const uploadedFileUrl = response.url;
                            obj.value.returnUrl(uploadedFileUrl);
                        });
                    },

                    onChange: ()=>{
                        //Auto Save
                        // clearTimeout(timeoutId.value);
                        // timeoutId.value = setTimeout(()=>{
                        //     save();
                        // }, 1000);
                    },

                    templates: [
                        {
                            url: '/builder/assets/tailwind/templates.js',
                            path: '/builder/assets/tailwind/',
                            pathReplace: [],
                            numbering: true,
                            showNumberOnHover: true,
                        },
                        // {
                        //     url: '/builder/assets/templates-simple/templates.js',
                        //     path: '/builder/assets/templates-simple/',
                        //     pathReplace: [],
                        //     numbering: true,
                        //     showNumberOnHover: true,
                        // },
                        // {
                        //     url: '/builder/assets/templates-quick/templates.js',
                        //     path: '/builder/assets/templates-quick/',
                        //     pathReplace: [],
                        //     numbering: true,
                        //     showNumberOnHover: true,
                        // },
                        // {
                        //     url: '/builder/assets/templates-animated/templates.js',
                        //     path: '/builder/assets/templates-animated/',
                        //     pathReplace: [],
                        //     numbering: true,
                        //     showNumberOnHover: true,
                        // },
                    ],

                    /* ContentBuilder settings */
                    modulePath: '/builder/assets/modules/',
                    // fontAssetPath: 'assets/fonts/',
                    // assetPath: 'assets/',
                    snippetUrl: '/builder/assets/minimalist-blocks/content.js',
                    snippetPath: '/builder/assets/minimalist-blocks/',
                    pluginPath: '/builder/contentbuilder/',
                    // useLightbox: true,

                });

                // Example of adding buttons on the sidebar
                obj.value.addButton({
                    'pos': 2, // button position
                    'title': 'Undo',
                    'html': '<svg class="is-icon-flex" style="width:14px;height:14px;"><use xlink:href="#icon-undo"></use></svg>',
                    'onClick': ()=>{
                        obj.value.undo();
                    }
                });

                obj.value.addButton({
                    'pos': 3,
                    'title': 'Redo',
                    'html': '<svg class="is-icon-flex" style="width:14px;height:14px;"><use xlink:href="#icon-redo"></use></svg>',
                    'onClick': ()=>{
                        obj.value.redo();
                    }
                });

                obj.value.addButton({
                    'pos': 4,
                    'title': 'Animation',
                    'html': '<svg class="is-icon-flex" style="fill:rgba(0, 0, 0, 0.7);width:14px;height:14px;"><use xlink:href="#icon-wand"></use></svg>',
                    'onClick': ()=>{
                        obj.value.openAnimationPanel();
                    }
                });

                obj.value.addButton({
                    'pos': 5,
                    'title': 'Timeline Editor',
                    'html': '<svg><use xlink:href="#icon-anim-timeline"></use></svg>',
                    'onClick': ()=>{
                        obj.value.openAnimationTimeline();
                    }
                });

                obj.value.addButton({
                    'pos': 6,
                    'title': 'AI Assistant',
                    'html': '<svg class="is-icon-flex" style="width:16px;height:16px;"><use xlink:href="#icon-message"></use></svg>',
                    'onClick': (e)=>{

                        obj.value.openAIAssistant();

                    }
                });

                obj.value.addButton({
                    'pos': 0,
                    'title': 'E Commerce Objects',
                    'src': '/builder/commerceEllements.html',
                    'html': '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">\n' +
                        '  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />\n' +
                        '</svg>',
                    'class': 'sidebar-sections'
                });

                obj.value.addButton({
                    'pos': 8,
                    'title': 'Settings',
                    'html': '<svg class="is-icon-flex" style="width:15px;height:15px;"><use xlink:href="#icon-settings"></use></svg>',
                    'onClick': (e)=>{
                        obj.value.openSettings(e);
                    }
                });

                obj.value.addButton({
                    'pos': 9,
                    'title': 'Preview',
                    'html': '<svg class="is-icon-flex" style="width:16px;height:16px;"><use xlink:href="#icon-eye"></use></svg>',
                    'onClick': ()=>{

                        let html = obj.value.html();
                        localStorage.setItem('preview-html', html);
                        let mainCss = obj.value.mainCss();
                        localStorage.setItem('preview-maincss', mainCss);
                        let sectionCss = obj.value.sectionCss();
                        localStorage.setItem('preview-sectioncss', sectionCss);

                        window.open('/manage/theme/preview', '_blank').focus();
                    }
                });
                obj.value.addButton({
                    'pos': 10,
                    'title': 'Αποθήκευση',
                    'src': '/builder/commerceEllements.html',
                    'html': '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">\n' +
                        '  <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />\n' +
                        '</svg>',
                    'class': 'sidebar-sections',
                    'onClick': (e)=>{
                        save((html, mainCss, sectionCss)=>{
                            alert('Αποθηκεύτηκε');
                        });
                    }
                });


                // Load content from server
                fetch('/manage/theme-load')
                    .then(response=>response.json())
                    .then(response=>{

                        const html = response.html || `

                        `;
                        const mainCss = response.mainCss || '';
                        const sectionCss = response.sectionCss || '';

                        obj.value.loadStyles(mainCss, sectionCss);
                        obj.value.loadHtml(html);

                    });
            });

        })

        onBeforeUnmount(() => {
            obj.value.destroy()
            obj.value = null;
        })

        const save = (callback) => {
            if(!obj) return;

            // Save all embedded base64 images first
            if(obj.value) obj.value.saveImages('', ()=>{

                if(!obj.value) return; //in case destroyed during autosave, cancel the saving

                // Then save the content

                let html = obj.value.html();
                let mainCss = obj.value.mainCss(); // Returns the default typography style for the page
                let css = obj.value.sectionCss(); // Returns the typography styles for specific sections on the page
                let js = obj.value.js(); // Returns the custom JS code for the page
                const data = {
                    html: html,
                    mainCss: mainCss,
                    css: css,
                    js: js,
                    theme_id: theme_id,
                    pagetype: pagetype
                };
                let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                fetch('/manage/theme/'+theme_id+'/save-component', {
                    method:'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrfToken  // Προσθήκη του CSRF token στα headers
                    }

                })
                    .then(response=>response.json())
                    .then(response=>{
                        if(!response.error) {
                            if(callback) callback(html, mainCss, sectionCss);
                        }
                    });

            }, (img, base64, filename)=>{

                if(!obj.value) return; //in case destroyed during autosave, cancel the saving

                // Upload base64 images
                const reqBody = { image: base64, filename: filename };
                fetch('/uploadbase64', {
                    method:'POST',
                    body: JSON.stringify(reqBody),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response=>response.json())
                    .then(response=>{
                        if(!response.error) {
                            const uploadedImageUrl = response.url;
                            img.setAttribute('src', uploadedImageUrl); // Update image src
                        }
                    });

            });

        }

        return {
            save
        }
    }
}
</script>
