<template>
    <!-- Render the dynamic components -->
    <component
        v-for="(item, index) in modelValue"
        :key="item.id"
         :id="item.id"
        :is="item.tag"
        :style="item.style"
        v-bind="item.attributes"
        @click="selectItem(item, $event)"
        @mouseover="hoverItem(item.id)"
        @mouseleave="leaveItem"
    >
        {{ item.value != null ? item.value : '' }}
        <input v-model="selectedId" type="hidden">

        <!-- Recursive rendering of nested components -->
        <nested-component v-model="item.children"/>
    </component>
</template>

<script>
import { useSelectedItemIdStore } from '@/stores/selectedItemId';

export default {
    name: 'nested-component',
    props: {
        modelValue: {
            type: Array,
            required: true
        }
    },
    emits: ['update:modelValue', 'editObject', 'objectid'],
    data() {
        return {
            selectedId: null, // Stores the ID of the selected item
            hoveredItemId: null, // Stores the ID of the hovered item
            selectedItem: null // Stores the selected item for editing
        };
    },
    watch: {
        selectedId(newId, oldId) {
            if (newId !== oldId) {
                console.log('2A Selected Item:', newId);
                // Emit event for the selected ID
                // this.$emit('objectid', newId);
                const selectedItemIdStore = useSelectedItemIdStore()
                selectedItemIdStore.setSelectedItemId(newId)
            }
        }
    },
    methods: {
        selectItem(item, event) {
            this.selectedItem = item; // Set the selected item to be edited
            this.selectedId = item.id; // Update selectedId to trigger watch
            this.$emit('editObject', item);


            // event.stopPropagation(); // Prevent event from bubbling up
        },
        hoverItem(id) {
            this.hoveredItemId = id;
            if (id !== this.selectedId) {
                this.$emit('objectid', id);
            }
        },
        leaveItem() {
            this.hoveredItemId = null;
        },
        updateValue(event, item) {
            item.value = event.target.value; // Update the item value when edited
            this.$emit('update:modelValue', this.modelValue); // Emit the updated model
        },
        saveChanges() {
            // Re-emit the updated modelValue to the parent component
            this.$emit('update:modelValue', this.modelValue);
        }
    }
};
</script>


<style scoped>
.dynamic-component {
    position: relative; /* Ensure that the border is positioned correctly */
    transition: border 0.3s;
}

/* Apply border to selected items */
.dynamic-component.selected {
    border: 2px solid #28a745; /* Green border for selected items */
}

/* Ensure child elements do not affect parent hover state */
.dynamic-component * {
    pointer-events: none; /* Prevent child elements from affecting parent hover state */
}

.editor-panel {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
</style>
