<template>
  <div class="grid md:grid-cols-12 grid-cols-1 gap-4 m-5">

    <!-- main content -->
    <div class="shadow-md rounded bg-white px-8 pt-6 pb-8 mb-4 lg:col-span-9">
      <div class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <input-text v-model="user.name" columns="col-span-2" placeholder="Null" label="Όνομα" />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <input-text v-model="user.lastname" columns="col-span-2" placeholder="Null" label="Επίθετο" />
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <input-text v-model="user.email" columns="col-span-2" placeholder="Null" label="Email" />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <input-text v-model="user.password" columns="col-span-2" placeholder="Null" label="Κωδικός" />
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state"> Ρόλος </label>
            <div class="relative">
              <select v-model="user.role" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <button class="p-3 bg-green-500 text-white" @click="create">Ενημέρωση</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const axios = require("axios").default;

import inputSelect from "../elements/fields/selectfield";
import inputText from "../elements/fields/textfield";

export default {
  props: ["user"],
  data: () => ({}),
  methods: {
    create() {
      axios
        .post("/manage/users/update_user", {
          user: this.user,
        })
        .then(
          function (response) {
            // f alert product update
            // window.location = '/manage/users'
            // this.getFields();
          }.bind(this)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
