<template>
    <div>

        <Table   :headers="headers" entity="users" ></Table>
    </div>
</template>
<script>
const axios = require('axios').default;

import Table from '../elements/datatable'
export default {
    components: {Table},

    props: [],
    data: () => ({
        loading: false,

        singleSelect: false,
        selected: [],
        headers: [
            {text: 'Id', value: 'id'},
            {
                text: 'Name',
                align: 'start',
                sortable: true,
                value: 'name',
            },

            {text: 'Last Name', value: 'lastname'},
            {text: 'Phone', value: 'phone'},
            {text: 'Email', value: 'email'},
            {text: 'Mobile', value: 'mobile'},
            {text: 'Subscribed', value: 'subscribed'},


        ],
        items: [],
    }),
    methods: {


        vueProduct(item){
            var url = '/'+item.name;
            var win = window.open(url, '_blank');
            win.focus();
        },

    },

}
</script>

