<template>
  <!-- search form  -->
  <div class="text-gray-500 w-full relative">

    <div class="relative">
      <input @keyup="search" v-model="input" type="text" class="w-full pl-3 text-sm text-black outline-none focus:outline-none bg-white h-12" placeholder="search..." />
      <div v-if="results !== {}" class="absolute pin-r pin-t mt-3 mr-4 text-purple-lighter right-0 top-0 cursor-pointer" @click="results = {}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <div class="" v-if="results">
      <ul class="bg-white border border-gray-100 shadow-xl absolute w-full" v-for="(result, key) in results" :key="key">
<!--        <h3 class="ml-8">-->
<!--          <b>{{ key }}</b>-->
<!--         </h3>-->
        <li v-for="rl in result" :key="rl.id" class="pl-8 pr-2 py-1 border-b-2 border-gray-100 relative cursor-pointer hover:bg-yellow-50 hover:text-gray-900">
          <a :href="'/manage/' + key + '/' + rl.id"
            ><span class="font-bold pr-2">{{key}} </span><span v-if="rl.sku !== undefined" class="w-2">{{ rl.sku }} | </span>
						{{ rl.title.el != undefined ? rl.title.el : rl.title }}</a
          >
        </li>
      </ul>
    </div>
    <!--  <h3 class="mt-2 text-sm">Gevonden:</h3> -->
  </div>
</template>
<script>
export default {
  data: () => ({
    loading: false,
    results: {},
    input: null,
  }),
  methods: {
    search: function () {
      if (this.input.length < 4) {
        return;
      }
      var self = this;
      self.loading = true;
      axios
        .post("/manage/admin_search", {
          q: self.input,
        })
        .then(
          function (response) {
            console.log(response.data);
            self.results = response.data;
            self.loading = false;
          }.bind(this)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
