<template>
    <div class="tree">
         <ul class="tree-list treeview overflow-y-auto h-32">

            <node-tree v-for="d in treeData"  @categoriesHasBeenUpdatedFromNode="categoriesHasBeenUpdatedFromNode($event)" :language="language" :product-categories="productCategories" :key="d.id" :node="d"></node-tree>
        </ul>
    </div>
</template>

<script>
import NodeTree from "./NodeTree";

export default {
    name: 'categoryTree',
    components: {NodeTree},
    props: [ ],
    data: () => ({
        selected:[],
        treeData:[],
        productCategories:[],
        language:'el',
        categories: [],
    }),
    methods:{
        getCategories: function () {
            var self = this;
            axios.get('/manage/categories_list_json')
                .then(function (response) {
                    self.treeData = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        categoriesHasBeenUpdatedFromNode (value){
            console.log('update tree value');
            console.log(value);
            if(this.productCategories.includes(value)){
                for(var a=0; a < this.productCategories.length; a++){
                    if(this.productCategories[a] == value){
                        this.productCategories.splice(a, 1)
                    }
                }
            }else{
                this.productCategories.push(value)
            }

            this.$emit('categoriesHasBeenUpdated', this.productCategories)
        }
    },
    watch: {
        selected() {
            this.$emit('input', this.selected)
        },
    },
    components: {
        NodeTree
    },
    mounted() {
        this.getCategories();
    }
};
</script>

<style>
.tree-list ul {
    padding-left: 16px;
    margin: 6px 0;
}
</style>
