<template>
    <div >
        <canvas id="viewsChart" :style="{ width: '100%', height: '200px' }"></canvas>
    </div>
</template>

<script>
import {ref, onMounted} from 'vue';
import {Chart} from 'chart.js/auto';
import axios from 'axios';
import 'chartjs-adapter-date-fns';

export default {
    props: {
        productId: {
            type: Number,
            required: true,
        },
    },
    setup(props) {
        const chartRef = ref(null);

        onMounted(async () => {
            try {
                // Ερώτημα για ημερήσια στατιστικά
                const response = await axios.get(`/manage/product/${props.productId}/views`);
                const data = response.data;

                // Χρησιμοποιούμε το 'day' αντί για 'month'
                const labels = Object.keys(data); // Παίρνουμε τις ημερομηνίες (π.χ., "2023-09-01")
                const views = Object.values(data); // Παίρνουμε τις προβολές για κάθε ημερομηνία

                const ctx = document.getElementById('viewsChart').getContext('2d');
                chartRef.value = new Chart(ctx, {
                    type: 'line',

                    data: {
                        labels: labels, // Ημερομηνίες
                        datasets: [{
                            label: 'Προβολές',
                            data: views, // Προβολές ανά ημέρα
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            fill: true,
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            x: {
                                type: 'time',
                                time: {
                                    parser: 'yyyy-mm-dd', // Διασφαλίζουμε ότι το Chart.js κατανοεί τη μορφή των ημερομηνιών
                                    unit: 'day', // Προβολή ημερών στον άξονα
                                    tooltipFormat: 'yyyy-mm-dd', // Μορφή εμφάνισης ημερομηνιών στο tooltip
                                    displayFormats: {
                                        day: 'yyyy-mm-dd', // Μορφή εμφάνισης των ημερομηνιών στον άξονα
                                    }
                                },
                            },
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                });
            } catch (error) {
                console.error('Error fetching views data:', error);
            }
        });

        return {
            chartRef,
        };

    }
};

</script>
<style scoped>
    #viewsChart {
        width: 95%;
        height: 200px;
    }

</style>
