<template>
    <div class="m-5   rounded bg-white">

        <div class="flex items-center py-2 w-64">
            <div class="mt-2 flex rounded-md shadow-sm">
                <div class="relative flex flex-grow items-stretch focus-within:z-10">

                    <input v-on:keyup.enter="searchProduct" v-model="search" type="text" name="search" id="email"
                           class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                           placeholder="αναζήτηση .. ">
                </div>
                <button @click="searchProduct" type="button"
                        class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">

                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="23px"
                         height="23px">
                        <path
                            d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/>
                    </svg>
                </button>
            </div>

        </div>
        <a :href="'/manage/' + entity + '/create'" title="Νέο Προϊόν" class="m-2 float-right hover:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        </a>

        <button @click="filterDrawer = !filterDrawer" class="m-2 float-right">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"/>
            </svg>

        </button>



        <div class="flex m-2 float-right mr-4">
            <label class="p-1.5" for="page">Σελίδα: {{data.current_page}}</label>

            <input-select columns="w-24" v-if="data.meta != undefined" @change="loadData()" v-model="page" class=" "
                          value="page"
                          :translatable="false" :selectableOptions="data.meta.last_page" placeholder="Field"/>

            <label class="p-1.5" for="perpage">Συνολο ανα σελίδα:</label>
            <select id="perpage" v-model="itemsPerPage" @change="loadData()"
                    class="w-24 shadow appearance-none border rounded   py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="250">250</option>
                <option value="350">350</option>
                <option value="500">500</option>
            </select>
        </div>


        <div class="ml-2 mb-2" v-if="filters.length > 0">
            <div v-for="(f, key) in filters" :key="key" class="mb-2">
                {{ f.text }}:
                <select v-model="f.selected" @change="loadData" class="w-auto">
                    <option value="">Επιλογή</option>
                    <option v-for="i in f.values" :value="i">{{ i }}</option>
                </select>
            </div>
            <button class="bg-green-300 py-2 px-3" type="submit" @click="exportEntities">EXPORT</button>
        </div>




        <table class="min-w-full divide-y divide-gray-300">
            <thead>

            <tr>
                <th v-for="(h, headerkey) in headers" :key="headerkey"
                    class=" pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                    {{ h.text }}
                    <svg v-if="h.sortable != undefined" @click="sort" xmlns="http://www.w3.org/2000/svg"
                         class="h-3 w-3 float-right inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                </th>
                <th
                    class=" pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                    Actions
                </th>
            </tr>
            <tr>
                <th v-for="(h, headerkey) in headerSearch" :key="headerkey"
                    class=" pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">

                    <input v-if="h.name != undefined" type="text" v-on:keyup.enter="loadData()"
                           class="mb-2 w-full rounded py-1 border border-gray-200"
                           v-model="h.value">
                    <span v-else>
                            &nbsp;
						</span>
                </th>
                <th
                    class=" pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                    <button @click="loadData()">Αναζήτηση</button>
                </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <tr class=" "
                v-for="p in items" :key="p.id">
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0"
                    :class="h.align != undefined ? h.align : 'text-center'" v-for="(h, hkey) in headers" :key="hkey">

                    <div v-if="h['value'] == 'image'">
                        <img class="w-24" :src="p[h['value']]" alt="">
                    </div>

                    <div v-else>
                        <span class="font-medium" v-if="p[h['value'] + '_' + language] !== undefined">
							<a :href="'/manage/' + entity + '/' + p.id">
								{{ p[h["value"] + "_" + language] }}
							</a>
						</span>
                        <span class="font-medium" v-else>
							<a :href="'/manage/' + entity + '/' + p.id">
								{{ p[h["value"]] != undefined ? p[h["value"]] : null }}
							</a>

						</span>
                    </div>
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <div class="flex item-center justify-center">
                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                            <a :href="'/manage/' + entity + '/' + p.id">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                            <a :href="'/manage/' + entity + '/' + p.id + '/edit'">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" @click="deleteItem(p)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- pagination -->
        <div>
<!--            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm " aria-label="Pagination">-->
<!--                <a v-for="d in data.links" href="#" @click="page = d.label; loadData()"-->
<!--                   :class="d.active ? 'bg-indigo-600 text-white' : 'text-gray-900 hover:bg-gray-50 bg-white'"-->
<!--                   class="relative   items-center px-4 py-2 text-sm font-semibold  ring-1 ring-inset ring-gray-300  focus:z-20 focus:outline-offset-0 md:inline-flex"-->
<!--                   v-html="d.label">-->

<!--                </a>-->

<!--            </nav>-->
        </div>        <!-- end pagination -->

        <div v-if="filterDrawer" class="relative z-10" aria-labelledby="slide-over-title" role="dialog"
             aria-modal="true">
            <!--
              Background backdrop, show/hide based on slide-over state.

              Entering: "ease-in-out duration-500"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in-out duration-500"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-100 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <div class="fixed inset-0 overflow-hidden">
                <div class="absolute inset-0 overflow-hidden">
                    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">

                        <div class="pointer-events-auto relative w-screen max-w-md">

                            <div class="absolute left-0 top-14 -ml-8 flex pr-2 pt-4 sm:-ml-10 sm:pr-4">
                                <button @click="filterDrawer = !filterDrawer" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                                    </svg>

                                </button>
                            </div>

                            <div v-click-outside="closeFilterDraw"
                                 class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
                                <div class="px-4 sm:px-6 mt-4">
                                    <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">
                                        Φίλτρα</h2>
                                </div>
<!--Επιλογή Πεδίων-->
<!--                                <div class="flex flex-row mt-4 gap-2">-->
<!--                                    <span class="flex mt-4 text-sm items-stretch">Επιλογή Πεδίου</span>-->


<!--                                    <multiselect :searchable="true"-->
<!--                                                 :object="true"-->
<!--                                                 v-model="newField"-->
<!--                                                 valueProp="id" label="title"-->
<!--                                                 :options="filteredFields"></multiselect>-->
<!--                                    <button-->
<!--                                        class="tw-w-48 tw-ml-2 tw-font-bold tw-border-2 hover:tw-bg-gray-200 bg-green-500 text-white px-4"-->
<!--                                        @click="addFieldToSearch">Προσθήκη-->
<!--                                    </button>-->
<!--                                </div>-->


<!--                                <div class="relative mt-6 flex-1 px-4 sm:px-6">-->
<!--                                    <div class="mb-4" v-for="(field, key) in searchFields" :key="searchFields.id">-->
<!--                                        <div class="flex flex-col">-->
<!--                                            <div class="flex flex-row justify-between">-->
<!--                                                <h2 class="font-black">{{ searchFields[key].title }}</h2>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="flex flex-row">-->
<!--                                            <multiselect :searchable="true" v-model="searchFields[key].values"-->
<!--                                                         valueProp="id"-->
<!--                                                         :object="false"-->
<!--                                                         localize="el"-->
<!--                                                         label="title"-->
<!--                                                         mode="tags"-->
<!--                                                         :options="fieldValues(field.id)"-->
<!--                                            ></multiselect>-->
<!--                                            <button class="inline" @click="removeSearchFields(key)">-->
<!--                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"-->
<!--                                                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2">-->
<!--                                                    <path stroke-linecap="round" stroke-linejoin="round"-->
<!--                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>-->
<!--                                                </svg>-->

<!--                                            </button>-->
<!--                                        </div>-->


<!--                                    </div>-->


                                <div class="flex flex-row mt-4 gap-2 px-6">



                                    <multiselect :searchable="true"
                                                 placeholder="Επιλογή Πεδίου"
                                                 :object="true"
                                                 v-model="newAttribute"
                                                 valueProp="id" label="title"
                                                 :options="attributes"></multiselect>
                                    <button
                                        class="tw-w-48 tw-ml-2 tw-font-bold tw-border-2 hover:tw-bg-gray-200 bg-green-500 text-white px-4"
                                        @click="addAttributeToSearch">Προσθήκη
                                    </button>
                                </div>


                                <div class="relative mt-6 flex-1 px-4 sm:px-6">
                                    <div class="mb-4" v-for="(field, key) in searchAttributes" :key="field.id">
                                        <div class="flex flex-col">
                                            <div class="flex flex-row justify-between">
                                                <h2 class="font-black">{{ searchAttributes[key].title.el }}</h2>
                                            </div>
                                        </div>
                                        <div class="flex flex-row">
                                            <multiselect :searchable="true" v-model="searchAttributes[key].values"
                                                         valueProp="id"
                                                         :object="false"
                                                         localize="el"
                                                         label="title"
                                                         mode="tags"
                                                         :options="searchAttributes[key].terms"
                                            ></multiselect>
                                            <button class="inline" @click="removeAttributeFields(key)">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>

                                            </button>
                                        </div>


                                    </div>


                                    <span class="font-bold mb-2"> Κατηγορίες {{ language }}</span>
                                    <tree @categoriesHasBeenUpdated="categoriesHasBeenUpdated($event)"
                                          :language="language"
                                          :product-categories="[]" :tree-data="categories"></tree>


                                    <button v-if="searchAttributes.length > 0 || filterCategories.length" @click="loadData"
                                            class="mt-4 rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                        Εφαρμογή Φίλτρων
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--pagination-->
                <div class="flex flex-col items-center my-12" v-if="pageCount != null">
                    <div class="flex">

                        <label class="p-1.5" for="page">Σελίδα: {{data.current_page}}</label>
                        <input-select columns="w-24" v-if="data.meta != undefined" @change="loadData()" v-model="page"
                                      value="page"
                                      :translatable="false" :selectableOptions="data.meta.last_page"
                                      placeholder="Field"/>

                        <label class="p-1.5" for="per_page">Συνολο ανα σελίδα:</label>
                        <select id="per_page" v-model="itemsPerPage" @change="loadData()"
                                class="block  rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                            <option value="15">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="250">250</option>
                            <option value="350">350</option>
                            <option value="500">500</option>
                        </select>
                    </div>

                    <div class="flex text-gray-700" v-if="data.meta != undefined">
                        <a @click="page = data.meta.first_page; loadData();"
                           class="h-8 w-8 mr-1 flex justify-center items-center cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-chevron-left w-4 h-4">
                                <polyline points="15 18 9 12 15 6"></polyline>
                            </svg>
                        </a>

                        <div @click="page = page + 1; loadData();"
                             class="h-8 w-8 ml-1 flex justify-center items-center cursor-pointer border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-chevron-right w-4 h-4">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
import inputSelect from "../elements/fields/selectfield";
import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";
import Button from "@/Jetstream/Button.vue";
import vClickOutside from 'click-outside-vue3'
import Tree from "../elements/Tree";

export default {
    components: {Tree, Button, Multiselect, vClickOutside},
    props: ["headers", "entity", "checkbox", "entityData", "has_attribute_filters"],
    data: () => ({
        categories: [],
        filterCategories: [],
        filterDrawer: false,
        fields: [],
        attributes: [],
        newField: {},
        newAttribute: {},
        searchFields: [],
        searchAttributes: [],
        fieldWithValues: [],
        language: null,
        page: 1,
        filters: [],
        sortable: [],
        headerSearch: [],
        pageCount: 1,
        itemsPerPage: "20",
        search: "",
        data: [],
        items: [],
        totalProducts: [],
        loading: false,
        fetching: false,
    }),
    computed: {
        filteredFields() {
            const productFieldIds = this.searchFields.map(field => field.id);
            return this.fields.filter(field => !productFieldIds.includes(field.id));
        }
    },
    methods: {
        categoriesHasBeenUpdated(categories) {
            console.log(categories);
            this.filterCategories = categories;
        },
        getCategories: function () {
            axios
                .get("/manage/categories_list_json")
                .then(
                    function (response) {
                        this.categories = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        closeFilterDraw() {
            this.filterDrawer = false;
        },
        removeSearchFields(key) {
            this.searchFields.splice(key, 1);
        },
        removeAttributeFields(key) {
            this.searchAttributes.splice(key, 1);
        },
        fieldValues(field_id) {

            let values = this.fieldWithValues.find(x => x.id === field_id);
            if (values !== undefined) {
                return values.values;
            } else {
                return [];
            }

        },
        getFields: function () {
            axios
                .get("/manage/get_fields")
                .then(
                    function (response) {
                        this.fields = response.data;
                        this.setFieldValues();

                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        setFieldValues: function () {

            for (let a = 0; a < this.fields.length; a++) {

                this.getFieldValues(this.fields[a]);

            }
            this.$forceUpdate();
        },
        getFieldValues: function (itemFIELD) {

            axios
                .post("/manage/fields/get_field_values", {
                    field: itemFIELD.name
                })
                .then(
                    function (response) {
                        this.fieldWithValues.push({
                            id: itemFIELD.id,
                            field: itemFIELD,
                            values: response.data,
                            selected: null,
                        });
                        this.$forceUpdate();

                        return response.data;

                        // Vue.delete(this.inventoriesValues, index);
                        // this.fieldValues.push(response.data)
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        addAttributeToSearch() {
            if(this.newAttribute.id !== undefined) {
                this.searchAttributes.push(this.newAttribute);
                this.newAttribute = {};
            }

            // remove this.newField from productFields

        },
        addFieldToSearch() {
            this.searchFields.push(this.newField);
            this.newField = {};
            // remove this.newField from productFields

        },
        exportEntities() {
            var form = document.createElement("form");

            form.method = "POST";
            form.action = "/manage/" + this.entity + "/export";

            for (let a = 0; a < this.filters.length; a++) {
                if (this.filters[a].selected != null) {
                    let i = document.createElement("input");
                    i.name = this.filters[a].name;
                    i.value = this.filters[a].selected;
                    form.appendChild(i);
                }
            }

            document.body.appendChild(form);

            form.submit();
        },
        deleteItem(item) {
            var answer = window.confirm("Διαγραφή " + this.entity + "?");
            if (answer) {
                var self = this;
                axios
                    .post("/manage/" + self.entity + "/" + item.id + "/destroy")
                    .then(function (response) {
                        self.loadData();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        searchProduct() {
            this.loadData();
        },
        loadData() {
            this.loading = true;
            this.fetching = true;
            var self = this;
            axios
                .post("/manage/" + self.entity + "_list_json?page=" + self.page + "&itemsPerPage=" + self.itemsPerPage + "&search=" + self.search,
                    {
                        // fields: this.searchFields,
                        attributes: this.searchAttributes,
                        filters: this.filters,
                        categories: this.filterCategories,
                        searchHeader: this.headerSearch
                    })
                .then(function (response) {
                    self.data = response.data;
                    self.items = response.data.data;
                    for (var a = 0; a < self.items.length; a++) {
                        self.items[a]["title_" + self.language] = self.items[a].title[self.language];
                    }
                    self.pageCount = response.data.last_page;
                    self.loading = false;
                    console.log(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    self.fetching = false;
                });
        },
        getAttributes: function () {
            axios
                .post("/manage/json-attributes")
                .then(
                    function (response) {
                        this.attributes = response.data;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
    },
    mounted() {

        if (this.entityData !== undefined) {
            this.data = this.entityData;
            this.items = this.entityData;
            this.pageCount = null;
            this.loading = false;
        } else {
            this.loadData();
        }

        for (let a = 0; a < this.headers.length; a++) {
            if (this.headers[a].sortable != undefined) {
                this.sortable.push({text: this.headers[a].text, sort: null});
            }
            if (this.headers[a].filtered != undefined) {
                this.filters.push({
                    text: this.headers[a].text,
                    name: this.headers[a].value,
                    values: this.headers[a].filtered,
                    selected: null,
                });
            }

            if (this.headers[a].searchable != undefined && this.headers[a].searchable == true) {
                this.headerSearch.push({name: this.headers[a].value, value: null});
            } else {
                this.headerSearch.push({});

            }
        }

    },
    watch: {
        // headerSearch: {
        // 	handler: function (val, oldVal) { f
        // 		this.loadData();
        // 	},
        // 	deep: true,
        // },
    },
    created() {
        // this.getFields();
        if(this.has_attribute_filters) {
            this.getAttributes();
        }

        this.getCategories();
        this.language = this.$languages[0];
    },
};
</script>
