<!--
Προϊόν έχει 100 τεμ.
// προϊόν έχει χρώμα , μαύρο κόκινο
// προϊόν έχει Μέγεγος , 1 / 2 / 3 / 4
[
{}
]
-->
<template>
    <div>
        <div class="text-center" v-if="loading">
            loading
        </div>
        <div v-for="(s, is) in stock" :key="s.id" class="grid grid-cols-5 gap-4 border-2 mb-4 px-4 py-4">
            <input-text v-model="s.ean" placeholder="Ean" label="Ean"/>
            <input-text v-model="s.sku" placeholder="Sku" label="Sku"/>
            <input-text v-model="s.barcode" placeholder="Barcode" label="Barcode"/>
            <input-text v-model="s.quantity" placeholder="Quantity" label="Quantity"/>
            <input-text v-model="s.price" placeholder="Price" label="Price"/>
            <!-- <button v-on:click="(expandVariationId == s.sku)?null:expandVariationId = s.sku" class="  bg-red-400 text-white font-bold py-1 px-2 mt-5 rounded focus:outline-none focus:shadow-outline mt-5">
Variations
</button>
-->
            <button v-if="s.id" right v-on:click="deleteStock(s.id)"
                    class="  text-blue-500 font-bold py-1 px-2 d rounded focus:outline-none focus:shadow-outline mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                </svg>

            </button>
            <!--<pre>-->
            <!--                {{s.variations}}-->

            <!--</pre>-->

            <div class="col-span-10 bordered ">
                <div v-for="(v,vkey) in s.variations" class="grid grid-cols-2 gap-4 mt-2">
                    <span class="p-2">{{ v.attributes.title.el }}</span>

                    <multiselect
                        :searchable="true"
                        v-model="stock[is].variations[vkey].attribute_term_id"
                        :object="false"
                        valueProp="id"
                        label="title"
                        locale="el"
                        :options="v.attributes.terms"></multiselect>

                </div>

            </div>
            <div class="col-span-2">
                <button @click="removeAttributeFromProduct(is, vkey)"
                        class="inline-block ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>

                </button>
            </div>

            <!--new inventory-->
            <div class="  col-span-12 md:col-span-5 lg:col-span-5">

                <div>
                    <div class="inline flex mt-4">

                        <multiselect
                            :searchable="true"
                            v-model="newAttribute"
                            :object="true"
                            valueProp="id" label="title"
                            locale="el"
                            :options="attributes"></multiselect>
                        <button
                            class="w-48 ml-2 font-bold border-2 hover:bg-gray-200"
                            @click="addAttributeToStock(is)">Προσθήκη
                        </button>
                    </div>
                    <!--end create new-->
                </div>
            </div>
            <!--end new inventory-->

        </div>

        <div class="grid grid-cols-5 gap-4 border-2 mb-4 px-4 py-4 mb-4 mt-4">
            <div>
                <input-text v-model="newInventory.ean" placeholder="" label="Ean"/>
            </div>
            <div>
                <input-text v-model="newInventory.sku" placeholder="" label="Sku"/>
            </div>
            <!--			<div>-->
            <!--				<input-text v-model="newInventory.model_id" placeholder="" label="Sku"/>-->
            <!--			</div>-->


            <div>
                <input-text v-model="newInventory.barcode" placeholder="" label="Barcode"/>
            </div>
            <div>
                <input-text v-model="newInventory.quantity" placeholder="" label="Quantity"/>
            </div>
            <div>
                <input-text v-model="newInventory.price" placeholder="" label="Price"/>
            </div>
            <div>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mt-5 rounded focus:outline-none focus:shadow-outline mt-5"
                    v-on:click="addToStock">
                    Προσθήκη Είδους
                </button>
            </div>
        </div>
        <!--            <div class="col-span-12" >-->
        <!--                <div class="bordered">-->
        <!--                    <div>-->
        <!--                        <div class="border">-->
        <!--                            &lt;!&ndash; new variation  &ndash;&gt;-->
        <!--                            <div>-->
        <!--                                <button class="bg-blue-500 text-white px-5 py-2 mt-2 mb-4"-->
        <!--                                        v-on:click="addNewStockVariation">Προσθήκη Μεταβλητού προϊόντος-->
        <!--                                </button>-->


        <!--                                &lt;!&ndash; <button class="float-right bg-red-400 text-white p-2" v-on:click="expandVariationId = null">X</button> &ndash;&gt;-->
        <!--                                <div v-for="(sv, index) in newInventory.variations" :key="index"-->
        <!--                                     class="grid grid-cols-3 gap-4 mb-4">-->
        <!--                                    <select  v-model="sv.attribute"-->
        <!--                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"-->
        <!--                                            id="">-->
        <!--                                        <option v-for="a in attributes" :value="a">{{ a.title }}</option>-->
        <!--                                    </select>-->
        <!--                                    <select v-if="sv.attribute.values !== undefined" v-model="sv.model_id"-->
        <!--                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
        <!--                                        <option v-for="b in sv.terms" :value="b.id">{{ b.title }}</option>-->
        <!--                                    </select>-->
        <!--                                </div>-->
        <!--                                <br/>-->
        <!--                                <button v-if="newInventory.variations.length > 0"-->
        <!--                                        class="bg-green-500 text-white px-5 py-2 mt-2"-->
        <!--                                        @click="addNewStockVariationToStock">Add New Field-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                            &lt;!&ndash; end new variation  &ndash;&gt;-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</template>
<script>
import inputText from './fields/textfield';
import {
    defineComponent
} from 'vue'
import multipleSelect from "../elements/fields/multiselectfield";
import Multiselect from "@vueform/multiselect";

export default {
    props: ['product', 'id'],
    components: {
        Multiselect,
        inputText
    },
    data: () => ({
        loading: false,
        //stock vars
        selectedAttribute: null,
        selectedVar: null,
        //end stock vars
        expandVariationId: null,
        newAttribute: null,
        stockVariationDialog: false,
        newInventory: {
            sku: null,
            ean: null,
            barcode: null,
            quantity: null,
            price: null,
            variations: [],
        },
        stock: [],
        attributes: [],
        AttributeValues: [],
    }),
    methods: {
        filteredTerms(variation) {
            return variation.terms.filter(x => x.id !== variation.model_id);
        },
        // addToStockVariation(stockId, fieldId, valueId) {
        addToStockVariation(stockId, fieldId, valueId) {
            const clone = Object.assign({}, this.newInventory);
            this.stock.push.apply(this.stock, clone);
        },
        deleteStockVariation(variation) {
            var self = this;
            axios.post('/manage/product/destory_stock_variation', {
                "id": variation
            })
                .then(function (response) {
                    self.getStock();
                }.bind(self))
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteStock(stock) {

             if (confirm('Είστε σίγουρος για την διαγραφή του τεμαχίου;')) {
                var self = this;
                axios.post('/manage/product/destory_stock', {
                    "id": stock
                })
                    .then(function (response) {
                        self.getStock();
                    }.bind(self))
                    .catch(function (error) {
                        console.log(error);
                    });
            }



        },
        addVariation: function (variation, stockIndex, index) {
            this.stock[stockIndex].variations.push(variation);
            this.$forceUpdate();
        },
        addNewStockVariation() {
            const clone = Object.assign({}, {
                model_id: null,
                type: null,
                id: null,
                attribute: {
                    values: [],
                }
            });
            this.newInventory.variations.push(clone);
        },
        addAttributeToStock(i) {
            console.log(this.newAttribute)
            this.stock[i].variations.push({
                attribute_id: this.newAttribute.id,
                attribute_term_id: this.newAttribute.id,
                attributes: this.newAttribute,
                terms: this.newAttribute.terms,
            });
            if (this.newAttribute == null) {
                alert("Δέν έχετε επιλέξει Ιδιότητα");
                return;
            }
            // this.product.attributes.push(this.attributes.filter((a) => a.id == this.newAttribute)[0]);
            // this.newAttribute = null;
        },

        addNewStockVariationToStock() {
            // const clone = Object.assign({}, this.newInventory);
            // this.stock.push(clone);
            this.newInventory = {
                new: true,
                sku: null,
                ean: null,
                barcode: null,
                quantity: null,
                price: null,
                variations: [],
            }
        },
        removeAttributeFromProduct(stockIndex, index) {
            this.stock[stockIndex].variations.splice(index, 1);

        },
        removeStockVariation: function (index) {
            Vue.delete(this.newInventory.variations, index);
        },
        //stock variations

        // end stock variations
        toggle() {
            this.$nextTick(() => {
                if (this.likesAllFruit) {
                    this.selectedFruits = []
                } else {
                    this.selectedFruits = this.fruits.slice()
                }
            })
        },
        addToStock() {
            this.stock.push(this.newInventory)
            this.newInventory = {
                sku: null,
                ean: null,
                barcode: null,
                quantity: null,
                price: null,
                variations: [],
            }
        },
        getAttributes: function () {
            axios.post('/manage/json-attributes', {'is_variable': 1})
                .then(function (response) {
                    console.log(response.data)
                    this.attributes = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        getStock: function () {
            this.loading = true;
            console.log('product in inventory')
            console.log(this.product)
            let self = this;
            axios.get('/manage/products/' + self.id + '/get_stock')
                .then(function (response) {
                    console.log(response.data)
                    this.stock = response.data;
                    this.loading = false;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
    },
    watch: {
        stock: {
            handler: function (newValue) {
                console.log('sdf');
                this.$emit('setInventory', this.stock);
            },
            deep: true
        }
    },
    computed: {},
    mounted() {
        this.getAttributes();
        this.getStock();
    }
}

</script>
<style>
</style>
