<template>
    <div class="container-fluid">
        <orange-query-builder @onQueryUpdate="queryUpdated($event)" v-model="rules" :query="query"
                              :appendRules="appendRules" :extraRules="appendExtraRules"/>
        <!-- <vue-query-builder :rules="rules" v-model="calcQuery"></vue-query-builder> -->
        <button
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            v-on:click="searchProducts">ΑΝΑΖΗΤΗΣΗ ΠΡΟΪΟΝΤΩΝ
        </button>
        <div v-if="products.length > 0">
            <span class="w-full py-4 bold">Βρέθηκαν {{ products.length }} προϊόντα</span>
            <span v-if="loading">Please wait</span>

            <table class="border-collapse w-full">
                <thead>
                <tr>
                    <th>
                        <div class="flex h-6 items-center">
                           All <input id="product" aria-describedby="comments-description" @change="SelectAllProducts()" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        </div>
                    </th>
                    <th v-for="h in headers"
                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                        {{ h.text }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
                    v-for="(p, key) in products" :key="key">
                    <td>
                        <div class="flex h-6 items-center">
                      {{[p.id]}}      <input  :checked="(selected_products[p.id])?'checked':null" id="product" aria-describedby="comments-description" @change="updateSelectedProducts(p.id)" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        </div>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"
                        v-for="(h, hkey) in headers" :key="hkey">

                        <div class="font-medium" v-if="hkey == 0">
                                <a :href="'/manage/products/' + p.id + '/edit'" target="_blank">{{ p[h["value"]] }}</a>
                        </div>
                        <div class="font-medium" v-else-if="p[h['value'][language]] !== undefined">
                          !!!  {{ p[h["value"][language]] }}
                          </div>
                        <div class="font-medium" v-else>
                            <span v-if="p[h['value']] !== undefined">
                            {{ h['value'] }}    {{p[h['value']]}}
                            </span>
                             <span v-else>
                             as   {{ p[h['value']] }}
                             </span>
                          </div>
                    </td>
                </tr>
                </tbody>
            </table>
            {{selected_products}}
        </div>
    </div>
</template>
<script>
// import QueryBuilder from "query-builder-vue";
import OrangeQueryBuilder from "./OrangeQueryBuilder";
// import VueQueryBuilder from 'vue-query-builder';
import Table from "./datatable";
import categoryTree from "./categoryTree";
// import "tailwindcss/dist/base.css";
// import "tailwindcss/dist/components.css";
// import "tailwindcss/dist/utilities.css";

export default {
    props: ["query", "appendExtraRules", 'language'],
    emits: ["setParentQuery", "selectedProductsHasBeenUpdatedFromNode"],
    components: {
        categoryTree,
        Table,
        OrangeQueryBuilder,
    },
    data: () => ({
        selected_products: [],
        loading: false,
        myQuery: [],
        calcQuery: {
            logicalOperator: "any",
            children: [],
        },
        appendRules: [],
        fields: [],
        attributes: [],
        // query: [],
        extrafields: [],
        products: [],
        rules: [],
        headers: [
            {
                text: "Id",
                value: "id",
            },
            {
                text: "Title",
                align: "start",
                sortable: true,
                value: "title",
            },
            {
                text: "Sku",
                value: "sku",
            },
            {
                text: "Price",
                value: "price",
            },
            {
                text: "Discount",
                value: "special_price",
            },
            {
                text: "Rule",
                value: "rule_id",
                sortable: true,
            },
            {
                text: "Active",
                value: "product_is_active",
            },
            {
                text: "Type",
                value: "product_type",
            },
        ],
    }),
    methods: {
        SelectAllProducts(){
           for (var a = 0; a <= this.products.length; a++){
               if(this.selected_products.includes(this.products[a].id)){
                   for(var b = 0; b <= this.selected_products.length; b++){
                       if(this.selected_products[b] == this.products[a].id){
                           this.selected_products.splice(b, 1);
                       }
                   }
               }else{
                   this.selected_products.push(this.products[a].id);
               }
           }
            this.$emit("selectedProductsHasBeenUpdatedFromNode", this.selected_products);

        },
        updateSelectedProducts(value) {
            if(this.selected_products.includes(value)){
                for(var a = 0; a < this.selected_products.length; a++){
                    if(this.selected_products[a] == value){
                        this.selected_products.splice(a, 1);
                    }
                }
            }else{
                this.selected_products.push(value);
            }

            this.$emit("selectedProductsHasBeenUpdatedFromNode", this.selected_products);

        },
        queryUpdated(value) {
            this.myQuery = value;
            this.$emit("setParentQuery", this.myQuery);
        },
        searchProducts: function () {
            var self = this;
            self.loading = true;
            axios
                .post("/manage/querybuilresults", {
                    query: self.myQuery,
                })
                .then(
                    function (response) {
                        self.products = response.data;
                        self.loading = false;
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                });
        },
        getFields: function () {
            var self = this;
            axios
                .get("/manage/fields/get_fields")
                .then(
                    function (response) {
                        self.fields = response.data;
                        //set the fields
                        self.setFields();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                }.bind(this));
        },
        onPaste(evt) {
            console.log(evt.clipboardData.getData("text"));
            this.calcQuery = JSON.parse(evt.clipboardData.getData("text"));
            this.$forceUpdate();
        },

        setFields() {
            var field = {};
            for (var a = 0; a < this.fields.length; a++) {
                field = {
                    type: this.fields[a].type,
                    id: this.fields[a].name,
                    label: this.fields[a].title,
                    operators: ["=", "<", "<=", ">", ">=", "!="],
                    choices: [],
                };
                this.rules.push(field);
                // this.appendRules.push(field);
                this.pushValuestoRules(a, this.fields[a].name);
                field = {};
            }
            for (var b = 0; b < this.extrafields.length; b++) {
                this.rules.push({
                    type: this.extrafields[b].type,
                    id: this.extrafields[b].id,
                    label: this.extrafields[b].label,
                    operators: this.extrafields[b].operators,
                    choices: this.extrafields[b].choicesσ,
                });
            }
            this.rules.push({
                type: "custom-component",
                id: "category",
                label: "Κατηγορία",
                operators: ["=", "!="],
                component: "treeComponent",
                default: null,
                matchOparator: "or",
            });
        },
        getAttributes: function () {
            var self = this;
            axios
                .post("/manage/json-attributes", {})
                .then(
                    function (response) {
                        self.attributes = response.data;
                        this.setAttributes();
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                }.bind(this));
        },
        setAttributes() {
            let field = {};
            for (var a = 0; a < this.attributes.length; a++) {

                // for (var a = 0; a < this.fields.length; a++) {
                //     field = {
                //         type: this.fields[a].type,
                //         id: this.fields[a].name,
                //         label: this.fields[a].title,
                //         operators: ["=", "<", "<=", ">", ">=", "!="],
                //         choices: [],
                //     };
                //     this.rules.push(field);
                //     // this.appendRules.push(field);
                //     this.pushValuestoRules(a, this.fields[a].name);
                //     field = {};
                // }

                 field = {
                    type: this.attributes[a].type,
                    id: this.attributes[a].id,
                    label: this.attributes[a].title,
                    operators: ["=", "<", "<=", ">", ">=", "!="],
                    choices: this.attributes[a].terms,
                };
                console.log(field)
                this.rules.push(field);
                this.appendRules.push(field);
                // this.pushValuestoRules(a, this.fields[a].name);
                // field = {};
                //
                // this.extrafields.push({
                //     type: "select",
                //     id: this.attributes[a].attribute_id,
                //     label: this.attributes[a].name,
                //     operators: ["=", "!="],
                //     choices: this.attributes[a].terms,
                // });
            }
            for (var b = 0; b < this.extrafields.length; b++) {
                this.rules.push({
                    type: this.extrafields[b].type,
                    id: this.extrafields[b].id,
                    label: this.extrafields[b].label,
                    operators: this.extrafields[b].operators,
                    choices: this.extrafields[b].choices,
                });
            }
        },
        pushValuestoRules(index, name) {
            var fieldvalues = [];
            var self = this;
            var i = index;
            axios
                .post("/manage/fields/get_field_values", {
                    field: name,
                })
                .then(
                    function (response) {
                        for (var b = 0; b < response.data.length; b++) {
                            //fieldvalues.push({ label: response.data[b].title, value: response.data[b].id });
                            fieldvalues.push({
                                title: response.data[b].title,
                                id: response.data[b].id,
                            });
                        }
                    }.bind(this)
                )
                .catch(function (error) {
                    console.log(error);
                })
                .then(
                    function () {
                        self.rules[i].choices = fieldvalues;
                        // append fields to array
                        this.appendRules.push(self.rules[i]);
                        this.$forceUpdate();
                    }.bind(this)
                );
        },
    },
    watch: {
        calcQuery: {
            handler: function (newValue) {
                this.$emit("setParentQuery", this.calcQuery);
                // this.$emit('setCalculator', this.calcQuery);
            },
            deep: true,
        },
    },
    created() {
        var self = this;
        self.calcQuery = self.query;
        // this.getFields();
        this.getAttributes();
    }
};
</script>
<style>
.vqb-rule.card {
    padding: 4px 16px;
    margin-bottom: 2px;
    margin-top: 4px;
}

rule-actions.form-inline {
    padding-bottom: 5px;
}

.vqb-children .vqb-group {
    margin-left: 30px;
}

button.btn.btn-secondary {
    background: #1f2a37;
    padding: 1px 14px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
}

.form-inline {
    padding: 10px 20px;
    border: solid 1px #eee;
    box-shadow: 0 0 4px #ddd;
    background: #fff;
    position: relative;
}

button.close.ml-auto {
    position: absolute;
    right: 10px;
    top: 5px;
}
</style>
