<template>
    <li class="node-tree">
        <!-- <span class="float-left mr-1 hover:opacity-20 cursor-pointer" v-if="edit" @click="selectedCategory(node)"> -->

        <button v-if="picker" @click="pickedCategory(node)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-4 h-6 inline">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
        </button>

        <a v-if="edit" :href="'/manage/categories/' + node.id + '/edit'"
           class="float-left mr-1 hover:opacity-20 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
            </svg>
        </a>
        <!-- </span> -->
        <span class="float-left mr-2 hover:opacity-20 cursor-pointer" v-if="edit">
             <input type="radio" @change="selectedCategoryId(node.id)" class="form-checkbox" name="selected" :value="node.id"/>
        </span>
        <input v-if="!edit" type="checkbox" @change="updateCategories(node.id)" class="form-checkbox" v-model="categories" :value="node.id"/>

        <label class="inline-flex items-center ml-1" @click="expand = !expand">
            <span v-if="node.title[language] !== undefined">{{ node.title[language] }}</span>
            <span v-else>{{node.title}}</span>
            <span v-if="node.children && node.children.length > 0" class="inline-flex text-black cursor-pointer"
                  @click="expand = !expand">
        <svg v-if="!expand" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>

        <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
        </svg>
      </span>
            <span v-if="edit"> ({{ node.id }})</span>
        </label>
        <ul class="subcat" v-if="expand && node.children && node.children.length">
            <node v-for="child in node.children"  :picker="picker" :product-categories="productCategories" :language="language"
                  :key="child.id" :node="child" :edit="edit"></node>
        </ul>
    </li>
</template>
<script>
export default {
    name: "node",
    emits: ["pickedCategory","categoriesHasBeenUpdatedFromNode"],
    props: ["node", "productCategories", "language", "edit", "select", "picker"],
    data: () => ({
        categories: [],
        expand: false,
    }),
    methods: {
        selectedCategory(value) {
            this.$emit("selectedCategory", value);
            this.$parent.$emit("selectedCategory", value);
            this.$parent.$parent.$emit("selectedCategory", value);
            this.$parent.$parent.$parent.$emit("selectedCategory", value);
            this.$forceUpdate();
        },
        pickedCategory(value) {
            this.$emit("pickedCategory", value);
            this.$parent.$emit("pickedCategory", value);
            this.$parent.$parent.$emit("pickedCategory", value);
            this.$parent.$parent.$parent.$emit("pickedCategory", value);
            this.$forceUpdate();
        },
        selectedCategoryId(value) {
            this.$emit("selectedCategoryId", value);
            this.$parent.$emit("selectedCategoryId", value);
            this.$parent.$parent.$emit("selectedCategoryId", value);
            this.$parent.$parent.$parent.$emit("selectedCategoryId", value);
            this.$forceUpdate();
        },
        updateCategories(value) {

            // this.$parent.$emit("categoriesHasBeenUpdated", this.productCategories)
            this.$emit("categoriesHasBeenUpdatedFromNode", value);
            this.$parent.$emit("categoriesHasBeenUpdatedFromNode", value);
            this.$parent.$parent.$emit("categoriesHasBeenUpdatedFromNode", value);
            this.$parent.$parent.$parent.$emit("categoriesHasBeenUpdatedFromNode", value);
            this.$forceUpdate();
        },
    },
    watch: {
        productCategories() {
            this.categories = this.productCategories;
        },
    },
    created() {
        this.categories = this.productCategories;
    },
};
</script>
<style>
ul.treeview li {
    margin-left: 5px;
    position: relative;
}

ul.treeview li::before {
    content: " ";
    position: absolute;
    width: 1px;
    background-color: #000;
    top: 5px;
    bottom: -18px;
    left: -10px;
}

ul.treeview > li:first-child::before {
    top: 12px;
}

ul.treeview li:not(:first-child):last-child::before {
    display: none;
}

ul.treeview li:only-child::before {
    display: list-item;
    content: " ";
    position: absolute;
    width: 1px;
    background-color: #000;
    top: -5px;
    bottom: 7px;
    height: 17px;
    left: -10px;
}

ul.treeview li::after {
    content: " ";
    position: absolute;
    left: -10px;
    width: 10px;
    height: 1px;
    background-color: #000;
    top: 12px;
}
</style>
