<template>
  <div>
		<span v-if="loading">Please wait</span>

    <div class="grid grid-cols-12 gap-4 mb-4">
      <div class="col-span-3">
        <select v-model="selectedRule" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option v-for="r in rules" :value="r" :key="r">
            {{ r.label }}
          </option>
          <option v-for="r in appendRules" :value="r" :key="r">
            {{ r.label }}
          </option>
        </select>
      </div>
      <select v-model="globalOparator" class="col-span-1 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value="or">Or</option>
        <option value="and">And</option>
      </select>
      <div class="col-span-1">
        <button @click="addItemToQuery" class="bg-green-500 text-white flex px-5 py-2">ΠΡΟΣΘΗΚΗ</button>
      </div>
    </div>

    <div v-for="(q, i) in dataQuery" class="grid grid-cols-5 gap-4" :key="i">
      <span class="mt-3 pt-3">
        <b v-if="q.label.el != undefined">{{ q.label.el }}:</b>
          <b v-else>{{ q.label }}:</b>
      </span>



      <input-select v-model="dataQuery[i].matchOparator" :value="dataQuery[i].matchOparator" :translatable="false" :selectableOptions="['or', 'and']" placeholder="Oparato" label="Operator" />
      <input-select v-model="dataQuery[i].operator" :value="null" :translatable="false" :selectableOptions="dataQuery[i].operators" placeholder="Oparato" label="Oparator" />
      <div v-if="q.type == 'text'">
        <input-text v-model="q.value" placeholder="Voucher Code" label="Value" />
      </div>
      <div v-else-if="q.type == 'select'">

				<multiple-select  v-model="q.value" value="id" :translatable="true" :selectableOptions="q.choices" placeholder="Field" label="Value"></multiple-select>

<!--        <input-select v-model="q.value" value="id" :translatable="true" :selectableOptions="q.choices" placeholder="Field" label="Value" />-->
      </div>
      <div v-else-if="q.type == 'category'">
        <label>Category </label>

        <tree @categoriesHasBeenUpdated="categoriesHasBeenUpdated($event)" v-model="q.value" :product-categories="q.value" :language="language" :tree-data="categories"></tree>
      </div>
      <span @click="removeItemFromQuery(i)" class="mt-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="border-2 bg-red-500 text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </span>
    </div>
  </div>
</template>
<script>
import inputSelect from "./fields/selectfield";
import multipleSelect from "./fields/multiselectfield";
import inputText from "../elements/fields/textfield";
 import Tree from "../elements/Tree";

export default {
  emits: ["onQueryUpdate"],
  props: {
    appendRules: {
      type: Array,
      required: false,
    },
    extraRules: {
      type: Array,
      required: false,
    },
    query: {
      type: Array,
      required: true,
    },
  },
  components: {
    multipleSelect,
    inputSelect,
    inputText,
    Tree,
  },
  data: () => ({
      loading: false,
    language: "el",
    globalOparator: "or",
    categories: [],
    productCategories: [],
    selectedRule: {
      type: "text",
      id: "price",
      label: "Price",
      value: "",
      operator: "=",
      operators: ["=", "<", ">", "!=", "<>"],
    },
    rules: [
      {
        type: "text",
        id: "price",
        label: "Price",
        value: "",
        operator: "=",
        operators: ["=", "<", ">", "!=", "<>"],
      },
      {
        type: "text",
        id: "sku",
        label: "Sku",
        value: "null",
        operator: "=",
        operators: ["=", "!="],
      },
      {
        label: "Category",
        operator: "=",
        id: "category",
        value: [1],
        operators: ["=", "!=", "<>"],
        type: "category",
        matchOparator: "or",
      },
      // {
      //   type: "select",
      //   id: "fruit",
      //   label: "Fruit",
      //   value: null,
      //   operator: '=',
      //   operators: ['=', '!=', '<>'],
      //   choices: ['12', '13', '14'],
      // }
    ],

    dataQuery: [],
  }),
  methods: {
    addItemToQuery() {
      const clone = Object.assign({}, this.selectedRule);
      console.log(clone);
      clone.matchOparator = this.globalOparator;

      console.log(clone);

      this.dataQuery.push(clone);
    },
    removeItemFromQuery(i) {
      this.dataQuery.splice(i, 1);
    },
    categoriesHasBeenUpdated(value) {
      this.productCategories = value;
    },
    getCategories: function () {
      var self = this;
      axios
        .get("/manage/categories_list_json")
        .then(
          function (response) {
            self.categories = response.data;
          }.bind(this)
        )
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  computed: {
    renderProductCategories: {
      get() {
        return this.productcategories;
      },
      set(value) {
        this.productcategories = value;
      },
    },
  },
  watch: {
    dataQuery: {
      deep: true,
      handler(value) {
        this.$emit("onQueryUpdate", value);
      },
    },
    query: {
      deep: true,
      handler(value) {
        console.log(this.query);
        this.dataQuery = this.query;
      },
    },
  },
  created() {
    this.language = this.$languages[0];
    this.getCategories();
    // this.rules.push(this.appendRules);
    // this.rules = this.rules.concat(this.appendRules);
    console.log("this.appendRules");
    console.log(this.appendRules);
    var combineRules = [];
    combineRules.push.apply(this.appendRules, this.extraRules);
    // this.rules.push.apply(this.rules, this.appendRules);
    // this.rules.push.apply(this.rules, this.appendExtraRules);
  },
  mounted() {},
};
</script>
