<template>
    <div class="col-span-6 bg-white hover:shadow-lg shadow-md m-2 rounded px-8 pt-6 pb-8 mb-2">
        <h2>{{ title }}</h2>
        <slot>

        </slot>
    </div>
</template>
<script>
export default {
    name: "panel",
    props: {
        title: {
            type: String,
            required: true,
        },
    }
}
</script>