<template xmlns="http://www.w3.org/1999/html">

    <div class="px-4">
        <div>

            <button
                class="my-2 rounded bg-indigo-50 px-2 py-1 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100"
                type="button" @click="createRule">
                Νέος Κανόνας
            </button>

            <div class="builder-wrapper p-2 " v-if="rules.length">
                <div v-for="(r, key) in rules" :key="key" class="mb-6 p-4 border border-gray-300 rounded-lg shadow-sm">

                    <CountrySelector v-model="rules[key].countries.ids" :countries="countries"
                                     :selectedCountries="rules[key].countries.ids"
                                     @add-counties="addCounties(key)"
                    />

                    <div
                        v-if="rules[key].countries.counties && rules[key].countries.counties.length"
                        v-for="(c, ckey) in rules[key].countries.counties"
                        :key="ckey"
                        class="mb-6 pl-8 border-l border-gray-300"
                    >

                        <div class="flex gap-4 mb-2 ">


                            <button @click="selectAllCounties(key, ckey)">
                                <span v-if="rules[key].countries.counties[ckey].ids.length > 0">
                                    Αφαίρεση όλων
                                </span>
                                <span v-else>
                                    Προσθήκη όλων
                                </span>
                            </button>
                            <multiselect
                                :searchable="true"
                                v-model="rules[key].countries.counties[ckey].ids"
                                valueProp="id"
                                id="id"
                                :object="false"
                                localize="el"
                                label="title"
                                mode="tags"
                                :options="countries.find(x => rules[key].countries.ids.includes(x.id)).counties"
                                class="mb-4"
                            ></multiselect>


                            <button
                                v-if="rules[key].countries.counties[ckey].ids.length"
                                @click="addCartRules(key, ckey)"
                                class="bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-indigo-600 focus-visible:outline-offset-2 font-semibold hover:bg-indigo-500 px-5 rounded shadow-sm text-sm text-white w-52">
                                Προσθήκη κανόνα
                            </button>

                            <button
                                v-if="rules[key].countries.counties[ckey].ids.length"
                                @click="deleteCounty(key, ckey)"
                                class=""
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                </svg>

                            </button>

                        </div>


                        <!-- cart rules -->
                        <div
                            v-if="rules[key].countries.counties[ckey].ids.length"
                            v-for="(rule, cartrule) in rules[key].countries.counties[ckey].cart_rules"
                            :key="cartrule"
                            class="mb-6 pl-8 border-l border-gray-300"
                        >


                            <div class="flex gap-4 mt-2">
                                <div class="w-52 ">
                                    <select
                                        v-model="ruleType"
                                        id="operator" name="operator"
                                        class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <option value="">Επιλογή πεδίου</option>
                                        <option value="price">Τιμή Καλαθιού</option>
                                        <option value="products">Προϊόντα</option>
                                        <option value="weight">Βάρος</option>
                                        <option value="volumetric">Ογκοχρέωσης</option>
                                        <option value="size">Διαστάσεις</option>
                                        <option value="zip">Τκ</option>
                                    </select>
                                </div>
                                <div class="w-52">
                                    <button
                                        v-if="rules[key].countries.counties[ckey].ids.length"
                                        @click="addCartRulesItem(key, ckey, cartrule)"
                                        class="w-52  -2 mt-2 rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                        Προσθήκη πεδίου
                                    </button>
                                </div>
                                <button
                                    v-if="rules[key].countries.counties[ckey].ids.length"
                                    @click="deleteCartRuleItem(key, ckey, cartrule)"
                                    class="mt-8"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                    </svg>

                                </button>
                            </div>


                            <div
                                v-for="(item , itemKey) in rules[key].countries.counties[ckey].cart_rules[cartrule].rules ">
                                <!--cart price-->
                                <div v-if="item.cart !== undefined"
                                     class="price_rule   gap-x-6 gap-y-8 sm:grid-cols-6">
                                    <!-- rule price -->
                                    <div class="flex gap-4 mt-2">
                                        <div class="w-52 " v-if="itemKey > 0">
                                            <label for="operator"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Eάν το
                                                σύνολο:</label>
                                            <select
                                                v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].cart.operator"
                                                id="operator" name="operator"
                                                class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                <option value="or">η</option>
                                                <option value="and">Καί</option>
                                            </select>
                                        </div>
                                        <div class="w-52 ">
                                            <label for="operator"
                                                   class="block text-sm font-medium leading-6 text-gray-900">και:</label>
                                            <select
                                                v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].cart.method"
                                                id="operator" name="operator"
                                                class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                <option value="=">Είναι</option>
                                                <option value="!=">δεν είναι</option>
                                                <option value="!=">είναι ίσον</option>
                                                <option value=">">είναι μεγαλύτερο</option>
                                                <option value=">=">είναι μεγαλύτερο ίσον</option>
                                                <option value="<">είναι μικρότερο</option>
                                                <option value="<=">είναι μικρότερο ίσον</option>
                                            </select>
                                        </div>
                                        <div class="w-52">
                                            <label for="cart_total"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Ελάχιστη
                                                τιμή</label>
                                            <div class="mt-2">
                                                <input type="text" id="cart_total"
                                                       v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].cart.min_price"
                                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                >
                                            </div>
                                        </div>
                                        <div class="w-52">
                                            <label for="cart_total"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Mέγιστη
                                                τιμή</label>
                                            <div class="mt-2">
                                                <input
                                                    type="text"
                                                    id="cart_total"
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].cart.max_price"
                                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                >
                                            </div>
                                        </div>
                                        <!--delete -->
                                        <button
                                            v-if="rules[key].countries.counties[ckey].ids.length"
                                            @click="deleteCartRuleItem(key, ckey, cartrule)"
                                            class="mt-8"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                            </svg>

                                        </button>
                                        <!--delete -->
                                    </div>
                                    <!--rule product -->
                                </div>
                                <!--end cart price-->

                                <!--cart size-->
                                <div v-if="item.size !== undefined"
                                     class="price_rule   gap-x-6 gap-y-8 sm:grid-cols-6">
                                    <!-- rule price -->
                                    <div class="flex gap-4 mt-2">
                                        <div class="w-52 " v-if="itemKey > 0">
                                            <label for="operator"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Eάν το
                                                Μέγεθος:</label>
                                            <select
                                                v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].size.operator"
                                                id="operator" name="operator"
                                                class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                <option value="or">η</option>
                                                <option value="and">Καί</option>
                                            </select>
                                        </div>
                                        <div class="w-52 ">
                                            <label for="operator"
                                                   class="block text-sm font-medium leading-6 text-gray-900">και:</label>
                                            <select
                                                v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].size.method"
                                                id="operator" name="operator"
                                                class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                <option value="=">Είναι</option>
                                                <option value="!=">δεν είναι</option>
                                                <option value="!=">είναι ίσον</option>
                                                <option value=">">είναι μεγαλύτερο</option>
                                                <option value=">=">είναι μεγαλύτερο ίσον</option>
                                                <option value="<">είναι μικρότερο</option>
                                                <option value="<=">είναι μικρότερο ίσον</option>
                                            </select>
                                        </div>
                                        <div class="w-52">
                                            <label for="cart_total"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Πλάτος</label>
                                            <div class="mt-2">
                                                <input type="text" id="cart_total"
                                                       v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].size.width"
                                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                >
                                            </div>
                                        </div>
                                        <div class="w-52">
                                            <label for="cart_total"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Μήκος</label>
                                            <div class="mt-2">
                                                <input
                                                    type="text"
                                                    id="cart_total"
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].size.length"
                                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                >
                                            </div>
                                        </div>
                                        <div class="w-52">
                                            <label for="cart_total"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Ύψος</label>
                                            <div class="mt-2">
                                                <input
                                                    type="text"
                                                    id="cart_total"
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].size.height"
                                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                >
                                            </div>
                                            <!--                                            delete-->
                                            <button
                                                v-if="rules[key].countries.counties[ckey].ids.length"
                                                @click="deleteCartRuleItem(key, ckey, cartrule)"
                                                class="mt-8"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>

                                            </button>
                                            <!--delete -->
                                        </div>
                                        <!--rule product -->
                                    </div>
                                    <!--end cart price-->

                                    <!--cart weight-->
                                    <div
                                        v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].weight !== undefined"
                                        class="weight_rule   gap-x-6 gap-y-8 sm:grid-cols-6">
                                        <!-- rule weight -->
                                        <div class="flex gap-4 mt-2">
                                            <div class="w-52 ">
                                                <label for="operator"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Eάν το
                                                    Βάρος:</label>
                                                <select
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].weight.operator"
                                                    id="operator" name="operator"
                                                    class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                    <option value="or">η</option>
                                                    <option value="and">Καί</option>
                                                </select>
                                            </div>
                                            <div class="w-52 ">
                                                <label for="operator"
                                                       class="block text-sm font-medium leading-6 text-gray-900">και:</label>
                                                <select
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].weight.method"
                                                    id="operator" name="operator"
                                                    class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                    <option value="=">Είναι</option>
                                                    <option value="!=">δεν είναι</option>
                                                    <option value="!=">είναι ίσον</option>
                                                    <option value=">">είναι μεγαλύτερο</option>
                                                    <option value=">=">είναι μεγαλύτερο ίσον</option>
                                                    <option value="<">είναι μικρότερο</option>
                                                    <option value="<=">είναι μικρότερο ίσον</option>
                                                </select>
                                            </div>
                                            <div class="w-52">
                                                <label for="cart_total"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Ελάχιστο
                                                    Βάρος</label>
                                                <div class="mt-2">
                                                    <input type="text" id="cart_total"
                                                           v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].weight.min"
                                                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                    >
                                                </div>
                                            </div>
                                            <div class="w-52">
                                                <label for="cart_total"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Mέγιστο
                                                    βάρος</label>
                                                <div class="mt-2">
                                                    <input
                                                        type="text"
                                                        id="cart_total"
                                                        v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].weight.max"
                                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                    >
                                                </div>
                                            </div>
                                            <!--delete -->
                                            <button
                                                v-if="rules[key].countries.counties[ckey].ids.length"
                                                @click="deleteCartRuleItem(key, ckey, cartrule)"
                                                class="mt-8"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>

                                            </button>
                                            <!--delete -->
                                        </div>
                                        <!--rule product -->
                                    </div>
                                    <!--end cart price-->

                                    <!--cart zip-->
                                    <div
                                        v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].zip !== undefined"
                                        class="weight_rule   gap-x-6 gap-y-8 sm:grid-cols-6">
                                        <!-- rule weight -->
                                        <div class="flex gap-4 mt-2">
                                            <div class="w-52 ">
                                                <label for="operator"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Eάν το
                                                    ΤΚ:</label>
                                                <select
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].zip.operator"
                                                    id="operator" name="operator"
                                                    class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                    <option value="or">η</option>
                                                    <option value="and">Καί</option>
                                                </select>
                                            </div>
                                            <div class="w-52 ">
                                                <label for="operator"
                                                       class="block text-sm font-medium leading-6 text-gray-900">και:</label>
                                                <select
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].zip.method"
                                                    id="operator" name="operator"
                                                    class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                                    <option value="=">Είναι</option>
                                                    <option value="!=">δεν είναι</option>
                                                    <option value="!=">είναι ίσον</option>
                                                    <option value=">">είναι μεγαλύτερο</option>
                                                    <option value=">=">είναι μεγαλύτερο ίσον</option>
                                                    <option value="<">είναι μικρότερο</option>
                                                    <option value="<=">είναι μικρότερο ίσον</option>
                                                </select>
                                            </div>
                                            <textarea
                                                v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].zip.codes"
                                                id="" cols="20" rows="5"></textarea>
                                            <!--delete -->
                                            <button
                                                v-if="rules[key].countries.counties[ckey].ids.length"
                                                @click="deleteCartRuleItem(key, ckey, cartrule)"
                                                class="mt-8"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>

                                            </button>
                                            <!--delete -->
                                        </div>
                                        <!--rule product -->
                                    </div>
                                    <!--end cart zip-->


                                </div>
                                <!-- end cart size-->
                                <!-- end cart shippings-->
                                <div
                                    v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings !== undefined">


                                    <div class="flex gap-4 mb-2 mt-4">
                                        <multiselect
                                            :searchable="true"
                                            v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.ids"
                                            valueProp="id"
                                            id="id"
                                            :object="false"
                                            localize="el"
                                            label="title"
                                            mode="tags"
                                            :options="couriers"
                                            class="mb-4"
                                        ></multiselect>

                                        <div class="w-52 ">
                                            <label for="price"
                                                   class="block text-sm font-medium leading-6 text-gray-900">Τιμή
                                                χρέωσης</label>
                                            <div class="relative  rounded-md shadow-sm">
                                                <div
                                                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                                    <span class="text-gray-500 sm:text-sm">€</span>
                                                </div>
                                                <input
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.extra_price"
                                                    type="text" name="price" id="price"
                                                    class="block w-full  border-0 py-2 pl-7 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                    placeholder="0.00" aria-describedby="price-currency">
                                                <div
                                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                                                    <span class="text-gray-500 sm:text-sm"
                                                          id="price-currency">EUR</span>
                                                </div>
                                            </div>
                                        </div>


                                        <button
                                            v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.ids.length"
                                            @click="addCartShippingPayment(key, ckey, cartrule, itemKey)"
                                            class="w-52 rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                        >
                                            Τρόποι Πληρωμής
                                        </button>

                                        <button
                                            v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.ids.length"
                                            @click="deleteCartShippingPayment(key, ckey, cartrule, itemKey)"
                                            class=""
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                            </svg>

                                        </button>

                                    </div>

                                    <!--Payments rules-->
                                    <div
                                        v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.ids.length"
                                        v-for="(payment, paymentKey) in rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments"
                                        :key="paymentKey"
                                        class="mb-6 pl-4 border-l-2 border-gray-300"
                                    >
                                        <div class="flex gap-4 mt-2 ml-6">
                                            <!--select payment type-->
                                            <div class="w-full">
                                                <label for="payment_type"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Τρόπος
                                                    πληρωμής</label>
                                                <multiselect
                                                    :searchable="true"
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].ids"
                                                    valueProp="id"
                                                    id="id"
                                                    :object="false"
                                                    localize="el"
                                                    label="title"
                                                    :options="payments"
                                                    class="mb-4"
                                                    @change="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].county_id = null"
                                                ></multiselect>
                                            </div>
                                            <!--end select payment type-->
                                            <!-- local payment county field-->
                                            <div class="w-64"
                                                 v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].ids == 1">
                                                <label for="payment_type"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Περιοχή</label>
                                                <multiselect
                                                    :searchable="true"
                                                    v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].county_id"
                                                    valueProp="id"
                                                    id="id"
                                                    :object="false"
                                                    localize="el"
                                                    label="title"
                                                    :options="countries.find(x => rules[key].countries.ids.includes(x.id)).counties"
                                                    class="mb-4"
                                                ></multiselect>
                                            </div>
                                            <!-- end local payment county field-->

                                            <div class="w-52 ">
                                                <label for="price"
                                                       class="block text-sm font-medium leading-6 text-gray-900">Τιμή
                                                    χρέωσης</label>
                                                <div class="relative  rounded-md shadow-sm">
                                                    <div
                                                        class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                                        <span class="text-gray-500 sm:text-sm">€</span>
                                                    </div>
                                                    <input
                                                        v-model="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].extra_price"
                                                        type="text" name="price" id="price"
                                                        class="block w-full  border-0 py-2 pl-7 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                        placeholder="0.00" aria-describedby="price-currency">
                                                    <div
                                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                                                        <span class="text-gray-500 sm:text-sm"
                                                              id="price-currency">EUR</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button
                                                v-if="rules[key].countries.counties[ckey].cart_rules[cartrule].rules[itemKey].shippings.payments[paymentKey].ids != null"
                                                @click="deleteCartShippingPaymentItem(key, ckey, cartrule, itemKey, paymentKey)"
                                                class="mt-2"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>

                                            </button>
                                        </div>

                                    </div>
                                    <!--end payments rules-->

                                </div>


                            </div>
                            <button
                                v-if="rules[key].countries.counties[ckey].ids.length"
                                @click="addCartShipping(key, ckey, cartrule, itemKey)"
                                class="my-2 rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                            >
                                Προσθήκη μεταφορικών
                            </button>


                        </div>
                    </div>
                </div>

            </div>

            <div class="flex flex-row justify-between">
                <button v-if="rules.length" @click="saveRule" type="button"
                        class="rounded bg-green-500 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Αποθήκευση Κανόντα
                </button>

                <div class="flex flex-col justify-between">
                    <button class="bg-blue-500 px-2 py-2 text-white" @click="downloadJson">Αποθήκευση Κανόνων Τοπικά
                    </button>


                </div>
            </div>

            <div class=" flex flex-col  justify-end mt-4 text-right">


                <div class="flex flex-col gap-4 w-80 mb-4">
                    <textarea v-model="insertJson"></textarea>
                    <button @click="insertJsonToRule"
                            class="rounded bg-indigo-500 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        Εισαγωγή Json
                    </button>

                </div>



                <button v-if="rules.length" @click="deleteRule" type="button"
                        class="rounded bg-red-500 px-2 w-64 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Διαγραφή Κανόντα
                </button>
            </div>
            <!-- </div> -->
        </div>
    </div>
</template>
<script>
import myQueryBuilder from "../elements/myQueryBuilder";
import inputSelect from '../elements/fields/selectfield';
import inputText from '../elements/fields/textfield';
import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";
import {toast} from "vue3-toastify";
import CountrySelector from "@/components/elements/fields/CountrySelector.vue";
import CountySelect from "@/components/elements/fields/CountySelect.vue";

export default {
    components: {
        myQueryBuilder,
        inputSelect,
        CountrySelector,
        CountySelect,
        Multiselect
    },
    props: {
        stracture: {
            type: String,
            required: false,
        }
    },
    data: () => ({
        insertJson: '',
        ruleType: '',
        newWeightRow: {
            min_weight: 0,
            max_weight: 0,
            price: 0
        },
        counties: [],
        payments: [],
        countries: [],
        couriers: [],
        shippings: [],
        edit: false,
        selectedPayment: null,
        selectedCounty: null,
        selectedShipping: [],
        selectedSchipping: null,
        selectedCountry: null,
        rules: [],
        courier: {
            title: null,
            name: null,
            model: null,
            amount: null,
            price: null,
        },
        emptyRule: {
            name: "",
            id: null,
            accepted_shipping: [
                {
                    name: "",
                    id: null,
                    price_by_weight: [
                        {
                            min_weight: null,
                            max_weight: null,
                            price: null,
                        },

                    ],
                    price: 0,
                    max_total: 0,
                    min_price: 0,
                    weight: [],
                    zip: ["10000", "20000"],
                    accepted_payments: [
                        {
                            name: "",
                            id: null,
                            price: 0,
                        },

                    ],
                },
            ],
        }
    }),
    methods: {
        watch: {},
        insertJsonToRule: function (val) {
            alert('Να γίνει εισαγωγή δεδομένων')
            if (this.insertJson == '') {
                this.rules = [{
                    "countries": {
                        "ids": [1],
                        "counties": [{
                            "ids": [1],
                            "cart_rules": [{
                                "operator": "or",
                                "cart": {"operator": "or", "price": "0", "method": "="},
                                "product": {
                                    "operator": "or",
                                    "price": null,
                                    "category": [],
                                    "fields": [],
                                    "method": "="
                                },
                                "weight": {"operator": "or", "min": null, "max": null, "method": "="},
                                "size": {"operator": "or", "min": null, "max": null, "method": "="},
                                "tags": {"operator": "or", "id": null, "method": "="},
                                "zip": {"operator": "or", "codes": [], "method": "="},
                                "shippings": [{
                                    "ids": [],
                                    "payments": [{"ids": 1, "extra_price": "12"}, {"ids": 2, "extra_price": "2"}]
                                }]
                            }]
                        }]
                    }
                }];
            } else {
                this.rules = JSON.parse(this.insertJson);
            }
        },
        pushRule() {
            this.rules.push(this.emptyRule);
        },
        getPayments() {
            axios.get('/manage/get-payments')
                .then(function (response) {
                    this.payments = response.data
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        // deleteCounty(i, ic) {
        //     this.rules[i].county.splice(ic, 1);
        // },
        deleteAccepted_shppint(i, ic, icp) {
            this.rules[i].county[ic].accepted_shipping.splice(icp, 1);
        },
        deletePaymentMethod(i, ic, icp, icpap) {
            console.log(i, ic, icp, icpap)
            this.rules[i].county[ic].accepted_shipping[icp].accepted_payments.splice(icpap, 1);
        },
        downloadJson() {
            // Μετατροπή του JSON σε string με όμορφη μορφοποίηση (indentation)
            const jsonString = JSON.stringify(this.rules, null, 2);
            // Δημιουργία ενός Blob αντικειμένου με τύπο "application/json"
            const blob = new Blob([jsonString], {type: "application/json"});
            // Δημιουργία προσωρινού URL για το Blob
            const url = URL.createObjectURL(blob);

            // Δημιουργία ενός προσωρινού <a> στοιχείου για το download
            const link = document.createElement('a');
            link.href = url;
            link.download = 'rules.json'; // όνομα αρχείου που θα κατέβει
            document.body.appendChild(link);
            link.click();

            // Καθαρισμός: αφαίρεση του στοιχείου και ακύρωση του URL
            document.body.removeChild(link);
            URL.revokeObjectURL(url);
        },
        getCountries() {
            axios.get('/manage/countries/all', {
                "rules": self.rules
            })
                .then(function (response) {
                    this.countries = response.data

                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        storeRule() {
            var self = this;
            axios.post('/manage/countries/store_rule', {
                "rules": self.rules
            })
                .then(function (response) {
                    console.log(response.data)
                    alert('Η ΔΗΜΙΟΥΡΓΙΑ ΟΛΟΚΛΗΡΩΘΗΚΕ');
                }.bind(self))
                .catch(function (error) {
                    console.log(error);
                });
        },
        getShippings() {
            var self = this;
            axios.post('/shippings/all', {
                "rules": self.rules
            })
                .then(function (response) {
                    this.shippings = response.data
                }.bind(self))
                .catch(function (error) {
                    console.log(error);
                });
        },
        addWeightRow(i, ic, icp) {
            const clone = Object.assign({}, this.newWeightRow);
            this.rules[i].county[ic].accepted_shipping[icp].price_by_weight.push(clone)
        },
        addPayments(i, ic, icp) {
            let payment = this.payments.find(x => x.id == this.selectedPayment)
            this.rules[i].county[ic].accepted_shipping[icp].accepted_payments.push({
                name: payment.title,
                id: payment.id,
                price: 0,
            })
        },
        addShipping(i, ic) {
            // let shipping = this.couriers.find(x => x.id == this.selectedShipping)
            // console.log(shipping)
            // check if this.rules[i].county[ic].accepted_shipping is array


            this.rules[i].county[ic].accepted_shipping.push({
                id: this.selectedShipping,
                price_by_weight: false,
                price: null,
                weight: [],
                // price_by_weight: [],
                accepted_payments: []
            })


            this.$forceUpdate();
        },
        createRule() {
            this.rules.push({
                countries:
                    {
                        ids: [],
                        counties: []

                    }


            });
        },
        addCounties(key) {
            this.rules[key].countries.counties.push({
                ids: [],
                cart_rules: [],
            });
        },
        addCartShipping(key, ckey, rkey, itemKey) {
            this.rules[key].countries.counties[ckey].cart_rules[rkey].rules.push({
                shippings: {
                    ids: [],
                    extra_price: 0,
                    payments: []
                }
            });
        },
        deleteCartShipping(key, ckey, rkey) {
            this.rules[key].countries.counties[ckey].cart_rules.splice(rkey, 1);
        },
        addCartShippingPayment(key, ckey, rkey, itemKey) {
            this.rules[key].countries.counties[ckey].cart_rules[rkey].rules[itemKey].shippings.payments.push({
                ids: [],
                extra_price: 0,
                county_id: null,
            });
        },
        deleteCartShippingPayment(key, ckey, rkey, itemKey, paymentKey) {
            this.rules[key].countries.counties[ckey].cart_rules[rkey].rules.splice(itemKey, 1);
        },
        deleteCartShippingPaymentItem(key, ckey, rkey, skey, pkey) {
            this.rules[key].countries.counties[ckey].cart_rules[rkey].rules[skey].shippings.payments.splice(pkey, 1);

            this.rules[key].countries.counties[ckey].cart_rules[rkey].shippings[skey].payments.splice(pkey, 1);
        },
        deleteCartRule(key, ckey, rkey) {
            this.rules[key].countries.counties[ckey].cart_rules.splice(rkey, 1);
        },
        deleteCartRuleItem(key, ckey, rkey, itemKey) {
            this.rules[key].countries.counties[ckey].cart_rules.splice(rkey, 1);
        },
        deleteCounty(key, ckey) {
            this.rules[key].countries.counties.splice(ckey, 1);
        },
        selectAllCounties(i, ckey) {
            if (this.rules[i].countries.counties[ckey].ids.length == this.countries.find(x => this.rules[i].countries.ids.includes(x.id)).counties.length) {
                this.rules[i].countries.counties[ckey].ids = [];
            } else {
                this.rules[i].countries.counties[ckey].ids = [];
                let allCounties = this.countries.find(x => this.rules[i].countries.ids.includes(x.id)).counties
                for (let a = 0; a < allCounties.length; a++) {
                    this.rules[i].countries.counties[ckey].ids.push(
                        allCounties[a].id,
                    );
                }
            }
            // this.rules[i].countries.counties[ckey].ids = [];
            // let allCounties = this.countries.find(x => this.rules[i].countries.ids.includes(x.id)).counties
            // alert(allCounties.length)
            // for (let a = 0; a < allCounties.length; a++) {
            //     this.rules[i].countries.counties[ckey].ids.push(
            //         allCounties[a].id,
            //     );
            // }

        },
        addCartRules(key, ckey) {
            this.rules[key].countries.counties[ckey].cart_rules.push(
                {
                    operator: 'or', // end or or

                    rules: []
                }

                // {
                //
                // }
            );
        },
        //delte this
        addCartRulesItem(key, ckey, cartrule) {

            let data = {};

            switch (this.ruleType) {
                case 'price':

                    if (!this.rules[key] || !this.rules[key].countries || !this.rules[key].countries.counties || !this.rules[key].countries.counties[ckey]) {
                        alert('Error: Some objects are undefined.');
                        break;
                    }

                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push(
                        {
                            cart: {
                                operator: 'or', // end or or
                                min_price: null,
                                max_price: null,
                                method: '=',
                            }

                        });
                    break;
                case 'products':
                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push({
                        operator: 'or', // end or or
                        product: {
                            operator: 'or', // end or or
                            price: null,
                            category: [],
                            fields: [],
                            method: '=',
                        }
                    });

                case 'weight':
                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push({
                        operator: 'or', // end or or
                        weight: {
                            operator: 'or', // end or or
                            min: null,
                            max: null,
                            method: '=',
                        }
                    });
                    break;
                case 'volumetric':
                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push({
                        operator: 'or', // end or or
                        volumetric: /// ογκομετρικό
                            {
                                operator: 'or', // end or or
                                height: null,
                                width: null,
                                length: null,
                                value: 5000, // height * width * length / value
                                method: '>',
                            }
                    });
                    break;
                case 'size':
                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push({
                        operator: 'or', // end or or
                        size:
                            {
                                operator: 'or', // end or or
                                height: null,
                                width: null,
                                length: null,
                                method: '<',
                            }
                    });
                    break;
                case 'zip':
                    this.rules[key].countries.counties[ckey].cart_rules[cartrule].rules.push({
                        operator: 'or', // end or or
                        zip: {
                            operator: 'or', // end or or
                            codes: "",
                            method: '='
                        },
                    });
                    break;
            }

            // this.rules[key].countries.counties[ckey].cart_rules.push({
            //     operator: 'or', // end or or
            //     product: {
            //         operator: 'or', // end or or
            //         price: null,
            //         category: [],
            //         fields: [],
            //         method: '=',
            //     },
            //     weight: {
            //         operator: 'or', // end or or
            //         min: null,
            //         max: null,
            //         method: '=',
            //     },
            //     volumetric: /// ογκομετρικό
            //         {
            //             operator: 'or', // end or or
            //             height: null,
            //             width: null,
            //             length: null,
            //             value: 5000, // height * width * length / value
            //             method: '>',
            //         },
            //     size:
            //         {
            //             operator: 'or', // end or or
            //             height: null,
            //             width: null,
            //             length: null,
            //             method: '<',
            //         },
            //     tags:
            //         {
            //             operator: 'or', // end or or
            //             id: null,
            //             method: '=',
            //         },
            //     zip: {
            //         operator: 'or', // end or or
            //         codes: [],
            //         method: '='
            //     },
            //     shippings: []
            // });
        },
        // delete this
        addCounty(i) {

            this.rules[i].county.push({
                name: 'All',
                id: this.selectedCounty,
                cart_product_rules: [],
                accepted_shipping: []
            });
            // if (this.selectedCounty == 0) {
            //     this.rules[i].county.push({
            //         name: 'All',
            //         id: [0],
            //         accepted_shipping: []
            //     });
            // } else {
            //
            //     let county = this.countries[i].counties.find(x => x.id == this.selectedCounty)
            //     this.rules[i].county.push({
            //         name: county.title,
            //         id: county.id,
            //         accepted_shipping: []
            //     });
            // }
        },
        // delete this
        addCountry() {
            // let country = this.countries.find(x => x.id == this.selectedCountry)
            // country.counties.push({'title': 'All', id: 0});
            this.rules.push({
                country: this.selectedCountry,
                county: [],
                // accepted_shipping: []
            })
        },
        create() {
            alert('create');
        },
        getCouriers() {
            axios.get('/manage/get-shippings')
                .then(function (response) {
                    this.couriers = response.data
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
        },
        deleteRule() {
            var self = this;
            axios.delete('/manage/shipping-payment-rule', {
                "rules": self.rules
            })
                .then(function (response) {
                    console.log(response.data)
                    alert('Η Διαγρή ολοκληρώθηκε');
                    //refresh window
                    location.reload();
                }.bind(self))
                .catch(function (error) {
                    console.log(error);
                });
        },
        saveRule() {
            axios.post('/manage/shipping-payment-rule', {rules: this.rules})
                .then(response => {
                    console.log(response.data);
                    toast.success(response.data.message);
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
    created() {
    },
    mounted() {
        if (this.stracture != null && this.stracture !== '') {
            this.rules = JSON.parse(this.stracture);
        }

        // this.rules = this.allrules;
        this.getCountries();
        this.getCouriers();
        this.getPayments();
    }
}

</script>
