<template>
	<div>

		<div class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4  ">
			<!--      <h2>Rules</h2>-->
			<div class="grid grid-cols-12 gap-4">
				<div class="col-span-3">
					<input-select v-model="selectedCountry" value="id" :translatable="false" title="title"
												:selectableOptions="countries" placeholder="Field" label="Επιλογή Χώρας"/>
				</div>
				<div class="col-span-1">
					<button class="bg-blue-500 px-4 py-2 rounded text-white mt-6  " type="button" @click="addCountry">ADD</button>
				</div>
			</div>
		</div>
		<!-- <div class="grid grid-cols-12 "> -->
		<div class="bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4" v-for="(r, i) in rules">
			<div class="grid grid-cols-12 gap-4">
				<div class="col-span-3">
					<input-select v-model="selectedCounty" value="id" :translatable="false" title="title"
												:selectableOptions="r.country.counties" placeholder="Field" label="Region"/>
				</div>
				<div class="col-span-1">
					<button class="bg-blue-500 px-4 py-2 rounded text-white mt-6" type="button" @click="addCounty(i)">ADD</button>
				</div>
			</div>
			<!-- <input-select v-model="r.country" value="id" :translatable="false" :selectableOptions="['ΕΛΛΑΔΑ']" placeholder="Field" label="Country" /> -->
			<div class="border border-gray-300 m-3 p-3" v-for="(ap, ic) in r.county">
				{{ ap.name }} <span @click="deleteCounty(i, ic)">Delete</span>
				<input-select v-model="selectedShipping" value="id" :translatable="false" title='title'
											:selectableOptions="couriers" placeholder="Field" label="Select Shipping Method"/>
				<button class="bg-blue-500 px-4 py-2 rounded text-white mt-6" type="button" @click="addShipping(i, ic)">ADD
					Shipping
				</button>
				<div class="m-3 p-3 border" v-for="(apc, icp) in ap.accepted_shipping">
					{{ apc.title }} <span @click="deleteAccepted_shppint(i, ic, icp)">Delete</span>
					<div class="grid grid-cols-12 gap-4">
						<input-text v-model="apc.price" columns="col-span-2" placeholder="Null" label="Fixed Price"/>
						<button class="col-span-2 border rounded" type="button"
										@click="apc.price_by_weight = !apc.price_by_weight">Set Price By Weight
						</button>
					</div>
					<div class="grid grid-cols-1 p-3" v-if="apc.price_by_weight">
						<div class="col-span-1 bg-blue-100 p-3">
							<table class=" text-left">
								<thead class="p-3">
								<tr>
									<th>Min Weight</th>
									<th>Max Weight</th>
									<th>Price</th>
									<th>Controller</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="(acpw, icpw) in apc.price_by_weight">
									<td><input class="bg-blue-100 border-blue-300 w-full" type="text"
														 v-model="apc.price_by_weight[icpw].min_weight"></td>
									<td><input class="bg-blue-100 border-blue-300 w-full" type="text" v-model="acpw.max_weight"></td>
									<td><input class="bg-blue-100 border-blue-300 w-full" type="text" v-model="acpw.price"></td>
									<td>
										<div class="cursor-pointer" @click="apc.price_by_weight.splice(icpw, 1)">
											<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
													 stroke="currentColor">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
															d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
											</svg>
										</div>
									</td>
								</tr>
								<tr class="h-6"></tr>
								<tr class="mt-4">
									<td><input class="w-full" type="text" v-model="newWeightRow.min_weight"></td>
									<td><input class="w-full" type="text" v-model="newWeightRow.max_weight"></td>
									<td><input class="w-full" type="text" v-model="newWeightRow.price"></td>
									<td>
										<button class="bg-blue-500 w-full text-white p-2 " @click="addWeightRow(i, ic, icp)">ADD</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="grid grid-cols-12 gap-4">
						<input-select v-model="selectedPayment" columns="col-span-6" value="" :translatable="false" title="title"
													:selectableOptions="payments" placeholder="Field" label="Select Available Payment Methods"/>
						<button class="col-span-2 bg-blue-500 px-4 py-2 rounded text-white mt-6 " type="button"
										@click="addPayments(i, ic, icp)">ADD Payment Method
						</button>
					</div>
					<hr>
					<div class="m-3 p-3 border" v-for="(apcp, icppap) in apc.accepted_payments">
						{{ apcp.name }}
						<input-text v-model="apcp.price" placeholder="" label="Price"/>
						<div class="float-right">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
									 stroke="currentColor" @click="deletePaymentMethod(i, ic, icp, icppap)">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
							</svg>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div>
			<button class='bg-green-500 py-3 px-5 text-white' v-if="!edit" v-on:click="storeRule">ΔΗΜΙΟΥΡΓΙΑ</button>
			<!--                 <button class='bg-green-500 py-3 px-5 text-white' v-if="edit" v-on:click="update">ΕΝΗΜΕΡΩΣΗ</button>-->
		</div>
		<div class="grid grid-1 bg-white shadow-md m-5 rounded px-8 pt-6 pb-8 mb-4">
		</div>
		<!-- </div> -->
	</div>
</template>
<script>
import myQueryBuilder from "../elements/myQueryBuilder";
import inputSelect from '../elements/fields/selectfield';
import inputText from '../elements/fields/textfield';

export default {
	components: {
		myQueryBuilder
	},
	props: ['allrules'],
	data: () => ({
		newWeightRow: {
			min_weight: 0,
			max_weight: 0,
			price: 0
		},
		counties: [],
		payments: [],
		countries: [],
		couriers: [],
		shippings: [],
		edit: false,
		selectedPayment: null,
		selectedCounty: null,
		selectedShipping: null,
		selectedSchipping: null,
		selectedCountry: null,
		rules: [],
		courier: {
			title: null,
			name: null,
			model: null,
			amount: null,
			price: null,
		}
	}),
	methods: {
		getPayments() {
			axios.get('/manage/get-payments')
					.then(function (response) {
						this.payments = response.data
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					});
		},
		deleteCounty(i, ic) {
			this.rules[i].county.splice(ic, 1);
		},
		deleteAccepted_shppint(i, ic, icp) {
			this.rules[i].county[ic].accepted_shipping.splice(icp, 1);
		},
		deletePaymentMethod(i, ic, icp, icpap) {
			console.log(i, ic, icp, icpap)
			this.rules[i].county[ic].accepted_shipping[icp].accepted_payments.splice(icpap, 1);
		},
		getCountries() {
			axios.get('/manage/countries/all', {
				"rules": self.rules
			})
					.then(function (response) {
						this.countries = response.data
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					});
		},
		storeRule() {
			var self = this;
			axios.post('/manage/countries/store_rule', {
				"rules": self.rules
			})
					.then(function (response) {
						console.log(response.data)
					}.bind(self))
					.catch(function (error) {
						console.log(error);
					});
		},
		getShippings() {
			var self = this;
			axios.post('/shippings/all', {
				"rules": self.rules
			})
					.then(function (response) {
						this.shippings = response.data
					}.bind(self))
					.catch(function (error) {
						console.log(error);
					});
		},
		addWeightRow(i, ic, icp) {
			const clone = Object.assign({}, this.newWeightRow);
			this.rules[i].county[ic].accepted_shipping[icp].price_by_weight.push(clone)
		},
		addPayments(i, ic, icp) {
			let payment = this.payments.find(x => x.id == this.selectedPayment)
			this.rules[i].county[ic].accepted_shipping[icp].accepted_payments.push({
				name: payment.title,
				id: payment.id,
				price: 0,
			})
		},
		addShipping(i, ic) {
			let shipping = this.couriers.find(x => x.id == this.selectedShipping)
			this.rules[i].county[ic].accepted_shipping.push({
				id: shipping.id,
				title: shipping.title,
				price_by_weight: false,
				price: null,
				weight: [],
				// price_by_weight: [],
				accepted_payments: []
			})
			this.$forceUpdate();
		},
		addCounty(i) {

			if (this.selectedCounty == 0) {
				this.rules[i].county.push({
					name: 'All',
					accepted_shipping: [],
				});
			} else {
				let county = this.countries[i].counties.find(x => x.id == this.selectedCounty)
				this.rules[i].county.push({
					name: county.title,
					id: county.id,
					accepted_shipping: [],
				});
			}
		},
		addCountry() {
			let country = this.countries.find(x => x.id == this.selectedCountry)
			country.counties.push({'title': 'All', id: 0});
			this.rules.push({
				country: country,
				county: [],
				accepted_shipping: []
			})
		},
		create() {
			alert('create');
		},
		getCouriers() {
			axios.get('/manage/get-shippings')
					.then(function (response) {
						this.couriers = response.data
					}.bind(this))
					.catch(function (error) {
						console.log(error);
					});
		}
	},
	created() {
	},
	mounted() {
		this.rules = this.allrules;
		this.getCountries();
		this.getCouriers();
		this.getPayments();
	}
}

</script>
