<template>
    <div class="m-5 shadow-md rounded bg-white p-5">
        <div v-for="(h, i) in headers" class="mb-2 border-b-2 grid grid-cols-6">
            <span class="pr-6 w-5/6"
                ><b>{{ h.title }}: </b></span
            >
            <span>{{ data[h.value] }}</span>
        </div>
        <div class="text-right mb-2 pt-5">
            <a
                :href="'/manage/' + entity + '/' + data.id"
                class="shadow bg-green-500 text-white px-5 py-3"
                >EDIT</a
            >
        </div>
    </div>
</template>

<script>
import NodeTree from "./NodeTree";

export default {
    name: "ShowModel",
    props: ["headers", "data", "entity"],
    data: () => ({
        categories: [],
    }),
    computed: {
        theUser: function () {
            return JSON.parse(this.dictionary);
        },
    },
};
</script>
