<template>
    <div class="tree">
        <ul class="tree-list treeview">
            <node-tree v-for="d in treeData" @categoriesHasBeenUpdatedFromNode="categoriesHasBeenUpdatedFromNode($event)" @selectedCategory="selectedCategory($event)" @selectedCategoryId="selectedItemId($event)" :language="language" :product-categories="productCategories" :picker="picker" :edit="edit" :key="d.id" :node="d">
            </node-tree>
        </ul>
    </div>
</template>
<script>
import NodeTree from "./NodeTree";
export default {
    name: "Tree",
    props: {
        picker: {
            type: Boolean,
            required: false,
            default: false,
        },
        treeData: {
            type: Array,
            required: true,
        },
        productCategories: {
            type: Array,
            required: true,
        },
        language: {
            type: String,
            required: true,
        },
        modelValue: {
            type: Array,
            required: false
        },
        edit: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    emits: ["pickedCategory","selected", "modelValue", "selectedItemId", "categoriesHasBeenUpdated", 'categoriesHasBeenUpdatedFromNode'],
    // props: ['treeData', 'productCategories', 'language', 'edit'],
    data: () => ({
        categories: [],
    }),
    methods: {
        pickedCategory(value){
            console.log(value)
            this.$emit("pickedCategory", value);
        },
        selectedCategory(value) {
            this.$emit("selected", value);
            this.$emit("modelValue", value);
        },
        selectedItemId(value) {
            console.log("tree" + value);
            this.$emit("selectedItemId", value);
            this.$emit("update:modelValue", value);
        },
        categoriesHasBeenUpdatedFromNode(value) {
            console.log("update tree value");
            console.log(value);
            if (this.productCategories.includes(value)) {
                for (var a = 0; a < this.productCategories.length; a++) {
                    if (this.productCategories[a] == value) {
                        this.productCategories.splice(a, 1);
                    }
                }
            } else {
                this.productCategories.push(value);
            }
            this.$emit("categoriesHasBeenUpdated", this.productCategories);
            this.$emit("update:modelValue", this.productCategories);
        },
    },
    watch: {},
    components: {
        NodeTree,
    },
    mounted() {
        // this.getCategories();
    },
};

</script>
<style>
.tree-list ul {
    padding-left: 16px;
    margin: 6px 0;
}

</style>
