<template>
    <span>
        {{unopened}}
    </span>
</template>
<script>

export default {
  data: () => ({
    unopened: 0
  }),
  methods: {

    getNewOrders(ev) {
      axios.get('/manage/unopend-orders')
          .then(function (response) {
            this.unopened = response.data;
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });

    },

  },

  created() {

    this.getNewOrders();
  }
}
</script>

